{% load cloud_extras %}

<div id="second-menu" class="container-fluid">
    <div class="">
        <ul class="navbar-left">
            <li class="deactive">Servers</li>
        </ul>
    </div>
    <div class="machines-buttons">
        <div class="navbar-right">
            <a href="#" class="secondmenu-button btn-busy">Busy</a>
            <a href="#" class="secondmenu-button btn-warn">Warning</a>
            <a href="#" class="secondmenu-button btn-critical">Critical</a>
            <a href="#" class="secondmenu-button btn-offline">Offline</a>
            <a href="#" class="secondmenu-button btn-windows">Windows</a>
            <a href="#" class="secondmenu-button btn-linux">Linux</a>
            <a href="#" class="secondmenu-button btn-bsd">BSD</a>
            <a href="#" class="secondmenu-button btn-cloud">Cloud</a>
            <a href="#" class="secondmenu-button btn-all active">All</a>
            <a href="#" class="filter-tag-selector">Choose tag</a>
            <ul class="filter-tags-box">
            {% for tag_category in servers_tags %}
                {% for tag in servers_tags|dict_get:tag_category %}
                    <li name="{{tag_category}}">
                        <a href="#"
                            data-type="{{tag|replace_dot}}"
                            class="secondmenu-button btn-{{tag|replace_dot}}"
                        >
                            {{tag}}
                        </a>
                    </li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
