<div id="second-menu" class="container-fluid">
    <div class="">
        <ul class="navbar-left">
            <li class="deactive">Servers</li>
        </ul>
    </div>
    <div class="machines-buttons">
        <ul class="navbar-right">
            <li>
                <a href="#" class="secondmenu-button btn-all active">All</a>
            </li>
            <li>
                <a href="#" class="secondmenu-button btn-busy">Busy</a>
            </li>
            <li>
                <a href="#" class="secondmenu-button btn-critical">Critical</a>
            </li>
            <li>
                <a href="#" class="secondmenu-button btn-offline">Offline</a>
            </li>
            <li>
                <a href="#" class="secondmenu-button btn-windows">Windows</a>
            </li>
            <li>
                <a href="#" class="secondmenu-button btn-linux">Linux</a>
            </li>
            <li>
                <a href="#" class="secondmenu-button btn-bsd">BSD</a>
            </li>
            <li>
                <a href="#" class="secondmenu-button btn-cloud">Cloud</a>
            </li>
        </ul>
    </div>
</div>
