{% load humanize %}
{% load cloud_extras %}

<div id="second-menu" class="container-fluid">
    <ul class="navbar-left">
        <li><a href="/" class="deactive">Servers</a></li>
    </ul>
    <ul class="navbar-right">
        
        {% if recently_clicked_servers|length > 1 %}
            <li><a href="/specials/clean/server/tabs">x</a></li>
        {% endif %}

        {% for server in recently_clicked_servers %}
        
            {% if forloop.last %}
                <li class="servername active">{{server|dict_get:"name"|upper}}</li>
            {% else %}
                <li><a href="{{server|dict_get:"link"}}" class="deactive">{{server|dict_get:"name"|upper}}</a></li>
            {% endif %}
        
        {% endfor %}
    </ul>
    
    <!--
    <ul class="navbar-right">
        <li>
            <a href="#server_detail" rel="nofollow" title="Server Details"><i class="fa fa-server"></i></a>
        </li>
        <li>
            <a href="#system_metrics" rel="nofollow" title="System metrics">
                <i class="fa fa-connectdevelop"></i>
            </a>
        </li>
        <li>
            <a href="#running_processes" rel="nofollow" title="Running processes">
                <i class="fa fa-align-justify"></i>
            </a>
        </li>
        <li>
            <a href="#networking" rel="nofollow" title="Networking">
                <i class="fa fa-globe"></i>
            </a>
        </li>
        <li>
            <a href="#disks" rel="nofollow" title="Disks">
                <i class="fa fa-database"></i>
            </a>
        </li>
        <li>
            <a href="#services_discovery" rel="nofollow" title="Services diskovery">
                <i class="fa fa-skyatlas"></i>
            </a>
        </li>
        <li>
            <a href="#server_activity" rel="nofollow" title="Server activity">
                <i class="fa fa-forumbee"></i>
            </a>
        </li>
        <li>
            <a href="#fixed_problems" rel="nofollow" title="Fixed problems">
                <i class="fa fa-bug"></i>
            </a>
        </li>
    </ul>
    -->
</div>
