<!-- start: Main Menu -->
<div class="sidebar col-md-2 col-sm-1">
    <div class="sidebar-collapse collapse">
        <div class="nav-sidebar title"><span>Dashboard</span></div>
        <ul class="nav nav-sidebar">
            <li >
                <a href="/">
                    <i class="fa fa-bank"></i>
                    <span class="hidden-sm text">Servers</span>
                </a>
            </li>
            <li>
                <a href="/incidents/">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span class="hidden-sm text">
                        {% if notifs_counter %}
                             <strong>{{notifs_counter}}</strong>
                        {% endif %}
                        Servers Incidents
                    </span>
                </a>
            </li>
            <li>
                <a href="/download/agent/">
                    <i class="fa fa-plus"></i>
                    <span class="hidden-sm text">
                        Add More Servers
                    </span>
                    <span class="chevron closed"></span>
                </a>
            </li>
        </ul>

        <div class="nav-sidebar title"><span>Support</span></div>
        <ul class="nav nav-sidebar">
            <li><a href="/logs/"><i class="fa fa-bullseye"></i><span class="hidden-sm text"> System Logs</span> <span class="chevron closed"></span></a></li>
            <li><a href="https://github.com/ProjectCloudly/cloudly/tree/master/docs" target="_blank"><i class="fa fa-slideshare"></i><span class="hidden-sm text"> Documentation</span> <span class="chevron closed"></span></a></li>
            <li><a href="/support/"><i class="fa fa-umbrella"></i><span class="hidden-sm text"> Free Support</span> <span class="chevron closed"></span></a></li>
        </ul>

        <div class="nav-sidebar title"><span>Account</span></div>

        <ul class="nav nav-sidebar">
            <li><a href="/account/settings/"><i class="fa fa-user"></i><span class="hidden-sm text"> Account Settings</span> <span class="chevron closed"></span></a></li>
            <li><a href="/credits/"><i class="fa fa-money"></i><span class="hidden-sm text"> Credits</span> <span class="chevron closed"></span></a></li>
            {% comment %}
            <li><a href="/cloud/settings/"><i class="fa fa-soundcloud"></i><span class="hidden-sm text"> Cloud Settings</span> <span class="chevron closed"></span></a></li>
            {% endcomment %}
            <li><a href="/logout/"><i class="fa fa-power-off"></i><span class="hidden-sm text"> Logout</span> <span class="chevron closed"></span></a></li>
        </ul>

    </div>

    <a href="#" id="main-menu-min" class="full visible-md visible-lg full"><i class="fa fa-angle-double-left"></i></a>
</div>
<!-- end: Main Menu -->
