
#main {
    margin-top: 60px;
}

.navbar-brand {
    min-width: 210px;
    height: 60px;
}

footer {
    z-index: 100;
}

@media (max-width: 767px) {
    .sidebar {
        position: relative;
        top: 50px;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    #main {
        margin-left: 70px;
    }

    .sidebar {
        position: fixed;
        margin-top: 60px;
        width: 70px;
    }
}

@media (min-width: 992px) {
    #main {
        margin-left: 210px;
        margin-top: 60px;
    }

    #main.sidebar-minified {
        margin-left: 0px;
    }

    .sidebar {
        position: fixed;
        margin-top: 60px;
        width: 210px;
    }
}
