.main {
    margin-top: 60px;
    float: right;
}

.navbar-brand {
    min-width: 210px;
    height: 60px;
}

footer {
    z-index: 100;
}

select.servers_tags {
    width: auto;
    line-height: 40px;
    margin-left: 5px;
    padding-left: 8px;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border: none !important;
    float: right;
}

#second-menu {
    z-index: 2;
    padding: 0 15px;
    min-height: 40px;
    height: auto;
    border: none;
    border: 1px solid #e1e6ef;
    background: white;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #384042;
    line-height: 40px;
    margin: 0 0 30px 0;
}

#second-menu ul {
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#second-menu ul li {
    padding: 0 0.5em;
    display: inline;
}

#second-menu ul li a {
    color: #c0cadd;
    line-height: 40px;
    text-decoration: none;
}

#second-menu ul li a:hover {
    text-decoration: underline;
}

#second-menu ul li a.active {
    color: #167495;
}

#second-menu ul li.deactive {
    color: #c0cadd;
}

@media (max-width: 767px) {
    .sidebar {
        position: relative;
        z-index: 10;
        top: 50px;
    }

    .sidebar:before {
        position: absolute;
        content: '';
        background: #384042;
        width: 100%;
        height: auto;
        left: 0;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .main {
        margin-left: 70px;
    }

    .sidebar {
        position: fixed;
        z-index: 10;
        margin-top: 60px;
        min-width: 60px;
        width: 60px;
    }
}

@media (min-width: 992px) {
    .main {
        width: 83.333333333%;
    }

    .sidebar {
        position: fixed;
        z-index: 10;
        margin-top: 60px;
        min-width: 210px;
        width: 16.66666667%;
    }

    .minified {
        width: 60px;
        min-width: 60px;
    }

    .sidebar-minified {
        width: 100%;;
    }

    #main-menu-min.minified {
        width: 30px;
        min-width: 30px;
    }
}
