.main {
    margin-top: 60px;
}

.navbar-brand {
    min-width: 210px;
    height: 60px;
}

footer {
    z-index: 100;
}

@media (max-width: 767px) {
    .sidebar {
        position: relative;
        top: 50px;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .main {
        margin-left: 70px;
    }

    .sidebar {
        position: fixed;
        margin-top: 60px;
        min-width: 60px;
        width: 60px;
    }
}

@media (min-width: 992px) {
    .main {
        width: 83.333333333%;
        float: right;
    }

    .sidebar {
        position: fixed;
        margin-top: 60px;
        min-width: 210px;
        width: 16.66666667%;
    }
    
    .minified {
        width: 60px;
        min-width: 60px;
    }

    .sidebar-minified {
        width: 100%;;
    }

    #main-menu-min.minified {
        width: 30px;
        min-width: 30px;
    }
}
