<h2>Account Settings</h2>

<strong>Secret:</strong> {{profile.secret}}<br/>

<p>
	user.id = {{user.id}}<br/>
	user.username = {{user.username}}<br/>
	user.email = {{user.email}}<br/>
	user.password = {{user.password}}<br/>
	user.last_login = {{user.last_login}}<br/>
	user.is_superuser = {{user.is_superuser}}<br/>
	user.is_staff = {{user.is_staff}}<br/>
	user.is_active = {{user.is_active}}<br/>
	user.date_joined = {{user.date_joined}}<br/>
</p>

<p>
	XXX use admin/form-x-editable.html for this one
</p>

<p>
	profile.id = {{profile.id}}<br/>

	profile.name = {{profile.name}}<br/>
	profile.secret = {{profile.secret}}<br/>

	profile.skills = {{profile.skills}}<br/>
	profile.country = {{profile.country}}<br/>
	profile.language = {{profile.language}}<br/>

	profile.picture = {{profile.picture}}<br/>
	profile.twitter = {{profile.twitter}}<br/>

	profile.mobile1 = {{profile.mobile1}}<br/>
	profile.mobile2 = {{profile.mobile2}}<br/>
	profile.mobile3 = {{profile.mobile3}}<br/>

	profile.street_address_1 = {{profile.street_address_1}}<br/>
	profile.street_address_2 = {{profile.street_address_2}}<br/>
	profile.street_address_3 = {{profile.street_address_3}}<br/>

	profile.security_email_notifications = {{profile.security_email_notifications}}<br/>
	profile.system_email_notifications = {{profile.system_email_notifications}}<br/>
	profile.hypervisor_goes_down_notifications = {{profile.hypervisor_goes_down_notifications}}<br/>
	profile.virtual_machine_goes_down_notifications = {{profile.virtual_machine_goes_down_notifications}}<br/>
	profile.email_notfications = {{profile.email_notfications}}<br/>
	profile.twitter_notifications = {{profile.twitter_notifications}}<br/>

	aws_access_key = {{profile.aws_access_key}}<br/>
	aws_secret_key = {{profile.aws_secret_key}}<br/>
	aws_enabled_regions = {{profile.aws_enabled_regions}}<br/>
	aws_is_verified = {{profile.aws_is_verified}}<br/>

	profile.first_login = {{profile.first_login}}<br/>
</p>
