{% extends "base.html" %}

{% load cloud_extras %}

{% block title %}Project Cloudly | Change Password{% endblock %}

{% block nav-bar %}
    {% include "partials/nav-bar-classic.html" %}
{% endblock %}

{% block page_content %}
	<ol class="breadcrumb">
	  	<li><a href="/account/settings/">Account Settings</a></li>
	  	<li class="active">Change Password</li>
	</ol>

		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-picture-o"></i>Change Password</h2>
							<div class="panel-actions">
								<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">


								{% if error %}
								<div class="alert alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									{{error}}
								</div>
								{% endif %}


								<form name="input" action="/account/password/" method="POST" class="form-horizontal ">{% csrf_token %}
					                <div class="form-group">
					                    <label class="col-md-3 control-label" for="hf-email">Current Password</label>
					                    <div class="col-md-9">
					                        <input type="password" id="hf-email" name="current_passwd" class="form-control" placeholder="Your current password..">
					                        <span class="help-block">Please enter your current password</span>
					                    </div>
					                </div>
					                <div class="form-group">
					                    <label class="col-md-3 control-label" for="hf-password">* New Password</label>
					                    <div class="col-md-9">
					                        <input type="password" id="hf-password" name="new_passwd" class="form-control" placeholder="Your new password..">
					                        <span class="help-block">Please enter your new password</span>
					                    </div>
					                </div>
					                <div class="form-group">
					                    <label class="col-md-3 control-label" for="hf-password">* Verify</label>
					                    <div class="col-md-9">
					                        <input type="password" id="hf-password" name="new_passwd_repeat" class="form-control" placeholder="And your new password again..">
					                        <span class="help-block">Please verify your password</span>
					                    </div>
					                </div>

				                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
			                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>


	 					</div><!--/col-->
				</div><!--/row-->
			</div>
			<!-- end: Content -->
		</div><!--/row-->
	</div><!--/container-->


		<div class="modal fade" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Modal title</h4>
					</div>
					<div class="modal-body">
						<p>Here settings can be configured...</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

</div>
</div>
{% endblock page_content %}
