{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Account Settings{% endblock %}

{% block page_content %}

<div class="col-md-10 col-sm-11 main ">

	<ol class="breadcrumb">
	  	<li><a href="#">Account</a></li>
	  	<li class="active">Settings</li>
	</ol>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
					<div class="panel-heading">
						<h2><i class="fa fa-picture-o"></i>Name: {{profile.name}}</h2>
						<div class="panel-actions">
							<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
						</div>
					</div>







<div class="panel-body">

  <ul class="list-group">
    <li class="list-group-item"><strong>E-mail:</strong> {{user.email}}</li>
    <li class="list-group-item"><strong>Password:</strong> {{user.password}}</li>
    <li class="list-group-item"><strong>Date joined:</strong> {{user.date_joined}}</li>
    <li class="list-group-item"><strong>Country:</strong> {{profile.country}}</li>
    <li class="list-group-item"><strong>Language:</strong> {{profile.language}}</li>
    <li class="list-group-item"><strong>Address_1:</strong> {{profile.street_address_1}}</li>
    <li class="list-group-item"><strong>Address_2:</strong> {{profile.street_address_2}}</li>
    <li class="list-group-item"><strong>Address_3:</strong> {{profile.street_address_3}}</li>
    <li class="list-group-item"><strong>Mobile:</strong> {{profile.mobile}}</li>
    <li class="list-group-item"><strong>Twitter:</strong> {{profile.twitter}}</li>
    <li class="list-group-item"><strong>Min Confidence:</strong> {{profile.min_confidence}}</li>
  </ul>

</div>
<p>
	profile.id = {{profile.id}}<br/>

	profile.name = {{profile.name}}<br/>
	profile.secret = {{profile.secret}}<br/>

	profile.skills = {{profile.skills}}<br/>
	profile.country = {{profile.country}}<br/>
	profile.language = {{profile.language}}<br/>

	profile.picture = {{profile.picture}}<br/>
	profile.twitter = {{profile.twitter}}<br/>

	profile.mobile1 = {{profile.mobile1}}<br/>
	profile.mobile2 = {{profile.mobile2}}<br/>
	profile.mobile3 = {{profile.mobile3}}<br/>

	profile.street_address_1 = {{profile.street_address_1}}<br/>
	profile.street_address_2 = {{profile.street_address_2}}<br/>
	profile.street_address_3 = {{profile.street_address_3}}<br/>

	profile.security_email_notifications = {{profile.security_email_notifications}}<br/>
	profile.system_email_notifications = {{profile.system_email_notifications}}<br/>
	profile.hypervisor_goes_down_notifications = {{profile.hypervisor_goes_down_notifications}}<br/>
	profile.virtual_machine_goes_down_notifications = {{profile.virtual_machine_goes_down_notifications}}<br/>
	profile.email_notfications = {{profile.email_notfications}}<br/>
	profile.twitter_notifications = {{profile.twitter_notifications}}<br/>

	aws_access_key = {{profile.aws_access_key}}<br/>
	aws_secret_key = {{profile.aws_secret_key}}<br/>
	aws_enabled_regions = {{profile.aws_enabled_regions}}<br/>
	aws_is_verified = {{profile.aws_is_verified}}<br/>

	profile.first_login = {{profile.first_login}}<br/>
</p>


 					</div><!--/col-->
			</div><!--/row-->	
		</div>
		<!-- end: Content -->
	</div><!--/row-->		
</div><!--/container-->
	

	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock page_content %}

