{% extends "base.html" %}

{% load cloud_extras %}

{% block title %}Cloudly | Account Settings{% endblock %}

{% block nav-bar %}
    {% include "partials/nav-bar-classic.html" %}
{% endblock %}

{% block page_content %}
	<ol class="breadcrumb">
	  	<li class="active">Account Settings</li>
	</ol>

	<div class="row">


		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-street-view"></i>Account Settings</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
					<p>
						Name: {{profile.name}}
            <br/>
						Secret: {{profile.secret}}
            <br/>
            E-mail: {{user.email}}
            <br/>
            {% if user.username != "demo@demo.com" %}
						<a href="/account/password">change password</a>
						{% endif %}
					</p>

				</div>
			</div>
		</div><!--/container-->

		<div class="col-xs-12">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-exclamation-triangle"></i>Alerting Settings</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>




				<div class="panel-body">
					<p>
            <div class="panel-body">
              <button type="button" class="btn btn-link btn-sm">Email</button>
							<button type="button" class="btn btn-success">Informative</button>
							<button type="button" class="btn btn-default" disabled="disabled">Obsessive</button>
							<button type="button" class="btn btn-default" disabled="disabled">Critical Only</button>
							<button type="button" class="btn btn-default" disabled="disabled">OFF</button>
  					</div>

            <div class="panel-body">
              <button type="button" class="btn btn-link btn-sm">Twitter</button>
							<button type="button" class="btn btn-success">Informative</button>
							<button type="button" class="btn btn-default" disabled="disabled">Obsessive</button>
							<button type="button" class="btn btn-default" disabled="disabled">Critical Only</button>
							<button type="button" class="btn btn-default" disabled="disabled">OFF</button>
              {% comment %}
              <br/>
              <img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png"></img>
              <br/>
              {% endcomment %}
  					</div>


            <div class="panel-body">
              <button type="button" class="btn btn-link btn-sm">Jabber</button>
							<button type="button" class="btn btn-default">Informative</button>
							<button type="button" class="btn btn-success">Obsessive</button>
							<button type="button" class="btn btn-default" disabled="disabled">Critical Only</button>
							<button type="button" class="btn btn-default" disabled="disabled">OFF</button>
  					</div>

            <div class="panel-body">
              <button type="button" class="btn btn-link btn-sm">SMS</button>
              <button type="button" class="btn btn-primary">Buy SMS Credit</button>
            </div>

  				</p>

				</div>

			</div>
		</div><!--/container-->

    <div class="col-xs-12">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-book"></i>Monitoring Settings</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
					<p>
            Active Checks: Enabled <font color="grey">Disabled</font> <small>* free stuff</small><br/>
						Passive Checks: Enabled <font color="grey">Disabled</font> <small>* free stuff</small><br/>
						Standard Deviation: Enabled <font color="grey">Disabled</font> <small>* free stuff</small><br/>
						Heuristic Analysis: Enabled <font color="grey">Disabled</font> <small>* free stuff</small><br/>
						Flap Detection: Enabled <font color="grey">Disabled</font>  <small>* free stuff</small><br/>
					</p>
				</div>

			</div>
		</div><!--/container-->


  </div><!--/row-->
</div><!--/col-->
</div>
{% endblock page_content %}

{% block extra_js %}
    <script src="/static/admin-assets/js/bootstrap-editable.min.js"></script>
{% endblock %}
