{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Account Settings{% endblock %}



{% block page_content %}
<div class="col-md-10 col-sm-11 main ">

	<ol class="breadcrumb">
	  	<li><a href="#">Account</a></li>
	  	<li class="active">Settings</li>
	</ol>


	{% if user.is_superuser %}
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>You're a Superuser!</strong>
	</div>
	{% endif %}

	{% if user.is_staff %}
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">×</button>
		Staff Member
	</div>
	{% endif %}


	<div class="row">
				
		<div class="col-xs-12">
			<div class="panel panel-default">
					<div class="panel-heading">
						<h2><i class="fa fa-picture-o"></i>Account Settings</h2>
						<div class="panel-actions">
							<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
						</div>
					</div>


<div class="panel-body">

  <ul class="list-group">
    <li class="list-group-item"><strong>Name:</strong> {{profile.name}}</li>
    <li class="list-group-item"><strong>E-mail:</strong> {{user.email}}</li>
	<br/>
    <li class="list-group-item"><strong>Practical skills</strong> {{profile.skills}} (e.g. apache, nginx, iptables, ..)</li>
	<br/>
    <li class="list-group-item"><strong>Secret</strong> {{profile.secret}}</li>
    <li class="list-group-item"><strong>Password:</strong> <a href="/account/password/"><button type="button" class="btn btn-xs btn-warning">Change Password</button></a> {{user.password}}</li>
	<br/>
	<li class="list-group-item"><strong>Public key</strong> <a href="#">TBD</a></li>
	<li class="list-group-item"><strong>Public key passphrase</strong> <a href="#">TBD</a><br/>
	* The password for your SSH key if it is encrypted with a passphrase
	</li>
	<br/>
    
    <li class="list-group-item"><strong>Company</strong> {{profile.company}}</li>
    <li class="list-group-item"><strong>Company URL</strong> {{profile.custom_url}}</li>
	<br/>
    <li class="list-group-item"><strong>Twitter</strong> {{profile.twitter}}</li>
    <li class="list-group-item"><strong>Mobile</strong> {{profile.mobile}}</li>
	<br/>
    <li class="list-group-item"><strong>Street Address 1</strong> {{profile.street_address_1}}</li>
    <li class="list-group-item"><strong>Street Address 2</strong> {{profile.street_address_2}}</li>
    <li class="list-group-item"><strong>Street Address 3</strong> {{profile.street_address_3}}</li>
	<br/>
	<li class="list-group-item"><strong>Email Notfications</strong> {{profile.email_notfications}}
		<form class="form-horizontal" action="/test">
		    <label class="switch switch-info">
		      <input type="checkbox" class="switch-input" checked="">
		      <span class="switch-label" data-on="On" data-off="Off"></span>
		      <span class="switch-handle"></span>
		    </label>
		</form>
	</li>
    <li class="list-group-item"><strong>Twitter Notifications</strong> {{profile.twitter_notifications}}
		<form class="form-horizontal" action="/test">
			<label class="switch">
		      <input type="checkbox" class="switch-input">
		      <span class="switch-label" data-on="On" data-off="Off"></span>
		      <span class="switch-handle"></span>
		    </label>
		</form>
	</li>
	<br/>
	<li class="list-group-item"><strong>aws_automatic_backups</strong> {{profile.aws_automatic_backups}}
		<form class="form-horizontal" action="/test">
		    <label class="switch switch-danger">
		      <input type="checkbox" class="switch-input" checked="">
		      <span class="switch-label" data-on="On" data-off="Off"></span>
		      <span class="switch-handle"></span>
		    </label>
		</form>
	</li>
	<br/>
	<li class="list-group-item"><strong>Pricing Plan</strong> {{profile.pricing_plan}} <a href="/pricing/">update pricing plan</a></li>
    
</ul>

</div>

 					</div><!--/col-->


			</div><!--/row-->	
	





{% comment %}


						<div class="col-lg-12">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h2><i class="fa fa-edit"></i>Account Settings</h2>
													<div class="panel-actions">
														<a href="form-x-editable.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
														<a href="form-x-editable.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
														<a href="form-x-editable.html#" class="btn-close"><i class="fa fa-times"></i></a>
													</div>
												</div>
												<div class="panel-body">
						
													<div style="float: right; margin-bottom: 10px">
										            <label style="display: inline-block; margin-right: 50px"><input type="checkbox" id="autoopen" style="vertical-align: baseline">&nbsp;auto-open next field</label>
										            <button id="enable" class="btn btn-default">enable / disable</button>
										            </div>
										            <p>Click to edit</p>
										            <table id="user" class="table table-bordered table-striped" style="clear: both">
										                <tbody> 
										                    <tr>         
										                        <td width="35%">Simple text field</td>
										                        <td width="65%"><a href="form-x-editable.html#" id="username" data-type="text" data-pk="1" data-original-title="Enter username" class="editable editable-click">superuser</a></td>
										                    </tr>
										                    <tr>         
										                        <td>Empty text field, required</td>
										                        <td><a href="form-x-editable.html#" id="firstname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-original-title="Enter your firstname" class="editable editable-click editable-empty">Empty</a></td>
										                    </tr>  
										                    <tr>         
										                        <td>Select, local array, custom display</td>
										                        <td><a href="form-x-editable.html#" id="sex" data-type="select" data-pk="1" data-value="" data-original-title="Select sex" class="editable editable-click" style="color: rgb(128, 128, 128);">not selected</a></td>
										                    </tr>
										                    <tr>         
										                        <td>Select, remote array, no buttons</td>
										                        <td><a href="form-x-editable.html#" id="group" data-type="select" data-pk="1" data-value="5" data-source="/groups" data-original-title="Select group" class="editable editable-click">Admin</a></td>
										                    </tr> 
										                    <tr>         
										                        <td>Select, error while loading</td>
										                        <td><a href="form-x-editable.html#" id="status" data-type="select" data-pk="1" data-value="0" data-source="/status" data-original-title="Select status" class="editable editable-click">Active</a></td>
										                    </tr>  

										                    <tr>         
										                        <td>Datepicker</td>
										                        <td>

										                        <span class="notready">not implemented for Bootstrap 3 yet</span>

										                        </td>
										                    </tr>
										                    <tr>         
										                        <td>Combodate (date)</td>
										                        <td><a href="form-x-editable.html#" id="dob" data-type="combodate" data-value="1984-05-15" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1" data-original-title="Select Date of birth" class="editable editable-click">15/05/1984</a></td>
										                    </tr> 
										                    <tr>         
										                        <td>Combodate (datetime)</td>
										                        <td><a href="form-x-editable.html#" id="event" data-type="combodate" data-template="D MMM YYYY  HH:mm" data-format="YYYY-MM-DD HH:mm" data-viewformat="MMM D, YYYY, HH:mm" data-pk="1" data-original-title="Setup event date and time" class="editable editable-click editable-empty">Empty</a></td>
										                    </tr> 



										                    <tr>         
										                        <td>Textarea, buttons below. Submit by <i>ctrl+enter</i></td>
										                        <td><a href="form-x-editable.html#" id="comments" data-type="textarea" data-pk="1" data-placeholder="Your comments here..." data-original-title="Enter comments" class="editable editable-pre-wrapped editable-click">awesome
										user!</a></td>
										                    </tr> 




										                    <tr>         
										                        <td>Twitter typeahead.js</td>
										                        <td><a href="form-x-editable.html#" id="state2" data-type="typeaheadjs" data-pk="1" data-placement="right" data-original-title="Start typing State.." class="editable editable-click">California</a></td>
										                    </tr>                       


										                    <tr>         
										                        <td>Checklist</td>
										                        <td><a href="form-x-editable.html#" id="fruits" data-type="checklist" data-value="2,3" data-original-title="Select fruits" class="editable editable-click">peach<br>apple</a></td>
										                    </tr>

										                    <tr>         
										                        <td>Select2 (tags mode)</td>
										                        <td><a href="form-x-editable.html#" id="tags" data-type="select2" data-pk="1" data-original-title="Enter tags" class="editable editable-click">html, javascript</a></td>
										                    </tr>                    

										                    <tr>         
										                        <td>Select2 (dropdown mode)</td>
										                        <td><a href="form-x-editable.html#" id="country" data-type="select2" data-pk="1" data-value="BS" data-original-title="Select country" class="editable editable-click">Bahamas</a></td>
										                    </tr>  

										                    <tr>         
										                        <td>Custom input, several fields</td>
										                        <td><a href="form-x-editable.html#" id="address" data-type="address" data-pk="1" data-original-title="Please, fill address" class="editable editable-click"><b>Moscow</b>, Lenina st., bld. 12</a></td>
										                    </tr>                      


										                </tbody>
										            </table>				            									  

												</div>
											</div>
										</div>

{% endcomment %}


				</div><!--/row-->		
			</div><!--/container-->


				</div>
			</div>



			</div><!--/col-->





		</div>

			
		</div>
		<!-- end: Content -->


<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock page_content %}

{% block extra_js %}
<script src="/static/admin-assets/js/bootstrap-editable.min.js"></script>
{% endblock %}
