{% extends "base.html" %}

{% load cloud_extras %}

{% block title %}Cloudly | Account Settings{% endblock %}

{% block nav-bar %}
    {% include "partials/nav-bar-classic.html" %}
{% endblock %}

{% block page_content %}
	<ol class="breadcrumb">
	  	<li class="active">Account Settings</li>
	</ol>

	<div class="row">


		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-street-view"></i>Account Settings</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
					<p>
						Name: {{profile.name}}
            <br/>
						Agent Secret: {{profile.secret}}
            <br/>
            E-mail: {{user.email}}
            <br/>
            {% if user.username != "demo@demo.com" %}
						<a href="/account/password">change password</a>
						{% endif %}
					</p>

				</div>
			</div>
		</div><!--/container-->

		<div class="col-xs-12">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-exclamation-triangle"></i>Alerting Settings</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
					<p>
            E-mail: {{user.email}}
            alerts_off <font color="grey">default (informative) | obsessive | critical_only</font>
            <br/>

						Twitter:
						{% if not profile.twitter %}
            <a href="#">n/a</a>
						{% else %}
						{{profile.twitter}}
						{% endif %}
            alerts_off <font color="grey">default (informative) | obsessive | critical_only</font>
						<br/>

						Jabber: <a href="#">n/a</a>
            alerts_off <font color="grey">default (informative) | obsessive | critical_only</font>
						<br/>

						Mobile:
						{% if not profile.mobile %}
						<a href="#">n/a</a>
						{% else %}
						{{profile.mobile}}
						{% endif %}
            <a href="#">enable_sms_notifs__buy_credit</a>
					</p>
				</div>

			</div>
		</div><!--/container-->

    <div class="col-xs-12">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-exclamation-triangle"></i>Monitoring Settings</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
					<p>
            Active Checks: Enabled <font color="grey">Disabled</font><br/>
						Passive Checks: Enabled <font color="grey">Disabled</font><br/>
						Standard Deviation: Enabled <font color="grey">Disabled</font><br/>
						Heuristic Analysis: Enabled <font color="grey">Disabled</font><br/>
						Flap Detection: Enabled <font color="grey">Disabled</font><br/>
            <small>* free stuff</small>
					</p>
				</div>

			</div>
		</div><!--/container-->


  </div><!--/row-->
</div><!--/col-->
</div>
{% endblock page_content %}

{% block extra_js %}
    <script src="/static/admin-assets/js/bootstrap-editable.min.js"></script>
{% endblock %}
