{% extends "base.html" %}

{% load humanize %}
{% load cloud_extras %}
						
{% block title %}User {{u|title}} Report{% endblock %}

{% block extra_css%}
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}

{% block page_content %}


<div class="col-md-10 col-sm-11 main ">

	<ol class="breadcrumb">
	  	<li><a href="#"><font color="red">User <b>"{{profile.name}}" <small>{{u}}</small></b></font></a></li>
	</ol>
	
	
	<div class="row">
	
		<div class="col-xs-4">
			<div class="panel panel-default">
					<div class="panel-heading">
						<h2><i class="fa fa-picture-o"></i>Activity (clicked)</h2>
						<div class="panel-actions">
							<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
						</div>
					</div>
					<div class="panel-body">
						
						
						<table class="table table-bordered">
						  <thead>
							  <tr>
								  <th>When</th>
								  <th>Link</th>
							  </tr>
						  </thead>   
						  <tbody>
							{% for a in user_activity_clicks %} 
							<tr>
								<td><font size=2>{{a.date_created|naturaltime}}</font></td>
								<td><a href="{{a.link}}">{{a.link}}</a></td>
							</tr>
							{% endfor %}
						  </tbody>
					 </table>
						

					</div>
			</div>
		</div>

		<div class="col-xs-8">
			<div class="panel panel-default">
					<div class="panel-heading">
						<h2><i class="fa fa-picture-o"></i>Activity (other)</h2>
						<div class="panel-actions">
							<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
						  <thead>
							  <tr>
								  <th>Date</th>
								  <th>Activity</th>
								  <th>Meta</th>
								  <th>Function</th>                                          
								  <th>Link</th>
							  </tr>
						  </thead>   
						  <tbody>
							{% for a in user_activity_other %}
							<tr>
								<td><font size=2>{{a.date_created}}</font></td>
								<td>{{a.activity}}<td>
								<td></td>
								<td>{{a.function}}</td>                                       
								<td>{{a.link}}</td>
							</tr>
							{% endfor %}
						  </tbody>
					 </table>
					</div>
			</div>
		</div>

		<div class="col-xs-8">
			<div class="panel panel-default">
					<div class="panel-heading">
						<h2><i class="fa fa-picture-o"></i>Files</h2>
						<div class="panel-actions">
							<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
						  <thead>
							  <tr>
								  <th>Date created</th>
								  <th>Size</th>
								  <th>Filename</th>
								  <th>Type</th>                                          
							  </tr>
						  </thead>   
						  <tbody>
							{% for f in user_files %}
							<tr>
								<td><font size=2>{{f.date_created}}</font></td>
								<td>{{f.size|filesizeformat}}</td>
								<td>{{f.file.file|clear_filename}}</td>
								<td>
									<span class="label label-success">{{f.file_type|upper}}</span>
								</td>                                       
							</tr>
							{% endfor %}
						  </tbody>
					 </table>
					</div>
			</div>
		</div>





	</div>
	
</div>




{% endblock page_content %}

