{% extends "base.html" %}

{% load humanize %}
{% load cloud_extras %}
						
{% block title %}Admin{% endblock %}

{% block extra_css%}
<link href="/static/my.css" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}

{% block page_content %}

<div class="col-md-10 col-sm-11 main ">

	<ol class="breadcrumb">
	  	<li><a href="#"><font color="red"><b>Administrator Report</b></font></a></li>
	</ol>

{% comment %}
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
					<div class="panel-heading">
						<h2><i class="fa fa-picture-o"></i>Registered Users</h2>
						<div class="panel-actions">
							<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
						</div>
					</div>
					<div class="panel-body">
						hello world
 					</div><!--/col-->
			</div><!--/row-->	
		</div>
		<!-- end: Content -->
	</div><!--/row-->
{% endcomment %}	
	
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-align-justify"></i><span class="break"></span>Registered users</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-condensed">
						  <thead>
							  <tr>
								<th>Registered</th>
								<th>Name</th>
								<th>Email</th>
								<th>Twitter</th>
								<th>Mobile</th>
								<th>AWS Regions</th>
								<th>Access Key</th>
								<th>EC2 <font size=1>verified</font></th>
								<th>S3 <font size=1>verified</font></th>
								<th>CF <font size=1>verified</font></th>
								<th>Backups</th>
								<th>activity</th>                                          
								
							  </tr>
						  </thead>   
						  <tbody>
							{% for p in users %}
							<tr>
								<td>{{p.user.date_joined|naturaltime}}</td>
								<td>{{p.name}}</td>
								<td>{{p.user.email}}</td>
								<td>
									{% if p.twitter %}
									{{p.twitter}}
									{% else %}-{% endif %}
								</td>
								<td>
									{% if p.mobile %}
									{{p.mobile}}
									{% else %}-{% endif %}
								</td>
								<td>{{p.aws_enabled_regions}}</td>
								<td>
									{% if p.aws_access_key %}
									{{p.aws_access_key}}
									{% else %}-{% endif %}
								</td>
								<td>{{p.aws_ec2_verified}}</td>
								<td>{{p.aws_s3_verified}}</td>
								<td>{{p.aws_cloudfront_verified}}</td>
								<td>{% if p.aws_automatic_backups %}Enabled{% else %}Disabled{% endif %}</td>
								<td><center><a href="#">0</a></center></td>
							</tr>
							{% endfor %}
						  </tbody>
					 </table> 
					{% comment %}
					<ul class="pagination">
						<li><a href="#">Prev</a></li>
						<li class="active">
						  <a href="#">1</a>
						</li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">Next</a></li>
					  </ul>
					{% endcomment %}
				</div>
			</div>
		</div><!--/col-->
	</div><!--/row-->

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-align-justify"></i><span class="break"></span>Last 1,000 Uploaded files</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body" style="display: none;">
					<table class="table table-condensed">
						  <thead>
							  <tr>
								  <th>Date created</th>
								  <th>Size</th>
								  <th>Filename</th>
								  <th>File Owner</th>
								  <th>is_deployed</th>
								  <th>is_shared</th>
								  <th>is_deleted</th>
							  </tr>
						  </thead>   
						  <tbody>
							{% for f in files %}
							<tr>
								<td>{{f.date_created}}</td>
								<td>xxx</td>
								<td>{{f.file.file|clear_filename}}</td>
								<td>{{f.user}}</td>
								<td>xxx</td>
								<td>xxx</td>
								<td>xxx</td>
							</tr>
							{% endfor %}
						  </tbody>
					 </table> 
					{% comment %}
					<ul class="pagination">
						<li><a href="#">Prev</a></li>
						<li class="active">
						  <a href="#">1</a>
						</li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">Next</a></li>
					  </ul>
					{% endcomment %}
				</div>
			</div>
		</div><!--/col-->
	</div><!-- row -->







	
</div><!--/container-->

	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Registered users</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock page_content %}

