{% extends "base.html" %}

{% load humanize %}
{% load cloud_extras %}

{% block title %}Monkeytor | Admin{% endblock %}

{% block extra_css%}
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}

{% block nav-bar %}
    {% include "partials/nav-bar-classic.html" %}
{% endblock %}

{% block page_content %}
	<ol class="breadcrumb">
	  	<li><a href="#">Admin</a></li>
	</ol>


	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-align-justify"></i><span class="break"></span>Registered users</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-condensed">
						<thead>
							<tr>
								<td>#</td>
								<th>Name</th>
								<th>Email</th>
								<th>Clicks</th>
								<th>Last Seen</th>
								<th>Registered</th>
								<th>Servers</th>
								<th>AWS Regions</th>
							</tr>
						</thead>
						<tbody>
							{% for p in users %}
							<tr>
								<td>{{p.user.id}}</td>
								<td><a href="/admin/user/{{p.user.id}}/activity/">{{p.name}}</a></td>
								<td><a href="/admin/user/{{p.user.id}}/activity/">{{p.user.email}}</a></td>
								<td><center><a href="/admin/user/{{p.user.id}}/activity/">{{p.clicks}}</a></center></td>
								<td><font size=2>{{p.user.last_login|naturaltime}}</font></td>
								<td><font size=2>{{p.user.date_joined|naturaltime}}</font></td>
								<td>
									{% if p.user|count_user_servers %}
									{{p.user|count_user_servers}}
									{% else %}0{% endif %}
								</td>
								<td>{% if p.aws_ec2_verified %}{{p.aws_enabled_regions}}{% else %}-{% endif %}</td>
							</tr>
							{% endfor %}
						</tbody>
					 </table>
					{% comment %}
					<ul class="pagination">
						<li><a href="#">Prev</a></li>
						<li class="active">
							<a href="#">1</a>
						</li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">Next</a></li>
					</ul>
					{% endcomment %}

				</div>
			</div>
		</div><!--/col-->
	</div><!--/row-->
</div>
</div>
{% endblock page_content %}
