{% extends "base.html" %}

{% load humanize %}
{% load cloud_extras %}
						
{% block title %}User {{u|title}} Report{% endblock %}

{% block extra_css%}
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}

{% block page_content %}


<div class="col-md-10 col-sm-11 main ">

	<ol class="breadcrumb">
	  	<li><a href="#"><font color="red"><b>User {{u|title}} Report</b></font></a></li>
	</ol>

	working on this currently
	<br/><br/>
	user {{u}}
	<br/><br/>
	user activity {{user_activity}}
	<br/><br/>
	user files {{user_files}}
	
	
</div>

{% endblock page_content %}

