{% extends "base.html" %}

{% load humanize %}
{% load cloud_extras %}

{% block title %}Project Cloudly | User {{u|title}} Report{% endblock %}

{% block nav-bar %}
    {% include "partials/nav-bar-classic.html" %}
{% endblock %}

{% block page_content %}
	<ol class="breadcrumb">
	  	<li><a href="/admin/">Admin</a></li>
	  	<li class="active"></li> Report for user <b>"{{user_profile.name}}"</b> <u>{{user_profile.user.email}}</u>
	</ol>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-picture-o"></i>Virtual Machines</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>id</th>
								<th>state</th>
								<th>instance_type</th>
								<th>name</th>
								<th>public_dns_name</th>
								<th>region</th>
								<th>ip_address</th>
								<th>key_name</th>
								<th>launch_time</th>
								<th>virtualization_type</th>
								<th>architecture</th>
								<th>hypervisor</th>
							</tr>
						</thead>
						<tbody>
							{% for i in vms_cached_response %}
							<tr>
								<td>{{vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"id"}}</td>
								<td>{{vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"_state"}}</td>
								<td>{{vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"instance_type"}}</td>
								<td>{{vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"tags"|dict_get:"Name"}}</td>
								<td>
									{% if vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"public_dns_name" %}
									<a href="http://{{vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"public_dns_name"}}" target="_blank"><font size=1>{{vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"public_dns_name"}}</a></font>
									{% else %}
									-
									{% endif %}
								</td>
								<td>{{vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"region"|dict_get:"name"}}</td>
								<td>
									{% if vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"ip_address" %}
									<a href="http://www.infosniper.net/index.php?ip_address={{vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"ip_address"}}&map_source=1&overview_map=1&lang=1&map_type=1&zoom_level=7" target="_blank">
										{{vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"ip_address"}}
									</a>
									{% else %}
									-
									{% endif %}
								</td>
								<td>{{vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"key_name"}}</td>
								<td>{{vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"launch_time"}}</td>
								<td>{{vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"virtualization_type"}}</td>
								<td>{{vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"architecture"}}</td>
								<td>{{vms_cached_response|dict_get:i|dict_get:"instance"|dict_get:"hypervisor"}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-picture-o"></i>Private Servers</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>agent</th>
								<th>name</th>
								<th>uuid</th>
								<th>IP_remote</th>
								<th>IP</th>
								<th>uptime</th>
								<th>last_seen</th>
							</tr>
						</thead>
						<tbody>
							{% for server in servers %}
							<tr>
								<td>v{{server|dict_get:"agent_version"}}</td>
								<td>TBD</td>
								<td>{{server|dict_get:"uuid"}}</td>
								<td>
									<a href="http://www.infosniper.net/index.php?ip_address={{server|dict_get:"ip"}}&map_source=1&overview_map=1&lang=1&map_type=1&zoom_level=7" target="_blank">
									{{server|dict_get:"ip_remote"}}
									</a>
								</td>
								<td>
									<a href="http://www.infosniper.net/index.php?ip_address={{server|dict_get:"ip"}}&map_source=1&overview_map=1&lang=1&map_type=1&zoom_level=7" target="_blank">
									{{server|dict_get:"ip"}}
									</a>
								</td>
								<td>{{server|dict_get:"uptime"}}</td>
								<td>{{server|dict_get:"last_seen"}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>


		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-picture-o"></i>Activity ({{user_profile.clicks}} clicks)</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>IP Address</th>
								<th>When</th>
								<th>Link</th>
							</tr>
						</thead>
						<tbody>
							{% for a in user_activity_clicks %}
							<tr>
								<td><font size=2><a href="http://www.infosniper.net/index.php?ip_address={{a.ip_addr}}&map_source=1&overview_map=1&lang=1&map_type=1&zoom_level=7" target="_blank">{{a.ip_addr}}</a></font></td>
								<td><font size=2>{{a.date_created|naturaltime}}</font></td>
								<td><a href="{{a.link}}">{{a.link}}</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

			</div>
		</div>

		<div class="col-xs-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-picture-o"></i>Activity (other)</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Date</th>
								<th>Activity</th>
								<th>Meta</th>
								<th>Function</th>
								<th>Link</th>
							</tr>
						</thead>
						<tbody>
							{% for a in user_activity_other %}
							<tr>
								<td><font size=2>{{a.date_created}}</font></td>
								{% if a.activity == "download" %}
								<td>downloaded server monitor agent</td>
								{% else %}
								<td>{{a.activity}}<td>
								{% endif %}
								<td>{{a.meta}}</td>
								<td>{{a.function}}</td>
								<td>{{a.link}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-xs-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-picture-o"></i>Files</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Date created</th>
								<th>Size</th>
								<th>Filename</th>
								<th>Type</th>
							</tr>
						</thead>
						<tbody>
							{% for f in user_files %}
							<tr>
								<td><font size=2>{{f.date_created}}</font></td>
								<td>{{f.size|filesizeformat}}</td>
								<td>{{f.file.file|clear_filename}}</td>
								<td>
									<span class="label label-success">{{f.file_type|upper}}</span>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock page_content %}
