{% extends "base.html" %}

{% load cloud_extras %}

{% block title %}Cloudly | Download Monitor Agent{% endblock %}

{% block nav-bar %}
    {% include "partials/nav-bar-classic.html" %}
{% endblock %}

{% block page_content %}
	<ol class="breadcrumb">
		<li>Add New Server</li>
	  	<li class="active">Monitor agent</li>
	</ol>

	<div class="row">

		<div class="col-xs-12">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-user-secret"></i>Install The Cloud Monitor Agent</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					To add a new server simply copy &amp;
					paste the following at a Terminal prompt:
					<br/>
					<br/>
<pre>
sudo sh -c "wget --no-check-certificate {{agent_download_url}} -O /opt/monitoring-agent.py; python2 /opt/monitoring-agent.py 1> /dev/null &"
</pre>
				</div>
			</div>


      <div class="row">

        <div class="col-xs-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h2><i class="fa fa-beer"></i>Video Manuals</h2>
              <div class="panel-actions">
                <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
              </div>
            </div>
            <div class="panel-body">
              <aside class="video">
                  <iframe width="320" height="240" src="https://www.youtube.com/embed/2XFu4qxc9OU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
              </aside>
            </div>
          </div>

        </div>
      </div><!--/row-->
    <!-- end: Content -->




			<div class="row">

				<div class="col-xs-12">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-beer"></i>For The Geeks</h2>
							<div class="panel-actions">
								<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
							<p>XXX Alternative Installation Methods instructions using deb, rpm, pip; how to install the agent directly from github even how to distribute the agent over onto multiple servers at once .. wait for it!</p>
						</div>
					</div>

				</div>
			</div><!--/row-->
		<!-- end: Content -->


	</div><!--/row-->
{% endblock page_content %}
