{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Download Monitor Agent{% endblock %}


{% block page_content %}
<div class="col-md-10 col-sm-11 main ">

	<ol class="breadcrumb">
		<li>Add New Server</li>
	  	<li class="active">Monitor agent</li>
	</ol>

	<div class="row">
								
		<div class="col-xs-12">
		
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-picture-o"></i>Install The Cloud Monitor Agent</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					To add a new server simply copy &amp;
					paste the following into your Linux and/or BSD terminal window:
					<br/>
					<br/>
<pre>
wget {{agent_download_url}} -O $HOME/agent.py; sudo sh -c "while true; do python $HOME/agent.py; sleep 3; done"
</pre>
				
	 			</div>
			</div>

{% comment %}
			<div class="row">

				<div class="col-xs-12">
				
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-picture-o"></i>System Requirements</h2>
							<div class="panel-actions">
								<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
							<p>XXX any linux will do.  We've tested our monitor agent on ..list..</p>
						</div>
					</div>

				</div>
			</div><!--/row-->
{% endcomment %}
				
		<!-- end: Content -->
		</div>
	</div><!--/row-->

</div>
{% endblock page_content %}