{% load cloud_extras %}
{% load humanize %}

<div class="row machines-list">

		<div class="smallchart red panel panel-default windows suspended machine">

			<div class="title">EC2-i-f9480ef3</div>

			<div class="content">

				<div class="chart-stat">
					<div class="chart-spark white">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
				</div>

			</div>

			<div class="value">XXX</div>

		</div>

		<div class="smallchart red panel panel-default windows machine">

			<div class="title">EC2-i-f9480ef3</div>

			<div class="content">

				<div class="chart-stat">
					<div class="chart-spark white">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
				</div>

			</div>

			<div class="value">XXX</div>

		</div>

		<div class="smallchart red panel panel-default bsd suspended machine">

			<div class="title">EC2-i-f9480e55</div>

			<div class="content">

				<div class="chart-stat">
					<div class="chart-spark white">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
				</div>

			</div>

			<div class="value">XXX</div>

		</div>


		<div class="smallchart blue panel panel-default linux machine">

			<div class="title">EC2-i-f9420ef2</div>

			<div class="content">

				<div class="chart-stat">
					<div class="chart-spark white">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
				</div>

			</div>

			<div class="value">XXX</div>

		</div>

		<div class="smallchart blue panel panel-default linux machine">

			<div class="title">EC2-i-f9420ef2</div>

			<div class="content">

				<div class="chart-stat">
					<div class="chart-spark white">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
				</div>

			</div>

			<div class="value">XXX</div>

		</div>



			<div class="smallchart grey panel panel-default bsd offline machine">

				<div class="title">EC2-i-f9420ef2</div>

				<div class="content">

					<div class="chart-stat">
						<div class="chart-spark white">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
					</div>

				</div>

				<div class="value">XXX</div>

			</div>

			<div class="smallchart blue panel panel-default linux machine">

				<div class="title">EC2-i-f9420ef2</div>

				<div class="content">

					<div class="chart-stat">
						<div class="chart-spark white">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
					</div>

				</div>

				<div class="value">XXX</div>

			</div>


			<div class="smallchart green panel panel-default windows machine">

				<div class="title">EC2-i-f9480ef3</div>

				<div class="content">

					<div class="chart-stat">
						<div class="chart-spark white">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
					</div>

				</div>

				<div class="value">XXX</div>

			</div>

			<div class="smallchart green panel panel-default windows machine">

				<div class="title">EC2-i-f9480ef3</div>

				<div class="content">

					<div class="chart-stat">
						<div class="chart-spark white">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
					</div>

				</div>

				<div class="value">XXX</div>

			</div>


			<div class="smallchart grey panel panel-default bsd offline machine">

				<div class="title">EC2-i-f9420ef2</div>

				<div class="content">

					<div class="chart-stat">
						<div class="chart-spark white" height=100>1,2,6,4,0,8,2,4,5,3,1,7,5</div>
					</div>

				</div>

				<div class="value">XXX</div>

			</div>
			<div class="smallchart grey panel panel-default bsd offline machine">

				<div class="title">EC2-i-f9420ef2</div>

				<div class="content">

					<div class="chart-stat">
						<div class="chart-spark white">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
					</div>

				</div>

				<div class="value">XXX</div>

			</div>
			<div class="smallchart grey panel panel-default bsd offline machine">

				<div class="title">EC2-i-f9420ef2</div>

				<div class="content">

					<div class="chart-stat">
						<div class="chart-spark white">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
					</div>

				</div>

				<div class="value">XXX</div>

			</div>
			<div class="smallchart grey panel panel-default bsd offline machine">

				<div class="title">EC2-i-f9420ef2</div>

				<div class="content">

					<div class="chart-stat">
						<div class="chart-spark white">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
					</div>

				</div>

				<div class="value">XXX</div>

			</div>
			<div class="smallchart grey panel panel-default bsd offline machine">

				<div class="title">EC2-i-f9420ef2</div>

				<div class="content">

					<div class="chart-stat">
						<div class="chart-spark white">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
					</div>

				</div>

				<div class="value">XXX</div>

			</div>
			<div class="smallchart grey panel panel-default bsd offline machine">

				<div class="title">EC2-i-f9420ef2</div>

				<div class="content">

					<div class="chart-stat">
						<div class="chart-spark white">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
					</div>

				</div>

				<div class="value">XXX</div>

			</div>
			<div class="smallchart grey panel panel-default bsd offline machine">

				<div class="title">EC2-i-f9420ef2</div>

				<div class="content">

					<div class="chart-stat">
						<div class="chart-spark white">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
					</div>

				</div>

				<div class="value">XXX</div>

			</div>

	</div>

