<div id="{@vm@}" class="vms-machine col-lg-3 col-sm-6 {@vmtitle@}">
    <div class="smallchart {@vmcolor@} panel panel-default">
            <div class="title"><a href="/aws/{@vm@}/" class="white">{@vm@}</a></div>
            <div class="content">
                    <div class="chart-stat">
                            <div class="chart white">
                                {@averge@}
                            </div>
                </div>
            </div>
            <div class="value">{@state@}</div>
    </div>
</div><!--/col-->