{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Amazon EC2 Virtual Machine {{vm_name|upper}}{% endblock %}

{% block page_content %}

<div class="col-md-10 col-sm-11 main ">

	<ol class="breadcrumb">
	  	<li><a href="/">Virtual Machines</a></li>
	  	<li class="active">Amazon EC2 {{vm_name|upper}}</li>
	</ol>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
					<div class="panel-heading">
						<h2><i class="fa fa-truck"></i>{{vm_name}}</h2>
						<div class="panel-actions">
							<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
						</div>
					</div>
					<div class="panel-body">

<pre>
<strong>instance</strong> 
{% for vm in vm_cache|dict_get:"instance" %}
<strong>{{vm}}</strong> {{vm_cache|dict_get:"instance"|dict_get:vm}}{% endfor %}
</pre>	


 					</div><!--/col-->
			</div><!--/row-->	
		</div>
		<!-- end: Content -->
	</div><!--/row-->

		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-truck"></i>System metrics</h2>
							<div class="panel-actions">
								<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">

<pre>
<strong>vm_cache</strong>
{% for graph in vm_cache %}
<strong>{{graph}}</strong> {{vm_cache|dict_get:graph}}
{% endfor %}
</pre>					


	 					</div><!--/col-->

				</div><!--/row-->	



					<div class="row">
						<div class="col-xs-12">
							<div class="panel panel-default">
									<div class="panel-heading">
										<h2><i class="fa fa-truck"></i>Console output</h2>
										<div class="panel-actions">
											<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
											<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
											<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
										</div>
									</div>
									<div class="panel-body" style="display: none;">

<pre>
Console output:
{{console_output}}
</pre>	


				 					</div><!--/col-->
							</div><!--/row-->	
							
							
								<div class="row">
									<div class="col-xs-12">
										<div class="panel panel-default">
												<div class="panel-heading">
													<h2><i class="fa fa-truck"></i>Estimated cost</h2>
													<div class="panel-actions">
														<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
														<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
														<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
													</div>
												</div>
												<div class="panel-body">
													TBD
							 					</div><!--/col-->
										</div><!--/row-->	
									</div>
									<!-- end: Content -->
								</div><!--/row-->
							
							
						</div>
						<!-- end: Content -->

						<div class="panel-body">


							{% if vm_cache|dict_get:"instance"|dict_get:"state"|dict_get:"state" == "running" %}
								<a href="/aws/{{vm_name}}/request/help/"><button type="button" class="btn btn-default">Request Help</button></a>
								<div class="btn-group dropup">
									<button type="button" class="btn btn-warning">Remote desktop</button>
									<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
								        <span class="caret"></span>
								        <span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu" role="menu">
								        <li><a href="#">Start</a></li>
								        <li><a href="#">Stop</a></li>
								        <li><a href="#">Terminate</a></li>
								        <li><a href="#">Reboot</a></li>
								        <li class="divider"></li>
								        <li><a href="#">Duplicate</a></li>
								        <li><a href="#">Enable auto-scaling</a></li>
								        <li><a href="#">Backup to the Cloud</a></li>
								        <li class="divider"></li>
								        <li class="divider"></li>
								        <li><a href="#">Remote desktop</a></li>
									</ul>
								</div>
							{% endif %}

							{% if vm_cache|dict_get:"instance"|dict_get:"state"|dict_get:"state" == "stopped" %}
								<a href="#"><button type="button" class="btn btn-success">Start</button></a>
								<a href="#"><button type="button" class="btn btn-danger">Terminate</button></a>
								<a href="/aws/{{vm_name}}/request/help/"><button type="button" class="btn btn-default">Request Help</button></a>
								<a href="#"></a>
								<a href="#"></a>
							{% endif %}
							

							</div>	

						</div>
						<!-- end: Content -->


					</div><!--/row-->

		</div><!--/row-->



</div><!--/container-->

	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock page_content %}

