{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Amazon EC2 Virtual Machine {{vm_name|upper}}{% endblock %}

{% block page_content %}


<div class="col-md-10 col-sm-11 main ">

	<ol class="breadcrumb">
	  	<li><a href="/">Virtual Machines</a></li>
	  	<li class="active">Amazon EC2 {{vm_name|upper}}</li>
	</ol>


	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
					<div class="panel-heading">
						<h2><i class="fa fa-truck"></i>Server Details</h2>
						<div class="panel-actions">
							<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
						</div>
					</div>

					<div class="panel-body">

					<div class="panel-body col-md-6">
				            <table id="user" class="table table-bordered table-striped" style="clear: both">
				                <tbody> 
				                    <tr>         
				                        <td width="30%">Name</td>
				                        <td width="70%"><a href="form-x-editable.html#" id="servername" data-type="text" data-pk="1" data-placeholder="Required" data-original-title="Enter server name">{{vm_cache|dict_get:"instance"|dict_get:"id"}}</a></td>
				                    </tr>
				                    <tr>         
				                        <td>IP Address</td>
				                        <td><a href="http://www.infosniper.net/index.php?ip_address={{vm_cache|dict_get:"instance"|dict_get:"ip_address"}}&map_source=1&overview_map=1&lang=1&map_type=1&zoom_level=7" target="_blank">{{vm_cache|dict_get:"instance"|dict_get:"ip_address"}}</a> (private IP {{vm_cache|dict_get:"instance"|dict_get:"private_ip_address"}})</td>
				                    </tr>
				                    <tr>
							<td>DNS Name</td>
-				                        <td><a href="http://{{vm_cache|dict_get:"instance"|dict_get:"dns_name"}}" target="_blank">http://{{vm_cache|dict_get:"instance"|dict_get:"dns_name"}}</a></td>
-				                    </tr>
				                    <tr>         
				                        <td>Region</td>
				                        <td>{{vm_cache|dict_get:"instance"|dict_get:"region"}}</td>
				                    </tr> 
				                    <tr>         
				                        <td>Placement</td>
				                        <td>{{vm_cache|dict_get:"instance"|dict_get:"placement"}}</td>
				                    </tr>  
				                    <tr>         
				                        <td>AWS Image ID</td>
				                        <td>{{vm_cache|dict_get:"instance"|dict_get:"image_id"}}</td>
				                    </tr>
				                </tbody>
				            </table>	


				            <table id="user" class="table table-bordered table-striped" style="clear: both">
				                <tbody> 
				                    <tr>         
				                        <td>Security Groups</td>
				                        <td>{{vm_cache|dict_get:"instance"|dict_get:"groups"}}</td>
				                    </tr>                      
				                    <tr>         
				                        <td width="30%">Key Name</td>
				                        <td width="70%">{{vm_cache|dict_get:"instance"|dict_get:"key_name"}}</td>
				                    </tr>                      
				                </tbody>
				            </table>	


				            <table id="user" class="table table-bordered table-striped" style="clear: both">
				                <tbody> 
				                    <tr>         
				                        <td>State</td>
				                        <td>{{vm_cache|dict_get:"instance"|dict_get:"state"}}</td>
				                    </tr>                       
				                    <tr>         
				                        <td width="30">Launch Time</td>
				                        <td width="70%">{{vm_cache|dict_get:"instance"|dict_get:"launch_time"}}</td>
				                    </tr>                      
				                </tbody>
				            </table>	

						</div>
						<div class="panel-body col-md-6">							
							
				            <table id="user" class="table table-bordered table-striped" style="clear: both">
				                <tbody> 
				                    <tr>         
				                        <td width="30%">Instance Type</td>
				                        <td width="70%">{{vm_cache|dict_get:"instance"|dict_get:"instance_type"}}</td>
				                    </tr> 
				                    <tr>         
				                        <td>Architecture</td>
				                        <td>{{vm_cache|dict_get:"instance"|dict_get:"architecture"}}</td>
				                    </tr> 
				                    <tr>         
				                        <td>Virtualization Type</td>
				                        <td>{{vm_cache|dict_get:"instance"|dict_get:"virtualization_type"}}</td>
				                    </tr>
				                    <tr>         
				                        <td>Hypervisor</td>
				                        <td>{{vm_cache|dict_get:"instance"|dict_get:"hypervisor"}}</td>
				                    </tr>                    

				                    <tr>         
				                        <td>Persistent</td>
				                        <td>{{vm_cache|dict_get:"instance"|dict_get:"persistent"}}</td>
				                    </tr>  
				                </tbody>
				            </table>	

				            <table id="user" class="table table-bordered table-striped" style="clear: both">
				                <tbody> 
				                    <tr>         
				                        <td width="30%">Root Device Name</td>
				                        <td width="70%">{{vm_cache|dict_get:"instance"|dict_get:"root_device_name"}}</td>
				                    </tr>                      
				                    <tr>         
				                        <td>Root Device Type</td>
				                        <td>{{vm_cache|dict_get:"instance"|dict_get:"root_device_type"}}</td>
				                    </tr>                      
				                    <tr>         
				                        <td>Block Device Mapping</td>
				                        <td>{{vm_cache|dict_get:"instance"|dict_get:""}}</td>
				                    </tr>                      
				                    <tr>         
				                        <td>Ramdisk</td>
				                        <td>{{vm_cache|dict_get:"instance"|dict_get:"ramdisk"}}</td>
				                    </tr>                      
				                </tbody>
				            </table>	

				            <table id="tags" class="table table-bordered table-striped" style="clear: both">
				                    <tr>         
				                        <td>Tags</td>
				                        <td>{{vm_cache|dict_get:"instance"|dict_get:"tags"}}</td>
				                    </tr> 
					    </table>

                    </div><!--/col-->
                </div><!--/row-->	
        </div>
        <!-- end: Content -->
	</div><!--/row-->



{% comment %}
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
					<div class="panel-heading">
						<h2><i class="fa fa-truck"></i>{{vm_name}}</h2>
						<div class="panel-actions">
							<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
						</div>
					</div>
					<div class="panel-body">

<pre>
{% for vm in vm_cache|dict_get:"instance" %}
<strong>{{vm}}</strong> {{vm_cache|dict_get:"instance"|dict_get:vm}}{% endfor %}
</pre>	


                                </div><!--/col-->
                </div><!--/row-->	
        </div>
        <!-- end: Content -->
</div><!--/row-->
{% endcomment %}


    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                    <h2><i class="fa fa-truck"></i>System metrics</h2>
                    <div class="panel-actions">
                            <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                            <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
            </div>
            <div class="panel-body">
                
                <div id="CPU-Metrics"></div>
                <br />
                <div id="network-metrics"></div>
                <br />
                <div id="hdd-metrics"></div>


<strong>Debug:</strong> vm_cache<br/>

{% comment %}
{% for graph in vm_cache %}
{% if graph == "cpu_utilization_datapoints" %}
	<strong>{{graph}} data</strong>
	<br/>
	{% for value in vm_cache|dict_get:graph|make_json %}
		{{value|dict_get:"Timestamp"|format_datetime_special}}, value: {{value|dict_get:"Average"}}<br/>
	{% endfor %}
{% endif %}
{% endfor %}
<br/>
{% endcomment %}

<pre>
<strong>(Only) Available metrics from the ec2.cloudwatch:</strong>
cpu_utilization_datapoints
networkout_datapoints
networkin_datapoints
disk_writeops_datapoints
disk_readops_datapoints
disk_writebytes_datapoints
disk_readbytes_datapoints
</pre>

            </div><!--/col-->

</div><!--/row-->	

{% comment %}				
<div class="row">
        <div class="col-xs-12">
                <div class="panel panel-default">
                                <div class="panel-heading">
                                        <h2><i class="fa fa-truck"></i>Alerts</h2>
                                        <div class="panel-actions">
                                                <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                                                <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                                                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                                        </div>
                                </div>
                                <div class="panel-body" style="display: none;">
                                        TBD
                                </div><!--/col-->
                </div><!--/row-->	
        </div>
        <!-- end: Content -->
</div><!--/row-->
{% endcomment %}

<div class="row">
        <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                            <h2><i class="fa fa-truck"></i>Console output</h2>
                            <div class="panel-actions">
                                    <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                                    <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                                    <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                    </div>
                    <div class="panel-body" style="display: none;">

<pre>
Console output:
{{console_output}}
</pre>	


                </div><!--/col-->
</div><!--/row-->	


<div class="row">
        <div class="col-xs-12">
                <div class="panel panel-default">
                                <div class="panel-heading">
                                        <h2><i class="fa fa-truck"></i>Estimated cost (based on the actual usage)</h2>
                                        <div class="panel-actions">
                                                <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                                                <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                                                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                                        </div>
                                </div>
                                <div class="panel-body">
                                        TBD
                                </div><!--/col-->
                </div><!--/row-->	
        </div>
        <!-- end: Content -->
</div><!--/row-->

</div>
<!-- end: Content -->

<div class="panel-body">


{% if vm_cache|dict_get:"instance"|dict_get:"state"|dict_get:"state" == "running" %}
        <a href="/aws/{{vm_name}}/request/help/"><button type="button" class="btn btn-default">Request Help</button></a>
        <div class="btn-group dropup">
                <button type="button" class="btn btn-warning">Remote desktop</button>
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                <li><a href="/aws/{{vm_name}}/stop/">Stop</a></li>
                <li><a href="/aws/{{vm_name}}/terminate/">Terminate</a></li>
                <li class="divider"></li>
                <li><a href="#">Duplicate</a></li>
                <li><a href="#">Assign a static IP</a></li>
                <li><a href="#">Enable auto-scaling</a></li>
                <li><a href="#">Backup to the Cloud</a></li>
                <li class="divider"></li>
                <li class="divider"></li>
                <li><a href="#">Remote desktop</a></li>
                </ul>
        </div>
{% endif %}

{% if vm_cache|dict_get:"instance"|dict_get:"state"|dict_get:"state" == "stopped" %}
        <a href="/aws/{{vm_name}}/start/"><button type="button" class="btn btn-success">Start</button></a>
        <a href="/aws/{{vm_name}}/terminate/"><button type="button" class="btn btn-danger">Terminate</button></a>
        <a href="/aws/{{vm_name}}/request/help/"><button type="button" class="btn btn-default">Request Help</button></a>
        <a href="#"></a>
        <a href="#"></a>
{% endif %}


</div>	

</div>	

</div>	

</div>	

</div>
<!-- end: Content -->




</div><!--/container-->

	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock page_content %}

{% block extra_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
    <!--
    
    $(function () {
        //CPU metrics
        $('#CPU-Metrics').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'CPU Utilisation'
            },
            subtitle: {
                text: 'CloudWatch Datapoints'
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Date and time'
                }
            },
            tooltip: {
                headerFormat: '<b>{series.name}:</b> %{point.y:.2f}<br>',
                pointFormat: '{point.x:%Y-%m-%d %H:%M}'
            },
            yAxis: {
                title: {
                    text: 'CPU %'
                },
                min: 0
            },
            

            series: [{
                name: 'Average',
                data: [
					{% for graph in vm_cache %}
					{% if graph == "cpu_utilization_datapoints" %}
						{% for value in vm_cache|dict_get:graph|make_json_sorted %}
							[Date.UTC({{value|dict_get:"Timestamp"|format_datetime_special|dict_get:"year"}}, {{value|dict_get:"Timestamp"|format_datetime_special|dict_get:"month"}}, {{value|dict_get:"Timestamp"|format_datetime_special|dict_get:"day"}}, {{value|dict_get:"Timestamp"|format_datetime_special|dict_get:"hour"}}, {{value|dict_get:"Timestamp"|format_datetime_special|dict_get:"minute"}}, {{value|dict_get:"Timestamp"|format_datetime_special|dict_get:"second"}}), {{value|dict_get:"Average"}}],
						{% endfor %}
					{% endif %}
					{% endfor %}
                ]
            }
        ]
        });
});

    //-->
</script>
{# <!-- {{value|dict_get:"Timestamp"|format_datetime_special|dict_get:"year"}}, {{value|dict_get:"Timestamp"|format_datetime_special|dict_get:"month"}}, {{value|dict_get:"Timestamp"|format_datetime_special|dict_get:"day"}}, 10, 40, 40, 400 --> #}
{% endblock extra_js %}

