<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Servers and Cloud Servers Dashboard with sophisticated alerting.">
    <meta name="author" content="Jan Paricka and Ondřej Kopal">
    <meta name="keyword" content="Cloud Management">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/admin-assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/admin-assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/admin-assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/admin-assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>

    <!-- Bootstrap core CSS -->
    <link href="/static/admin-assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- page css files -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/admin-assets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/static/admin-assets/css/fullcalendar.css" rel="stylesheet">
    <link href="/static/admin-assets/css/morris.css" rel="stylesheet">
    <link href="/static/admin-assets/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <link href="/static/admin-assets/css/climacons-font.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/admin-assets/css/style.min.css" rel="stylesheet">
    <link href="/static/admin-assets/css/cloudly.css" rel="stylesheet">
    {% block extra_css%}{% endblock %}


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <input
        name="sidebar"
        value="{{request.session.sidebar}}"
        type="hidden"
    />

    {% csrf_token %}
    {% block nav-bar %}
    {% endblock %}

    <div class="container-fluid content">
        <div class="row">
            {% include "partials/sidebar_menu.html" %}

            {% block content %}
                <title>{% block title %}{% endblock title %}</title>
                <div id="main" class="col-md-10 col-sm-11 main">
                    {% block page_content %}
                    {% endblock %}
                </div><!--/leave britney alone-->
            {% endblock content %}
        </div><!--/leave britney alone-->
    </div><!--/container-->

    <div class="clearfix"></div>
    <footer>
        <div class="row">

            <div class="col-sm-5">
                &copy;2016 <a href="/credits/">Jan Paricka</a>
            </div><!--/.col-->

            <div class="col-sm-7 text-right">
                <span class="hidden-sm text"></span>Check us out on <a href="//github.com/jparicka/cloudly" target="_blank">GitHub</a> <i class="fa fa-github"></i>
            </div><!--/.col-->

        </div><!--/.row-->
    </footer>

<!-- start: JavaScript-->
<!--[if !IE]>-->
    <script src="/static/admin-assets/js/jquery-2.1.0.min.js"></script>
<!--<![endif]-->
<!--[if IE]>
    <script src="/static/admin-assets/js/jquery-1.11.0.min.js"></script>
<![endif]-->
<!--[if !IE]>-->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/static/admin-assets/js/jquery-2.1.0.min.js'>"+"<"+"/script>");
    </script>
<!--<![endif]-->
<!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/static/admin-assets/js/jquery-1.11.0.min.js'>"+"<"+"/script>");
    </script>
<![endif]-->
<script src="/static/admin-assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/admin-assets/js/bootstrap.min.js"></script>
<script src="/static/admin-assets/js/jquery.sparkline.min.js"></script>

<!-- page scripts -->
<script src="/static/admin-assets/js/jquery-ui.min.js"></script>
<script src="/static/admin-assets/js/modernizr.js"></script>
<script src="/static/admin-assets/js/jquery.dataTables.min.js"></script>
<script src="/static/admin-assets/js/isotope.pkgd.min.js"></script>
<script src="/static/admin-assets/js/pages/table.js"></script>

<!-- theme scripts -->
<script src="/static/admin-assets/js/core.js"></script>
<script src="/static/admin-assets/js/custom.min.js"></script>
<script src="/static/admin-assets/js/vms_request.js"></script>

<script src="/static/js/cloudly.js"></script>

{% include "google_analytics.html" %}

{% block extra_js%}
{% endblock extra_js %}

</body>
</html>
