{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Cloud Photos{% endblock %}

{% block page_content %}

<div class="col-md-10 col-sm-11 main " style="min-height: 161px;">
			

	<div class="row">	
		<div class="col-lg-12">
			<ol class="breadcrumb">
			  	<li><a href="#">Cloud</a></li>
			  	<li class="active">Photos</li>
			</ol>
		</div>
	</div>
	
	
	
	<div class="row">
		<p>
			<font color="red">
				
				Devel: XXX Work in intelligent dropzone..
				
			</font>
		</p>
	</div>


	
	

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading" data-original-title="">
					<h2><i class="fa fa-picture-o"></i> Cloud Photos</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
								
					<div class="row">
						{% for picture in files_pictures %}
						<div style="margin-bottom:30px" class="col-sm-2 col-xs-6">
							<img class="img-thumbnail" src="/media/{{picture.file.file}}" alt="{{picture.file.file|clear_filename}}">
						</div>
						{% endfor %}
						
					</div>
				</div>	
			</div><!--/col-->
		</div><!--/col-->

	</div><!--/row-->

		
	</div>

{% endblock page_content %}

