{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Cloud Software{% endblock %}

{% block page_content %}


<div class="col-md-10 col-sm-11 main ">
	
	
	<ol class="breadcrumb">
	  	<li><a href="#">Cloud</a></li>
	  	<li class="active">Software</li>
	</ol>
	
			<div class="row">
				<div class="panel panel-default">
				<strong><font color="red">Debug</font></strong> {{uploaded_files}}
				<br/>
				<br/>
				<font color="red">XXX search</font><br/>
				<font color="red">XXX top categories</font><br/>
				<font color="red">XXX style</font>
				
				<hr/>
								
				<div class="btn-group">
					<select name="cat" id="prop_cat" data-placeholder="Category">
                       <option value='all'>All categories</option>
                       <option value='Specials'>Specials</option>
                       <option value='IT-Infrastructure'>IT Infrastructure</option>
                       <option value='Web-development'>Web development</option>
                       <option value='Content-management'>Content management</option>
                       <option value='Business-management'>Business management</option>
                       <option value='Messaging'>Messaging</option>
                       <option value='Issue-tracking'>Issue tracking</option>
                       <option value='Database'>Database</option>
                       <option value='SDK'>SDK</option>
					</select>
				</div>
				
				<hr/>
				
				{% for package in packages %}
				Package: <strong>{{package.title}}</strong>
				{{package.description}}
				
					{% for tag in package|get_tags %}
						<a href="/cloud/software/tag/{{tag.tag.name_slug}}/"><span class="label label-primary">{{tag.tag}}</span></a>
					{% endfor %}
					<button type="button" class="btn btn-success btn-xs">Install</button>
				
				<hr/>
				{% endfor %}

				<hr/>
				All Tags:
				<a href="/cloud/software/">
			    <span class="label label-info">all</span></a>
				{% for tag in tags %}
				<a href="/cloud/software/tag/{{tag.name_slug}}/">
				<span class="label label-primary">{{tag}}</span></a>
				{% endfor %}
				
				<hr/>
				<a href="/cloud/software/add/new/"><button type="button" class="btn btn-danger"><i class="fa fa-heart-o"></i> Add More Software</button></a>
				
				</div>
			</div>

			
		</div>
		<!-- end: Content -->
	</div><!--/row-->		
</div><!--/container-->
	
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock page_content %}
