{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Cloud Settings{% endblock %}


{% block page_content %}
<div class="col-md-10 col-sm-11 main ">

	<ol class="breadcrumb">
	  	<li><a href="/">Cloud</a></li>
	  	<li class="active">Settings</li>
	</ol>

		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-picture-o"></i>Cloud Settings</h2>
							<div class="panel-actions">
								<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
								<form name="input" action="/cloud/settings/credentials/update/" method="POST" class="form-horizontal ">{% csrf_token %}
					                <div class="form-group">
					                    <label class="col-md-3 control-label" for="hf-email">AWS Access Key</label>
					                    <div class="col-md-9">
					                        <input id="hf-email" name="current_passwd" class="form-control" placeholder="{{profile.aws_access_key}}">
					                        {% if not profile.aws_access_key %}<span class="help-block">Please provide your AWS Access Key</span>{% endif %}
					                    </div>
					                </div>
					                <div class="form-group">
					                    <label class="col-md-3 control-label" for="hf-password">AWS Secret</label>
					                    <div class="col-md-9">
					                        <input type="password" id="hf-password" name="new_passwd" class="form-control" placeholder="{% if profile.aws_secret_key %}*******************************************************************{% endif %}">
					                        {% if not profile.aws_secret_key %}<span class="help-block">Please provide your AWS Secret</span>{% endif %}
					                    </div>
					                </div>
	
		                    <button type="submit" class="btn btn-sm btn-info"><i class="fa fa-dot-circle-o"></i> Update AWS Key and Secret</button>
		                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-truck"></i> Verify</button>
							</form>
	 					</div><!--/col-->
				</div><!--/row-->	

				<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-picture-o"></i>Public Cloud Regions</h2>
							<div class="panel-actions">
								<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
							<form name="input" action="/cloud/settings/regions/update/" method="POST" class="form-horizontal ">{% csrf_token %}
							<div class="form-group">
				                <label class="col-md-3 control-label"></label>
				                <div class="col-md-9">
									{% for region in aws_regions %}
				                    <div class="checkbox">
				                        <label for="checkbox{{forloop.counter}}">
				                        	<input type="checkbox" id="{{region}}" name="checkboxes" value="{{region}}" {% if region in profile_regions %}checked{% endif %}> {{aws_regions|dict_get:region}}
				                        </label>
				                    </div>
									{% endfor %}
				                </div>
				            </div>
							<p><i>* Please select only the regions that you actually utilise and/or planning on to utilise.</i></p>
				
		                    <button type="submit" class="btn btn-sm btn-info"><i class="fa fa-dot-circle-o"></i> Update Regions</button>
				            </form>
				
	 					</div><!--/col-->
				</div><!--/row-->	
			</div>
			<font color="red">XXX there needs to be edit button that enables the update buttons....</font><br/>
			<font color="red">XXX clicking world map with regions clickable would be cool...</font>
		</div>
				
		<!-- end: Content -->
		</div><!--/row-->		
	</div><!--/container-->

</div>
{% endblock page_content %}

