{% load humanize %}{% load cloud_extras %}{ "data": [
  {% for f in uploaded_files %}
    [
      '<a href="/media/{{f.file.file}}">{{forloop.counter}}</a>',
      '{{f.date_created|naturalday}}',
      '<a href="/media/{{f.file.file}}" target="_blank">{{f.file.file|clear_filename}}</a><small><a href="#" id="name" data-type="text" data-pk="1" data-original-title="Name this file" class="editable editable-click">create alias</a></small>',
      '{{f.file.file.size|filesizeformat}}',
      '{{f.file.file|get_file_extension|upper}}',
      '<span class="label label-warning">Synchronising..</span>',

      {% if not f.is_shared %}
      '<a class="btn btn-success" href="#"><i class="fa fa-search-plus "></i></a><a class="btn btn-info" href="/media/{{f.file.file}}" target="_blank"><i class="fa fa-cloud-download "></i></a><a class="btn btn-info" href="#" target="_blank"><i class="fa fa-share "></i></a><a class="btn btn-danger" href="#"><i class="fa fa-trash-o "></i></a>',
      {% endif %}
						
      {% if f.is_shared %}
      '<a class="btn btn-warning" href="/password/protect/file"><i class="fa fa-key "></i></a><a class="btn btn-danger" href="#"><i class="fa fa-trash-o "></i></a><button type="button" class="btn btn-link"><i class="fa fa-link"></i> Share Link</button><span class="label label-default">{{f.share_link_clicks_count}}</span>'
      {% endif %}
    ]
  {% endfor %}

] }
