{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Cloud Software{% endblock %}

{% block page_content %}


<div class="col-md-10 col-sm-11 main ">
	
	
	<ol class="breadcrumb">
	  	<li><a href="/cloud/settings/">Cloud</a></li>
	  	<li class="active">Software</li>
	</ol>
	
			<div class="row">
				<div class="panel panel-default">
				<strong><font color="red">Debug</font></strong> {{uploaded_files}}								
				<h2>cloud_software</h2>

				<hr/>
				{% for package in packages %}
				Package: {{package.title}}<br/>
				Tags: 
				{% for tag in package|get_tags %}
					<a href="/cloud/software/tag/{{tag.tag.name_slug}}/">{{tag.tag}}</a>
				{% endfor %}
				<hr/>
				{% endfor %}

				Tags: <a href="/cloud/software/tag/all">all</a>
				{% for tag in tags %}
				<a href="/cloud/software/tag/{{tag.name_slug}}/">{{tag}}</a>
				{% endfor %}
				</div>
			</div>

			
		</div>
		<!-- end: Content -->
	</div><!--/row-->		
</div><!--/container-->
	
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock page_content %}
