{% load humanize %}

{% load cloud_extras %}

		<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
              <table class="table table-striped table-bordered cloud_data">
                <thead>
                  <tr>
                    <th></th>
                    <th>Added</th>
                    <th>Filename</th>
					<th>Size</th>
					<th>Kind</th>
                    <th>Status</th>
					<th>Action</th>
                  </tr>
                </thead>   
                <tbody>
				{% for f in uploaded_files %}
	                <tr>
					  <td>
						<a href="/media/{{f.file.file}}">{{forloop.counter}}</a>
					  </td>

					  <td>{{f.date_created|naturalday}}</td>
				
					  <td>
						<a href="#">{{f.file.file|clear_filename}}</a>
						
						<small><a href="#" id="name" data-type="text" data-pk="1" data-original-title="Name this file" class="editable editable-click">create alias</a></small>
					  </td>
					
					  <td width="10%">
						{{f.file.file.size|filesizeformat}}
					  </td>
					  <td>{{f.file.file|get_file_extension|upper}}</td>
	                  <td width="10%">
	                    <span class="label label-warning">Synchronising..</span>
	                  </td>

	                  <td width="18%">
	                    <a class="btn btn-success" href="#">
	                      <i class="fa fa-search-plus "></i>                                            
	                    </a>
	                    <a class="btn btn-info" href="/media/{{f.file.file}}" target="_blank">
	                      <i class="fa fa-cloud-download "></i>                                            
	                    </a>
						{% if not f.is_shared %}
	                    <a class="btn btn-info" href="#" target="_blank">
	                      <i class="fa fa-share "></i>                                            
	                    </a>
	                    <a class="btn btn-danger" href="#">
	                      <i class="fa fa-trash-o "></i> 
	                    </a>
						{% endif %}
	                    </td>
						
						{% if f.is_shared %}
					    <td width="25%">
							{% if f.is_shared %}
		                    <a class="btn btn-warning" href="/password/protect/file">
		                      <i class="fa fa-key "></i>                                            
		                    </a>
		                    <a class="btn btn-danger" href="#">
		                      <i class="fa fa-trash-o "></i> 
		                    </a>
							{% endif %}
							<button type="button" class="btn btn-link"><i class="fa fa-link"></i> Share Link</button>
							<span class="label label-default">{{f.share_link_clicks_count}}</span>
							
						</td>
						{% endif %}
		              </tr>
				{% endfor %}
                </tbody>
              </table>
		</div>


