{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Cloud Dropzone{% endblock %}

{% block page_content %}

<div class="col-md-10 col-sm-11 main" style="min-height: 295px;">


	<div class="row">	
		<div class="col-lg-12">
			<ol class="breadcrumb">
			  	<li><a href="#">Cloud</a></li>
			  	<li class="active">Dropzone</li>
			</ol>
		</div>
	</div>
			
			
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-edit"></i>Cloud Dropzone</h2>
							<div class="panel-actions">
								<a href="form-dropzone.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								<a href="form-dropzone.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="form-dropzone.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
							
							<div class="alert alert-info">
								<button type="button" class="close" data-dismiss="alert">×</button>
								Drag &amp; drop your files to upload them to the cloud
							</div>
								  
							<div class="form-group">
								<label class="control-label">File Upload</label>
								<div class="controls">
								  	<div id="dropzone">
								        <form class="dropzone" action="/cloud/dropzone/" method="post" enctype="multipart/form-data" style="height:480px">
								            {% csrf_token %}
											
										<div class="dz-default dz-message"><span>Drop files here to upload</span></div></form>
									</div>
								</div>
							</div>	  
						</div>
					</div>
				</div><!--/col-->

			</div><!--/row-->

			{% include "cloud_storage-list.html" %}
					
			</div>
			
        <script src="/static/js/dropzone.js"></script>

{% endblock page_content %}

