{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Cloud Settings{% endblock %}

{% block page_content %}

<div class="col-md-10 col-sm-11 main ">

	<ol class="breadcrumb">
	  	<li><a href="/">Cloud</a></li>
	  	<li class="active">Settings</li>
	</ol>

	<p>
		<font color="red">XXX......</font>
		<br/><br/>
		Secret: {{secret}}<br/>
		<br/>
		Your Amazon AWS Settings<br/>
		<br/>
		aws_access_key {{profile.aws_access_key}}<br/>
		aws_secret_key {{profile.aws_secret_key}}<br/>
		aws_enabled_regions {{profile.aws_enabled_regions}}<br/>
		aws_ec2_verified {{profile.aws_ec2_verified}}<br/>
		aws_s3_verified {{profile.aws_s3_verified}}<br/>
		<hr/>
		<hr/>
	
	</p>

</div>
{% endblock page_content %}

