{% extends "base.html" %}

{% load humanize %}
{% load cloud_extras %}

{% block title %}Cloudly | Credits{% endblock %}

{% block nav-bar %}
    {% include "partials/nav-bar-classic.html" %}
{% endblock %}

{% block page_content %}
	<ol class="breadcrumb">
		<li class="">Credits</li>
		<li class="active">The Team</li>
	</ol>


	<div class="page-header">
	<h1>Say hello! <small>
	Cloudly is Free, Enterprise Ready, and completely Open Source. Always will be.</small></h1>
	</div>


	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bug"></i><span class="break"></span>The Team</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">


					    <a href="http://linkedin.com/in/jparicka/" target="_blank">
						<img src="/static/images/credits/jan.png"></a>

					    <a href="https://cz.linkedin.com/pub/ond%C5%99ej-kopal/58/b1/b35" target="_blank">
						<img src="/static/images/credits/kopi.jpg"></a>

				</div>
			</div>
		</div><!--/col-->
	</div><!--/row-->


	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-github"></i><span class="break"></span>GitHub Contributors</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
				</div>
			</div>
		</div><!--/col-->
	</div><!--/row-->

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-beer"></i><span class="break"></span>Technology Sponsors</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
				</div>
			</div>
		</div><!--/col-->
	</div><!--/row-->
	
	<hr/>
	XXX Hosting by:
	<br/><br/>
	XXX Design by:
	<br/><br/>

	<br/><br/>
	<br/><br/>
	<br/><br/>


{% endblock page_content %}
