{% extends "base.html" %}

{% load humanize %}
{% load cloud_extras %}
						
{% block title %}Cloudly | Credits{% endblock %}

{% block extra_css%}
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}

{% block page_content %}


<div class="col-md-10 col-sm-11 main ">

	<ol class="breadcrumb">
		<li class="">Credits</li>
		<li class="active">The Team</li>
	</ol>


	<div class="page-header">
	<h1>Say hello! <small>
	Cloudly is Free, Enterprise Ready, and completely Open Source. Always will be.</small></h1>
	</div>
	
	
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bug"></i><span class="break"></span>Team</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<a href="http://linkedin.com/in/jparicka" target="_blank">Jan Paricka</a> and <a href="http://www.superloony.info/" target="_blank"">Ondrej Kopal</a>
				</div>
			</div>
		</div><!--/col-->
	</div><!--/row-->


	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bug"></i><span class="break"></span>Contributions</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
				</div>
			</div>
		</div><!--/col-->
	</div><!--/row-->
	
	
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-eyedropper"></i><span class="break"></span>Sponsors</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					Special thanks goes out to sponsors...
				</div>
			</div>
		</div><!--/col-->
	</div><!--/row-->

	{% comment %}
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bug"></i><span class="break"></span>Donations</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					or maybe donations...?
				</div>
			</div>
		</div><!--/col-->
	</div><!--/row-->
	{% endcomment %}

</div>




{% endblock page_content %}
