{% extends "base.html" %}

{% load humanize %}
{% load cloud_extras %}

{% block title %}Monkeytor | Credits{% endblock %}

{% block nav-bar %}
    {% include "partials/nav-bar-classic.html" %}
{% endblock %}

{% block page_content %}
	<ol class="breadcrumb">
		<li class="">Credits</li>
		<li class="active">The Team</li>
	</ol>


	<div class="page-header">
	<h1>Say hello! <small>
	Monkeytor is Free, Enterprise Ready, and completely Open Source. Always will be.</small></h1>
	</div>


	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-bug"></i><span class="break"></span>The Team</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">

				    <a href="//linkedin.com/in/jparicka/" target="_blank">
					<img src="/static/images/jparicka.png" width="128"></a>

            <a href="//cz.linkedin.com/in/ondrejkopal/" target="_blank">
          <img src="/static/images/credits/kopi.jpg"></a>

          {% comment %}
            <a href="https://www.linkedin.com/profile/view?id=AAkAAAAolBEBIn-ngw_awtSrN4C9vHA749PvBjY" target="_blank">
          <img src="/static/images/credits/contributors/galik.jpg" width="128"></a>
          {% endcomment %}

				</div>
			</div>
		</div><!--/col-->
	</div><!--/row-->

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-github"></i><span class="break"></span>GitHub Contributors</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">

          {% comment %}
              <a href="https://github.com/martinnigel" target="_blank">
               <img src="/static/images/credits/contributors/martinnigel.jpeg" width="50">
              </a>
              <a href="https://github.com/OndrejKopal" target="_blank">
               <img src="/static/images/credits/kopi.jpg" width="50">
              </a>
              <a href="https://github.com/tarikozket" target="_blank">
               <img src="/static/images/credits/contributors/tarikozket.jpeg" width="50">
              </a>
              <a href="https://github.com/KarimJedda" target="_blank">
               <img src="/static/images/credits/contributors/karim.jpg" width="50">
              </a>
          {% endcomment %}

				</div>
			</div>
		</div><!--/col-->
	</div><!--/row-->

  <div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-beer"></i><span class="break"></span>Technology Sponsors</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
          <p>
            <a href="https://github.com/martinnigel" target="_blank">
             <img src="/static/images/credits/contributors/martinnigel.jpeg" width="50">
            </a>
            <a href="https://www.linkedin.com/profile/view?id=AAkAAAAolBEBIn-ngw_awtSrN4C9vHA749PvBjY" target="_blank">
             <img src="/static/images/credits/contributors/galik.jpg" width="50"></a>
          </p>
				</div>
			</div>
		</div><!--/col-->
	</div><!--/row-->


  Design by: Jan Paricka (otherwise backend developer lol)..
	<br/><br/>
	Hosted by: Martin Galik using his pocket money..
	<br/>

  <br/>

  Remember to donate.<br/>
  <br/>

  Thank you.<br/>
  <br/>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_donations">
		<input type="hidden" name="business" value="jparicka@gmail.com">
		<input type="hidden" name="lc" value="CZ">
		<input type="hidden" name="item_name" value="Donation to Project Monkeytor">
		<input type="hidden" name="no_note" value="0">
		<input type="hidden" name="currency_code" value="USD">
		<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">

    <br/><br/>

	</form>

{% endblock page_content %}
