{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Virtual Servers{% endblock %}

{% block page_content %}




<div class="col-md-10 col-sm-11 main ">
	
	<ol class="breadcrumb">
	  	<li><a href="#">Cloud</a></li>
	  	<li class="active">Virtual Machines</li>
	</ol>
	
	
	<div class="row">
					<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
						<div class="smallstat">
							<div class="boxchart-overlay blue">
								<div class="boxchart"><canvas width="64" height="30" style="display: inline-block; vertical-align: top; width: 64px; height: 30px;"></canvas></div>
							</div>
							<span class="value">4 589</span>	
							<span class="title">Clients</span>

						</div>
					</div><!--/col-->

					<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
						<div class="smallstat">
							<div class="linechart-overlay red">
								<div class="linechart"><canvas width="65" height="30" style="display: inline-block; vertical-align: top; width: 65px; height: 30px;"></canvas></div>
							</div>
							<span class="value">789</span>	
							<span class="title">Deals</span>						
						</div>
					</div><!--/col-->

					<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
						<div class="smallstat">
							<i class="fa fa-usd green"></i>
							<span class="value">$1 999,99</span>
							<span class="title">Income</span>	
						</div>
					</div><!--/col-->

					<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
						<div class="smallstat">
							<div class="piechart-overlay blue">
								<div class="piechart easyPieChart" data-percent="55" style="width: 40px; height: 40px; line-height: 40px;"><span>55</span>%<canvas width="40" height="40"></canvas></div>
							</div>
							<span class="value">$19 999,99</span>	
							<span class="title">Account</span>		
						</div>
					</div><!--/col-->
	</div><!--/row-->



	<div class="row">	
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2><i class="fa fa-asterisk"></i><span class="break"></span>Filters</h2> <small><font color="red"> &nbsp;&nbsp;&nbsp;<strong>XXX</strong> isotope goes here..</font></small>
							</div>
							<div class="panel-body">

								<p>Filters:</p>

								<div class="col-lg-1 col-md-2 col-xs-6">
									<a class="quick-button small">
										<p>show All</p>
									</a>
								</div>


								<div class="col-lg-1 col-md-2 col-xs-6">
									<a class="quick-button small">
										<p>offline</p>
									</a>
								</div>

								<div class="col-lg-1 col-md-2 col-xs-6">
									<a class="quick-button small">
										<p>suspended</p>
									</a>
								</div>
								
								<div class="col-lg-1 col-md-2 col-xs-6">
									<a class="quick-button small">
										<p>windows</p>
									</a>
								</div>
								
								<div class="col-lg-1 col-md-2 col-xs-6">
									<a class="quick-button small">
										<p>linux</p>
									</a>
								</div>
								
								<div class="col-lg-1 col-md-2 col-xs-6">
									<a class="quick-button small">
										<p>bsd</p>
									</a>
								</div>

								<div class="col-lg-1 col-md-2 col-xs-6">
									<a class="quick-button small">
										<p>private</p>
									</a>
								</div>



								<div class="clearfix"></div>
							</div>	
						</div>	
					</div><!--/col-->

	</div>





	<div class="row">

					<div class="col-lg-3 col-sm-6">

						<div class="smallchart blue panel panel-default">

							<div class="title">Account balance</div>

							<div class="content">

								<div class="chart-stat">
									<div class="chart white"><canvas width="204" height="40" style="display: inline-block; vertical-align: top; width: 204px; height: 40px;"></canvas></div>
								</div>

							</div>

							<div class="value">$19 999,99</div>

						</div>

					</div><!--/col-->

					<div class="col-lg-3 col-sm-6">

						<div class="smallchart red panel panel-default">

							<div class="title">Weekly revenue</div>

							<div class="content">

								<div class="chart-stat">
									<div class="chart white"><canvas width="204" height="40" style="display: inline-block; vertical-align: top; width: 204px; height: 40px;"></canvas></div>
								</div>

							</div>

							<div class="value">$1 849,99</div>

						</div>

					</div><!--/col-->

					<div class="col-lg-3 col-sm-6">

						<div class="smallchart green panel panel-default">

							<div class="title">Account balance</div>

							<div class="content">

								<div class="chart-stat">
									<div class="chart white"><canvas width="204" height="40" style="display: inline-block; vertical-align: top; width: 204px; height: 40px;"></canvas></div>
								</div>

							</div>

							<div class="value">$19 999,99</div>

						</div>

					</div><!--/col-->

					<div class="col-lg-3 col-sm-6">

						<div class="smallchart yellow panel panel-default">

							<div class="title">Weekly revenue</div>

							<div class="content">

								<div class="chart-stat">
									<div class="chart white"><canvas width="204" height="40" style="display: inline-block; vertical-align: top; width: 204px; height: 40px;"></canvas></div>
								</div>

							</div>

							<div class="value">$1 849,99</div>

						</div>

					</div><!--/col-->

	</div>



<!-- ########################################################################################## -->

<hr/>

<!-- ########################################################################################## -->


<p><font color="red">On the mouse over do the flip-over to look like this</font></p>


	<div class="row">

					<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
						<div class="panel panel-default info-box">
							<div class="backgroundColor blue">
							<div class="clearfix">
								<span class="title">SALE</span>
								<span class="value">$1.890,65</span>
							</div>
							<div class="clearfix">
								<span class="date">Today 6:43 AM</span>
								<span class="change">+$432,50 (15,78%)</span>
							</div>	
							<div class="chart-info-box" style="height: 50px; margin-top: 20px; position: relative; padding: 0px;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 207px; height: 50px;" width="207" height="50"></canvas><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 207px; height: 50px;" width="207" height="50"></canvas></div>
							</div>

							<div class="quarters">

								<div class="quarter q1">
									<div>+$780,98 <span>Weekly Change</span></div>
								</div>
								<div class="quarter q2">
									<div class="verticalChart">

										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 37%;">
													<span>37%</span>
												</div>
											</div>
											<div class="title">M</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 16%;">
													<span>16%</span>
												</div>
											</div>
											<div class="title">T</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 12%;">
													<span>12%</span>
												</div>
											</div>
											<div class="title">W</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 9%;">
													<span>9%</span>
												</div>
											</div>
											<div class="title">T</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 7%;">
													<span>7%</span>
												</div>
											</div>
											<div class="title">F</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 6%;">
													<span>6%</span>
												</div>
											</div>
											<div class="title">S</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 5%;">
													<span>5%</span>
												</div>
											</div>
											<div class="title">S</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="quarter q3">
									9.127
									<span>Deals</span>
								</div>
								<div class="quarter q4">
									$189.783,87
									<span>Total Income</span>
								</div>

							</div>	

						</div>
					</div><!--/col-->

					<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
						<div class="panel panel-default info-box">
							<div class="backgroundColor orange">
							<div class="clearfix">
								<span class="title">SALE</span>
								<span class="value">$1.890,65</span>
							</div>
							<div class="clearfix">
								<span class="date">Today 6:43 AM</span>
								<span class="change">+$432,50 (15,78%)</span>
							</div>	
							<div class="chart-info-box2" style="height: 50px; margin-top: 20px; position: relative; padding: 0px;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 207px; height: 50px;" width="207" height="50"></canvas><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 207px; height: 50px;" width="207" height="50"></canvas></div>
							</div>

							<div class="quarters">

								<div class="quarter q1">
									<div>+$780,98 <span>Weekly Change</span></div>
								</div>
								<div class="quarter q2">
									<div class="verticalChart">

										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 37%;">
													<span>37%</span>
												</div>
											</div>
											<div class="title">M</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 16%;">
													<span>16%</span>
												</div>
											</div>
											<div class="title">T</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 12%;">
													<span>12%</span>
												</div>
											</div>
											<div class="title">W</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 9%;">
													<span>9%</span>
												</div>
											</div>
											<div class="title">T</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 7%;">
													<span>7%</span>
												</div>
											</div>
											<div class="title">F</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 6%;">
													<span>6%</span>
												</div>
											</div>
											<div class="title">S</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 5%;">
													<span>5%</span>
												</div>
											</div>
											<div class="title">S</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="quarter q3">
									9.127
									<span>Deals</span>
								</div>
								<div class="quarter q4">
									$189.783,87
									<span>Total Income</span>
								</div>

							</div>	

						</div>
					</div><!--/col-->

					<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
						<div class="panel panel-default info-box">
							<div class="backgroundColor red">
							<div class="clearfix">
								<span class="title">SALE</span>
								<span class="value">$1.890,65</span>
							</div>
							<div class="clearfix">
								<span class="date">Today 6:43 AM</span>
								<span class="change">+$432,50 (15,78%)</span>
							</div>	
							<div class="chart-info-box2" style="height: 50px; margin-top: 20px; position: relative; padding: 0px;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 241px; height: 50px;" width="241" height="50"></canvas><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 241px; height: 50px;" width="241" height="50"></canvas></div>
							</div>

							<div class="quarters">

								<div class="quarter q1">
									<div>+$780,98 <span>Weekly Change</span></div>
								</div>
								<div class="quarter q2">
									<div class="verticalChart">

										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 37%;">
													<span>37%</span>
												</div>
											</div>
											<div class="title">M</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 16%;">
													<span>16%</span>
												</div>
											</div>
											<div class="title">T</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 12%;">
													<span>12%</span>
												</div>
											</div>
											<div class="title">W</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 9%;">
													<span>9%</span>
												</div>
											</div>
											<div class="title">T</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 7%;">
													<span>7%</span>
												</div>
											</div>
											<div class="title">F</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 6%;">
													<span>6%</span>
												</div>
											</div>
											<div class="title">S</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 5%;">
													<span>5%</span>
												</div>
											</div>
											<div class="title">S</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="quarter q3">
									9.127
									<span>Deals</span>
								</div>
								<div class="quarter q4">
									$189.783,87
									<span>Total Income</span>
								</div>

							</div>	

						</div>
					</div><!--/col-->

					<div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
						<div class="panel panel-default info-box">
							<div class="backgroundColor pink">
							<div class="clearfix">
								<span class="title">SALE</span>
								<span class="value">$1.890,65</span>
							</div>
							<div class="clearfix">
								<span class="date">Today 6:43 AM</span>
								<span class="change">+$432,50 (15,78%)</span>
							</div>	
							<div class="chart-info-box" style="height: 50px; margin-top: 20px; position: relative; padding: 0px;"><canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 241px; height: 50px;" width="241" height="50"></canvas><canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 241px; height: 50px;" width="241" height="50"></canvas></div>
							</div>

							<div class="quarters">

								<div class="quarter q1">
									<div>+$780,98 <span>Weekly Change</span></div>
								</div>
								<div class="quarter q2">
									<div class="verticalChart">

										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 37%;">
													<span>37%</span>
												</div>
											</div>
											<div class="title">M</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 16%;">
													<span>16%</span>
												</div>
											</div>
											<div class="title">T</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 12%;">
													<span>12%</span>
												</div>
											</div>
											<div class="title">W</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 9%;">
													<span>9%</span>
												</div>
											</div>
											<div class="title">T</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 7%;">
													<span>7%</span>
												</div>
											</div>
											<div class="title">F</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 6%;">
													<span>6%</span>
												</div>
											</div>
											<div class="title">S</div>
										</div>
										<div class="singleBar">
											<div class="bar">
												<div class="value" style="height: 5%;">
													<span>5%</span>
												</div>
											</div>
											<div class="title">S</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="quarter q3">
									9.127
									<span>Deals</span>
								</div>
								<div class="quarter q4">
									$189.783,87
									<span>Total Income</span>
								</div>

							</div>	

						</div>
					</div><!--/col-->

				</div>


{% comment %}
############################################################################################################
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="panel panel-default">
				<strong><font color="red">Debug</font></strong> {{uploaded_files}}								

				<font color="red">This actually works just needs to be styled -</font>

				{% if not aws_virtual_machines and not private_virtual_machines %}
				<p>
					There are no Virtual Machines installed.<br/>
				</p>
				<p>
					Please <a href="/cloud/software/">add one</a>.
				</p>
				{% endif %}


				<p>
					<h3>aws_virtual_machines</h3>
					{% for virtual_machine in aws_virtual_machines %}
						<b>{{virtual_machine}}</b><br/>
						<i><b>Instance:</b> {{aws_virtual_machines|dict_get:virtual_machine|dict_get:"instance"}}</i><br/>
						<b>cpu_utilization_datapoints</b> {{aws_virtual_machines|dict_get:virtual_machine|dict_get:"cpu_utilization_datapoints"}}<br/>
						<b>disk_readbytes_datapoints</b> {{aws_virtual_machines|dict_get:virtual_machine|dict_get:"disk_readbytes_datapoints"}}<br/>
						<b>disk_writebytes_datapoints</b> {{aws_virtual_machines|dict_get:virtual_machine|dict_get:"disk_writebytes_datapoints"}}<br/>
						<b>networkin_datapoints</b> {{aws_virtual_machines|dict_get:virtual_machine|dict_get:"networkin_datapoints"}}<br/>
						<b>networkout_datapoints</b> {{aws_virtual_machines|dict_get:virtual_machine|dict_get:"networkout_datapoints"}}<br/>
					{% endfor %}
				</p>
				</div>
			</div>
			
		</div>
		<!-- end: Content -->
	</div><!--/row-->		
#############################################################################################################
{% endcomment %}

</div><!--/container-->

	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock page_content %}
