{% load cloud_extras %}

<h2>Home</h2>

<hr/>
<a href="/">Virtual Machines</a><br/>
<hr/>
<a href="#">Cloud Storage</a><br/>
<a href="#">Cloud Backups</a><br/>
<a href="/cloud/software/">Cloud Software</a><br/>
<hr/>
<a href="#">Private Storage</a><br/>
<a href="/servers/">Private Servers</a><br/>
<hr/>
<a href="/account/settings/">Account Settings</a><br/>
<hr/>
<a href="/help/">Help</a><br/>
<a href="/security/">Security</a><br/>
<a href="/support/">Paid Support</a><br/>
<hr/>
<a href="/logout/">Logout</a>
<hr/>

<p>
	There are no Virtual Machines installed.<br/>
</p>
<p>
	Please <a href="/cloud/software/">add one</a>.
</p>
<p>
	<h3>aws_virtual_machines</h3>
	{% for virtual_machine in aws_virtual_machines %}
		<b>{{virtual_machine}}</b><br/>
		<i><b>Instance:</b> {{aws_virtual_machines|dict_get:virtual_machine|dict_get:"instance"}}</i><br/>
		<b>cpu_utilization_datapoints</b> {{aws_virtual_machines|dict_get:virtual_machine|dict_get:"cpu_utilization_datapoints"}}<br/>
		<b>disk_readbytes_datapoints</b> {{aws_virtual_machines|dict_get:virtual_machine|dict_get:"disk_readbytes_datapoints"}}<br/>
		<b>disk_writebytes_datapoints</b> {{aws_virtual_machines|dict_get:virtual_machine|dict_get:"disk_writebytes_datapoints"}}<br/>
		<b>networkin_datapoints</b> {{aws_virtual_machines|dict_get:virtual_machine|dict_get:"networkin_datapoints"}}<br/>
		<b>networkout_datapoints</b> {{aws_virtual_machines|dict_get:virtual_machine|dict_get:"networkout_datapoints"}}<br/>
	{% endfor %}
</p>