{% load cloud_extras %}

{% include "header.html" %}

	
		<div class="container-fluid content">
		<div class="row">
				
			<!-- start: Main Menu -->
			<div class="sidebar col-md-2 col-sm-1 ">
								
				<div class="sidebar-collapse collapse">
					
					<div class="nav-sidebar title"><span>Cloud</span></div>
					
					<ul class="nav nav-sidebar">
						<li {% if active_tab == "devel" %}class="active"{% endif %}><a href="/"><i class="fa fa-cloud"></i><span class="hidden-sm text"> 
							
ooo							
							Virtual Servers</span></a></li>
					</ul>

					
					<ul class="nav nav-sidebar">
						
						<li><a href="/cloud/storage/"><i class="fa fa-folder-open-o"></i><span class="hidden-sm text"> Cloud Storage</span> <span class="chevron closed"></span></a></li>
						<li><a href="/cloud/backups/"><i class="fa fa-database"></i><span class="hidden-sm text"> Cloud Backups</span> <span class="chevron closed"></span></a></li>
						<li><a href="/cloud/software/"><i class="fa fa-archive"></i><span class="hidden-sm text"> Cloud Software</span> <span class="chevron closed"></span></a></li>
						
					</ul>
						
					
					<div class="nav-sidebar title"><span>Private Cloud</span></div>
					
					<ul class="nav nav-sidebar">
						
						<li><a href="/private/storage/"><i class="fa fa-folder-open"></i><span class="hidden-sm text"> Private Storage</span> <span class="chevron closed"></span></a></li>

						<li><a href="/private/servers/"><i class="fa fa-gears"></i><span class="hidden-sm text"> Private Servers</span> <span class="chevron closed"></span></a></li>


					</ul>




					<div class="nav-sidebar title"><span>Support</span></div>
					
					<ul class="nav nav-sidebar">
						
						<li><a href="/help/"><i class="fa fa-slideshare"></i><span class="hidden-sm text"> Help</span> <span class="chevron closed"></span></a></li>

						<li><a href="/security/"><i class="fa fa-key"></i><span class="hidden-sm text"> Security</span> <span class="chevron closed"></span></a></li>

						<li><a href="/support/"><i class="fa fa-umbrella"></i><span class="hidden-sm text"> Paid Support</span> <span class="chevron closed"></span></a></li>


					</ul>


					<div class="nav-sidebar title"><span>Account</span></div>
					
					<ul class="nav nav-sidebar">
						
						<li><a href="/account/"><i class="fa fa-user"></i><span class="hidden-sm text"> Account Settings</span> <span class="chevron closed"></span></a></li>

						<li><a href="/invoices/"><i class="fa fa-bank"></i><span class="hidden-sm text"> Invoices</span> <span class="chevron closed"></span></a></li>
						<li><a href="/logout/"><i class="fa fa-power-off"></i><span class="hidden-sm text"> Logout</span> <span class="chevron closed"></span></a></li>
						

					</ul>



				</div>
									<a href="#" id="main-menu-min" class="full visible-md visible-lg"><i class="fa fa-angle-double-left"></i></a>
							</div>
			<!-- end: Main Menu -->
						
			<!-- start: Content -->
			<div class="col-md-10 col-sm-11 main ">
			
			
			<div class="row">
				<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2><i class="fa fa-picture-o"></i>Hello World</h2>
						<div class="panel-actions">
							<a href="icons-social.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
							<a href="icons-social.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
							<a href="icons-social.html#" class="btn-close"><i class="fa fa-times"></i></a>
						</div>
					</div>
					<div class="panel-body">

						hello world


				</div><!--/col-->
			
			</div><!--/row-->	
   
					
			</div>
			<!-- end: Content -->
				
				</div><!--/row-->		
		
	</div><!--/container-->
		
	
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="clearfix"></div>
	
	<footer>
		
		<div class="row">
			
			<div class="col-sm-5">
				&copy; 2014 creativeLabs. <a href="http://bootstrapmaster.com">Admin Templates</a> by BootstrapMaster
			</div><!--/.col-->
			
			<div class="col-sm-7 text-right">
				Powered by: <a href="http://bootstrapmaster.com/demo/clever/" alt="Bootstrap Admin Templates">cleverAdmin</a> | Based on Bootstrap 3.1.1 | Built with brix.io <a href="http://brix.io" alt="Brix.io - Interface Builder">Interface Builder</a>
			</div><!--/.col-->	
			
		</div><!--/.row-->	

	</footer>
		
	<!-- start: JavaScript-->
	<!--[if !IE]>-->

			<script src="/static/admin-assets/js/jquery-2.1.0.min.js"></script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script src="/static/admin-assets/js/jquery-1.11.0.min.js"></script>
	
	<![endif]-->

	<!--[if !IE]>-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='/static/admin-assets/js/jquery-2.1.0.min.js'>"+"<"+"/script>");
		</script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script type="text/javascript">
	 	window.jQuery || document.write("<script src='/static/admin-assets/js/jquery-1.11.0.min.js'>"+"<"+"/script>");
		</script>
		
	<![endif]-->
	<script src="/static/admin-assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/static/admin-assets/js/bootstrap.min.js"></script>	
	
	
	<!-- page scripts -->
	<script src="/static/admin-assets/js/jquery-ui.min.js"></script>
	<script src="/static/admin-assets/js/modernizr.js"></script>
	
	<!-- theme scripts -->
	<script src="/static/admin-assets/js/custom.min.js"></script>
	<script src="js/core.min.js"></script>
		
	<!-- end: JavaScript-->
	
</body>
</html>
