
	<div class="clearfix"></div>
	
	<footer>
		
		<div class="row">

			
			<div class="col-sm-5">
				&copy;2014 <a href="http://fuckmecloudly.com/">Fuckmecloudly</a> by Jan Paricka
			</div><!--/.col-->
			
			<div class="col-sm-7 text-right">
						
				<span class="hidden-sm text"></span>Check us out on <a href="https://github.com/jparicka/cloudly/" target="_blank">GitHub</a> <i class="fa fa-github"></i>
								
			</div><!--/.col-->
			
		</div><!--/.row-->	

	</footer>
	
	{% include "google_analytics.html" %}
	
</body>
</html>
