	<div class="clearfix"></div>
	
	<footer>
		
		<div class="row">
			
			<div class="col-sm-5">
				&copy;2014 <a href="http://fuckmecloudly.com/">Fuckmecloudly</a> by Jan Paricka
			</div><!--/.col-->
			
			<div class="col-sm-7 text-right">
				<span class="hidden-sm text"></span>Check us out on <a href="https://github.com/jparicka/cloudly/" target="_blank">GitHub <i class="fa fa-github"></i></a>
			</div><!--/.col-->	
			
		</div><!--/.row-->	

	</footer>
		
	<!-- start: JavaScript-->
	<!--[if !IE]>-->

			<script src="/static/admin-assets/js/jquery-2.1.0.min.js"></script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script src="/static/admin-assets/js/jquery-1.11.0.min.js"></script>
	
	<![endif]-->

	<!--[if !IE]>-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='/static/admin-assets/js/jquery-2.1.0.min.js'>"+"<"+"/script>");
		</script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script type="text/javascript">
	 	window.jQuery || document.write("<script src='/static/admin-assets/js/jquery-1.11.0.min.js'>"+"<"+"/script>");
		</script>
		
	<![endif]-->
	<script src="/static/admin-assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/static/admin-assets/js/bootstrap.min.js"></script>	
	
	
	<!-- page scripts -->
	<script src="/static/admin-assets/js/jquery-ui.min.js"></script>
	<script src="/static/admin-assets/js/modernizr.js"></script>
	<script src="/static/admin-assets/js/jquery.dataTables.min.js"></script>
	<script src="/static/admin-assets/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript"> $(document).ready(function(){ $('.dataTable').dataTable(); }); </script>
	
	<!-- theme scripts -->
	<script src="/static/admin-assets/js/core.min.js"></script>
	<script src="/static/admin-assets/js/custom.min.js"></script>
		
	<!-- end: JavaScript-->
	
	{% include "google_analytics.html" %}
	
</body>
</html>
