
{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Devel{% endblock %}

{% block page_content %}


<div class="col-md-10 col-sm-11 main ">

	<ol class="breadcrumb">
	  	<li><a href="/support/">Support</a></li>
	  	<li class="active">Help</li>
	</ol>


	<div class="row">
		<div class="col-sm-12">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-slideshare"></i><span class="break"></span>Help</h2>
				</div>
				<div class="panel-body">
					  <div class="row">            
					     <div class="col-sm-12">

							<p>Most commonly asked questions:</p>

							<div class="panel-group" id="accordion">
							  <div class="panel panel-default">
							    <div class="panel-heading">
							      <h4 class="panel-title">
							        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="ui-elements.html#collapseOne">
							          Question #1 What are the current hardware requirements?
							        </a>
							      </h4>
							    </div>
							    <div id="collapseOne" class="panel-collapse collapse in">
							      <div class="panel-body">
									Our Virtualization Agent is written so that runs on any 64-bit processor.<br/>The system periodically measures server and Internet utilization and sends customized reports.
							      </div>
							    </div>
							  </div>
							  <div class="panel panel-default">
							    <div class="panel-heading">
							      <h4 class="panel-title">
							        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="ui-elements.html#collapseTwo">
							          	Question #2 Is it possible to import virtual machines from other Hypervisors?
							        </a>
							      </h4>
							    </div>
							    <div id="collapseTwo" class="panel-collapse collapse">
							      <div class="panel-body">
									This feature is planned for the next release: you will upload your .vmdk file, and we'll do the rest. Stay tuned!
							      </div>
							    </div>
							  </div>





		<hr/>
		<p>
		Need some more information? We’re happy to help!
		<br/>
		Just contact us at <a href="mailto:jparicka@gmail.com">info@fuckmecloudly.com</a>.
		</p>

						 </div>
					  </div>	 
				 </div>
			</div>
		</div>
	</div>
</div>


{% endblock page_content %}





