{% extends "base.html" %}

{% load cloud_extras %}
{% load tz %}

{% block title %}Cloudly | Host &amp; Services Problems{% endblock %}

{% block nav-bar %}
    {% include "partials/nav-bar-classic.html" %}
{% endblock %}

{% block page_content %}
    <input type='hidden' name='secret' value='{{secret}}' />
    <div class="row page-todo">

        <div class="col-sm-7 tasks">

            <div class="task-list">
                <h1>XXX Host &amp; Services Problems</h1>

                {% if not notifs_counter %}
                    There are currently no servers or services problems being encountered.
                {% else %}
                    {% for notifs_type in notifs_types %}
                        {% if active_notifs|dict_get:notifs_type %}
                            <div class="priority
                                {% if notifs_type == 'WARNING' %}
                                    medium
                                {% else %}
                                    high
                                {% endif %}
                            ">
                                <span>{{notifs_type}}</span>
                            </div>
                            {% for notif in active_notifs|dict_get:notifs_type %}
                                <div class="task
                                    {% if notifs_type == 'WARNING' %}
                                        medium
                                    {% else %}
                                        high
                                    {% endif %}
                                    {% if forloop.last %}
                                        last
                                    {% endif %}
                                ">
                                    <div class="desc">
                                        <div class="title">
                                            <a href="/server/{{notif|dict_get:"server_id"|replace_dots}}"
                                                class="btn-xs
                                                {% if notifs_type == 'WARNING' %}
                                                    btn-warning
                                                {% else %}
                                                    btn-danger
                                                {% endif %}
                                            ">
                                            {{notif|dict_get:"service"|replace_underscope}}
                                            </a>&nbsp;
                                            <small>
                                              <font color="black">
                                              {{notif|dict_get:"name"}}
                                              </font>
                                            </small>
                                        </div>
                                        <div>
                                            <strong>{{notif|dict_get:"detailed_service_status"|dict_get:"message"}}:</strong>
                                            <br />
                                            {% for value in notif|dict_get:"detailed_service_status"|dict_get:"values" %}
                                                {{value|replace_underscope|title}}:
                                                {{notif|dict_get:"detailed_service_status"|dict_get:"values"|dict_get:value}}{{notif|dict_get:"service"|get_service_unity}}{% if not forloop.last %},{% endif %}
                                            {% endfor %}

                                        </div>
                                    </div>
                                    <div class="time">
                                        <div class="date">
                                            <small>
                                                {{notif|dict_get:"date"}}
                                            </small>
                                        </div>
                                        <div>
                                            Alert duration: {{notif|dict_get:"date"|timesince}}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="clearfix"></div>
                    {% endfor %}


                    {% if offline_servers %}

                        <hr/>

                        <div class="priority offline">
                            <span>OFFLINE SERVERS</span>
                        </div>
                        <div class="task offline last">
                            <div class="desc">
                                <div class="title">
                                    {% for server in offline_servers %}
                                        <a href="/server/{{server|dict_get:"uuid"|replace_dots}}"
                                            class="btn-xs btn-grey">
                                            {{server|dict_get:"name"}}
                                        </a>&nbsp;
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="clearfix"></div>
                {% endif %}

                XXX laying out ideas only<br/>
                XXX memory <progress value="50" max="100">50%</progress><br/>
                XXX cpu memory <progress value="20" max="100">50%</progress><br/>
                XXX actual_message

			      </div>
        </div><!--/col-->

        <div class="col-sm-5">
            <div class="graph">
                <h1>XXX server|title Events</h1>

                <div class="timeline">

                    <div class="timeslot" style="height: 118px;">

                        <div class="task">
                            <span>
                                <span class="type">Memory</span>
                                <span class="details">
                                    Memory fixed
                                </span>
                                <span>
                                    time ago
                                    <span class="remaining">
                                        3h 38m 15s
                                    </span>
                                </span>
                            </span>
                            <div class="arrow"></div>
                        </div>
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="time">
                            3:43 PM
                        </div>

                    </div>

                    <div class="clearfix"></div>

                    <div class="timeslot alt" style="height: 96px;">

                        <div class="task">
                            <span>
                                <span class="type">phone call</span>
                                <span class="details">
                                    Notification sent to Jan Paricka's email.
                                </span>
                                <span>
                                    remaining time
                                    <span class="remaining">
                                        3h 38m 15s
                                    </span>
                                </span>
                            </span>
                            <div class="arrow"></div>
                        </div>
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="time">
                            3:43 PM
                        </div>

                    </div>

                    <div class="timeslot" style="height: 96px;">

                        <div class="task">
                            <span>
                                <span class="type">mail</span>
                                <span class="details">
                                    Memory fucked.
                                </span>
                                <span>
                                    remaining time
                                    <span class="remaining">
                                        3h 38m 15s
                                    </span>
                                </span>
                            </span>
                            <div class="arrow"></div>
                        </div>
                        <div class="icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="time">
                            3:43 PM
                        </div>

                    </div>

                    <div class="timeslot alt" style="height: 96px;">

                        <div class="task">
                            <span>
                                <span class="type">deadline</span>
                                <span class="details">
                                    Fixed PayPal problems
                                </span>
                                <span>
                                    remaining time
                                    <span class="remaining">
                                        3h 38m 15s
                                    </span>
                                </span>
                            </span>
                            <div class="arrow"></div>
                        </div>
                        <div class="icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="time">
                            3:43 PM
                        </div>

                    </div>

                    <div class="timeslot" style="height: 118px;">

                        <div class="task">
                            <span>
                                <span class="type">appointment</span>
                                <span class="details">
                                    Jan Paricka
                                </span>
                                <span>
                                    remaining time
                                    <span class="remaining">
                                        3h 38m 15s
                                    </span>
                                </span>
                            </span>
                            <div class="arrow"></div>
                        </div>
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="time">
                            3:43 PM
                        </div>

                    </div>

                    <div class="clearfix"></div>

                    <div class="timeslot alt" style="height: 96px;">

                        <div class="task">
                            <span>
                                <span class="type">skype call</span>
                                <span class="details">
                                    Jan Paricka
                                </span>
                                <span>
                                    remaining time
                                    <span class="remaining">
                                        3h 38m 15s
                                    </span>
                                </span>
                            </span>
                            <div class="arrow"></div>
                        </div>
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="time">
                            3:43 PM
                        </div>

                    </div>

                    <div class="timeslot" style="height: 96px;">

                        <div class="task">
                            <span>
                                <span class="type">mail</span>
                                <span class="details">
                                    Jan Paricka
                                </span>
                                <span>
                                    remaining time
                                    <span class="remaining">
                                        3h 38m 15s
                                    </span>
                                </span>
                            </span>
                            <div class="arrow"></div>
                        </div>
                        <div class="icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="time">
                            3:43 PM
                        </div>

                    </div>

                    <div class="timeslot alt" style="height: 96px;">

                        <div class="task">
                            <span>
                                <span class="type">project deadline</span>
                                <span class="details">
                                    Fixed PayPal problems
                                </span>
                                <span>
                                    remaining time
                                    <span class="remaining">
                                        3h 38m 15s
                                    </span>
                                </span>
                            </span>
                            <div class="arrow"></div>
                        </div>
                        <div class="icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="time">
                            3:43 PM
                        </div>

                    </div>

                    <div class="timeslot" style="height: 96px;">

                        <div class="task">
                            <span>
                                <span class="type">mail</span>
                                <span class="details">
                                    Jan Paricka
                                </span>
                                <span>
                                    remaining time
                                    <span class="remaining">
                                        3h 38m 15s
                                    </span>
                                </span>
                            </span>
                            <div class="arrow"></div>
                        </div>
                        <div class="icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="time">
                            3:43 PM
                        </div>
                    </div>
                </div>
            </div>

        </div><!--/col-->

    </div>

</div>


</div>
{% endblock page_content %}

{% block extra_js %}

<script src="/static/js/incidents.js"></script>

{% endblock extra_js %}
