{% extends "base.html" %}

{% load cloud_extras %}
{% load tz %}

{% block title %}Cloudly | Host &amp; Services Problems{% endblock %}

{% block nav-bar %}
    {% include "partials/nav-bar-classic.html" %}
{% endblock %}

{% block page_content %}

<ol class="breadcrumb">
    <li class="active">Servers Incidents</li>
</ol>


{% if servers %}

	<div class="row">
    <div class="col-lg-12 col-md-8">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-check"></i>Servers Incidents</h2>
					<div class="panel-actions">
						<a href="index.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">

					<div class="todo">
						<ul class="todo-list ui-sortable">

              {% if active_notifs %}
                  {% for notif in active_notifs|dict_get:notif|dict_get:"CRITICAL" %}
                      {{notif}}
                  {% endfor %}
              {% endif %}
              {% if active_notifs %}
                  {% for notif in active_notifs|dict_get:notif|dict_get:"WARNING" %}
                      {{notif}}
                  {% endfor %}
              {% endif %}
              {% if active_notifs %}
                  {% for notif in active_notifs|dict_get:notif|dict_get:"UNKNOWN" %}
                      {{notif}}
                  {% endfor %}
              {% endif %}


              <li>
								<span class="todo-actions">
									<a href="index.html#"><i class="fa fa-check"></i></a>
								</span>
								<span class="desc">{{active_notifs}}</span>
								<span class="label label-danger">today</span>
								<a class="remove" href="index.html#"><i class="fa fa-times"></i></a>
							</li>
							<li>
								<span class="todo-actions">
									<a href="index.html#"><i class="fa fa-check"></i></a>
								</span>
								<span class="desc">Hire developers</span>
								<span class="label label-warning">tommorow</span>
								<a class="remove" href="index.html#"><i class="fa fa-times"></i></a>
							</li>
							<li>
								<span class="todo-actions">
									<a href="index.html#"><i class="fa fa-check"></i></a>
								</span>
								<span class="desc">New frontend layout</span>
								<span class="label label-info">this month</span>
								<a class="remove" href="index.html#"><i class="fa fa-times"></i></a>
							</li>


          	</ul>
          </div>

				</div>
			</div>

	</div>
</div>

{% else %}

    <p>
      Currently there are no servers being installed.
      Please <a href="/download/agent/">add</a> one.
    </p>

{% endif %}

{% endblock page_content %}

{% block extra_js %}

<script src="/static/js/incidents.js"></script>

{% endblock extra_js %}
