{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Investors{% endblock %}

{% block nav-bar %}
    {% include "partials/nav-bar-classic.html" %}
{% endblock %}

{% block page_content %}

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-line-chart"></i>Investors</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">

					<div id="investors-pie-chart"></div>

				</div>
			</div>
		</div>
	</div><!--/row-->


	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-line-chart"></i>Become an Investor</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
				<p>
                    Becoming an investor at Project Cloudly means you are a pioneer and that you are pioneering the future. 
                    Project Cloudly is ready to grow, as the market is ready to receive an all intelligent servers monitoring.
                    </br>
                    Becoming an investor means you are funding the building of the Project Cloudly prototype.
                </p>
				</div>
			</div>
		</div>
	</div><!--/row-->


    {% comment %}
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-line-chart"></i>Term Contribution</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
				</div>
			</div>
		</div>
	</div><!--/row-->
    {% endcomment %}


	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-line-chart"></i>Founders - $100,000+</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
                <ul>
                    <li>Board of Directors seat</li>
                    <li>Complimentary participation on one domestic business-attraction mission</li>
                    <li>Access to detailed business lists</li>
                    <li>Workforce talent analytics</li>
                    <li>Prepared regional asset lists and tables</li>
                    <li>Complimentary participation on one international business-attraction mission</li>
                    <li>Opportunity to respond to RFIs</li>
                    <li>Inclusion in Project Cloudly Locator Directory and website</li>
                    <li>Recognition on Project Cloudly website, annual report and regional marketing materials</li>
                    <li>Brand exposure in Project Cloudly paid cooperative advertising</li>
                    <li>Access to customized market intelligence (workforce and industry cluster data)</li>
                    <li>Invitation to Project Cloudly events</li>
                    <li>Project Cloudly T-shirt</li>
                </ul>
				</div>
			</div>
		</div>
	</div><!--/row-->


	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-line-chart"></i>Partners – $50,000+</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
                <ul>
                    <li>Board of Directors seat</li>
                    <li>Complimentary participation on one domestic business-attraction mission OR one international business-attraction mission</li>
                    <li>Workforce talent analytics</li>
                    <li>Prepared regional asset lists and tables</li>
                    <li>Access to detailed business lists</li>
                    <li>Opportunity to respond to RFIs</li>
                    <li>Inclusion in Project Cloudly Locator Directory and website</li>
                    <li>Recognition on Project Cloudly website, annual report and regional marketing materials</li>
                    <li>Brand exposure in Project Cloudly paid cooperative advertising</li>
                    <li>Access to customized market intelligence (workforce and industry cluster data)</li>
                    <li>Invitation to Project Cloudly events</li>
                </ul>
				</div>
			</div>
		</div>
	</div><!--/row-->


	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-line-chart"></i>Stewards – $25,000+</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
				<ul>
                    <li>Board of Directors seat</li>
                    <li>Complimentary participation on domestic business-attraction missions</li>
                    <li>Access to basic business lists</li>
                    <li>Opportunity to respond to RFIs</li>
                    <li>Economic modeling for industries, occupations and workforce</li>
                    <li>Business intelligence on economic development prospects</li>
                    <li>Comprehensive company background for business retention and expansion opportunities</li>
                    <li>Inclusion in Project Cloudly Locator Directory and website</li>
                    <li>Recognition on Project Cloudly, annual report and regional marketing materials.</li>
                    <li>Brand exposure in Project Cloudly paid cooperative advertising</li>
                    <li>Access to customized market intelligence (workforce and industry cluster data)</li>
                    <li>Invitation to Project Cloudly events</li>
				</ul>
				</div>
			</div>
		</div>
	</div><!--/row-->


	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-line-chart"></i>Directors – $10,000+</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
				<ul>
                    <li>Board of Directors seat</li>
                    <li>Assistance with public data requests</li>
                    <li>Access to basic business lists</li>
                    <li>Opportunity to travel as part of a Project Cloudly delegation</li>
                    <li>Opportunity to respond to RFIs</li>
                    <li>Inclusion in Project Cloudly Locator Directory and website</li>
                    <li>Recognition on Project Cloudly website, annual report and regional marketing materials</li>
                    <li>Brand exposure in Project Cloudly paid cooperative advertising</li>
                    <li>Access to customized market intelligence (workforce and industry cluster data)</li>
                    <li>Invitation to Project Cloudly events</li>
				</ul>
				</div>
			</div>
		</div>
	</div><!--/row-->


	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-line-chart"></i>Ambassadors – $5,000+</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
				<ul>
                    <li>Inclusion in Project Cloudly Locator Directory and website</li>
                    <li>Recognition on Project Cloudly website, annual report and regional marketing materials</li>
                    <li>Brand exposure in Project Cloudly paid cooperative advertising</li>
                    <li>Invitation to Project Cloudly events</li>
                    <li>Public data consultation</li>
				</ul>
				</div>
			</div>
		</div>
	</div><!--/row-->

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-line-chart"></i>Friends – $1,000+</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
				<ul>
                    <li>Recognition on Project Cloudly website, annual report and regional marketing materials</li>
                    <li>Invitation to Project Cloudly events</li>
				</ul>
				</div>
			</div>
		</div>
	</div><!--/row-->


{% endblock page_content %}

{% block extra_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">

    $(function () {
        $('#investors-pie-chart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Common 1,000 investors shares as of {% now "jS F Y" %}'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: "Brands",
                colorByPoint: true,
                data: [{
                    name: "Unallocated",
                    y: 70
                }, {
                    name: "Kerry",
                    y: 10,
                    sliced: true,
                    selected: true
                }, {
                    name: "Loris",
                    y: 8
                }, {
                    name: "Rian",
                    y: 2
                }, {
                    name: "Samuel",
                    y: 2
                }, {
                    name: "Rolando",
                    y: 5
                }, {
                    name: "Rick",
                    y: 3
                }]
            }]
        });
    });
</script>

{% endblock extra_js %}
