{% extends "base.html" %}

{% load cloud_extras %}

{% block title %}Cloudly | System Logs{% endblock %}

{% block nav-bar %}
    {% include "partials/nav-bar-classic.html" %}
{% endblock %}

{% block page_content %}
	<ol class="breadcrumb">
	  	<li class="active">System Logs</li>
	</ol>

	<div class="row">

  <div class="col-lg-12 col-md-12 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-exclamation-triangle"></i>Servers Incidents</h2>
					<div class="panel-actions">
						<a href="widgets.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="widgets.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="widgets.html#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<div class="todo">
						<ul class="todo-list ui-sortable">
							<li>
								<span class="todo-actions">
									<a href="widgets.html#"><i class="fa fa-check"></i></a>
								</span>
								<span class="desc">Windows Phone 8 App exploded</span>
								<span class="label label-danger">since today</span>
								<a class="remove" href="widgets.html#"><i class="fa fa-times"></i></a>
							</li>
							<li>
								<span class="todo-actions">
									<a href="widgets.html#"><i class="fa fa-check"></i></a>
								</span>
								<span class="desc">New frontend layout exploded</span>
								<span class="label label-danger">since today</span>
								<a class="remove" href="widgets.html#"><i class="fa fa-times"></i></a>
							</li>
							<li>
								<span class="todo-actions">
									<a href="widgets.html#"><i class="fa fa-check"></i></a>
								</span>
								<span class="desc">Server1 exploded</span>
								<span class="label label-warning">since yesterday</span>
								<a class="remove" href="widgets.html#"><i class="fa fa-times"></i></a>
							</li>
							<li>
								<span class="todo-actions">
									<a href="widgets.html#"><i class="fa fa-check"></i></a>
								</span>
								<span class="desc">Windows Phone 8 App exploded</span>
								<span class="label label-warning">since yesterday</span>
								<a class="remove" href="widgets.html#"><i class="fa fa-times"></i></a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>


    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2><i class="fa fa-send-o"></i>Activities Report</h2>
          <div class="panel-actions">
            <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
            <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
            <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
          </div>
        </div>
        <div class="panel-body">
          <p>
            <table style="width:100%">
              <tr>
                <th>acivity</th>
                <th>time since</th>
                <th>date</th>
                <th>server</th>
                <th>data</th>
              </tr>
                {% for activity in activities %}
                  <tr>
                    <td>{{activity|dict_get:"activity_type"}}</td>
                    <td>{{activity|dict_get:"date_created"|timesince}} ago</td>
                    <td>{{activity|dict_get:"date_created"}}</td>
                    <td>{{activity|dict_get:"server_id"}}</td>
                    <td>{{activity|dict_get:"data"|dict_get:"message"}}</td>
                  </tr>
                {% endfor %}
            </table>
          </p>
        </div>
      </div>
    </div>


    {% for server in servers %}
      		<div class="col-xs-12">
      			<div class="panel panel-default">
      				<div class="panel-heading">
      					<h2>
                  <i class="fa fa-server"></i>
                  {% if not server|get_server_status == "online" %}
                      <font color="red">({{server|get_server_status}})</font>
                  {% endif %}

                  <a href="/server/{{server|dict_get:"uuid"|replace_dots}}">{{server|dict_get:"name"}}</a>
                  <small>{{server|dict_get:"uuid"}}</small>
                </h2>
      					<div class="panel-actions">
      						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
      						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
      						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
      					</div>
      				</div>
      				<div class="panel-body">
                <p>

                  {% if server|get_server_status == "offline" %}

                      Tags:
                        {% for tag in server|dict_get:"tags"|dict_get:"tags" %}
                          {{tag|dict_get:0}}{% if not forloop.last %},{% endif %}
                        {% endfor %}

                      {% if not server|dict_get:"tags"|dict_get:"tags" %}
                        there are none defined for this server..
                      {% endif %}

                      <hr/>

                  {% endif %}

                  {% if server|get_server_status == "offline" %}
                    <b>Past problems:</b>
                    <br/>
                    <br/>
                  {% endif %}

                  <table style="width:100%">
                        {% if server|dict_get:"uuid"|get_historical_events|dict_get:0 %}
                        <tr>
                          <th>status</th>
                          <th>service</th>
                          <th>time since</th>
                          <th>date</th>
                          <th>values</th>
                        </tr>
                        {% else %}
                            This server is running steadily.
                        {% endif %}


                    {% for event in server|dict_get:"uuid"|get_historical_events %}
                            <tr>
                              <td>{{event|dict_get:"detailed_service_status"|dict_get:"status"}}</td>
                              <td>{{event|dict_get:"service"}}</td>
                              <td>{{event|dict_get:"date"|timesince}} ago</td>
                              <td>{{event|dict_get:"date"}}</td>
                              <td>
                                {% if event|dict_get:"service" = "SYSTEM_MEMORY" %}
                                        mem_used:
                                        {{event|dict_get:"detailed_service_status"|dict_get:"values"|dict_get:'memory_used'}};
                                        mem_free:
                                        {{event|dict_get:"detailed_service_status"|dict_get:"values"|dict_get:'memory_free'}};
                                        swap_used:
                                        {{event|dict_get:"detailed_service_status"|dict_get:"values"|dict_get:'swap_used'}};
                                {% else %}
                                    {% for e in event|dict_get:"detailed_service_status"|dict_get:"values" %}
                                        {{e}}: {{event|dict_get:"detailed_service_status"|dict_get:"values"|dict_get:e}}{% if not forloop.last %};&nbsp;&nbsp;{% endif %}
                                    {% endfor %}
                                {% endif %}
                              </td>
                            </tr>
                    {% endfor %}
                  </table>

                  {% if server|get_server_status == "offline" %}
                    <br/>
                    <font color="red">* this server has gone offline {{server|dict_get:"last_seen"|timesince}} ago.</font>
                    <br/>
                  {% endif %}

                </p>
      				</div>
      			</div>
          </div>
    {% endfor %}


    {% if not servers %}
    <p>There are no system logs. Please <a href="/download/agent/">add</a> some servers first.</p>
    {% endif %}

  </div><!--/col-->

{% endblock page_content %}

{% block extra_js %}
    <script src="/static/admin-assets/js/bootstrap-editable.min.js"></script>
{% endblock %}
