{% extends "base.html" %}

{% load cloud_extras %}

{% block title %}Cloudly | System Logs{% endblock %}

{% block nav-bar %}
    {% include "partials/nav-bar-classic.html" %}
{% endblock %}

{% block page_content %}
	<ol class="breadcrumb">
	  	<li class="active">System Logs</li>
	</ol>

	<div class="row">


    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2><i class="fa fa-send-o"></i>Activities</h2>
          <div class="panel-actions">
            <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
            <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
            <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
          </div>
        </div>
        <div class="panel-body">
          <p>


            <table style="width:100%">
              <tr>
                <th>date</th>
                <th>x</th>
                <th>y</th>
                <th>z</th>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
              </tr>
            </table>



            {% for activity in activities %}
              {{activity|safe}}<br/>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>



    {% for server in servers %}
      		<div class="col-xs-12">
      			<div class="panel panel-default">
      				<div class="panel-heading">
      					<h2><i class="fa fa-server"></i>{{server|dict_get:"uuid"}} {{server|dict_get:"name"}} </h2>
      					<div class="panel-actions">
      						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
      						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
      						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
      					</div>
      				</div>
      				<div class="panel-body">
                <p>
                  {{server|dict_get:"name"}} {{server|dict_get:"tags"}}
                  <hr/>
                  <table style="width:100%">
                    <tr>
                      <th>date</th>
                      <th>status</th>
                      <th>service</th>
                      <th>message</th>
                      <th>values</th>
                    </tr>
                  {% for event in server|dict_get:"uuid"|get_historical_events %}
                          <tr>
                            <td>{{event|dict_get:"date"}}</td>
                            <td>{{event|dict_get:"detailed_service_status"|dict_get:"status"}}</td>
                            <td>{{event|dict_get:"service"}}</td>
                            <td>{{event|dict_get:"detailed_service_status"|dict_get:"message"}}</td>
                            <td>{{event|dict_get:"detailed_service_status"|dict_get:"values"}}</td>
                          </tr>
                  {% endfor %}
                  </table>
                </p>
      				</div>
      			</div>
          </div>
    {% endfor %}


    {% if not servers %}
    <p>There are no system logs. Please <a href="/download/agent/">add</a> some servers first.</p>
    {% endif %}

  </div><!--/col-->

{% endblock page_content %}

{% block extra_js %}
    <script src="/static/admin-assets/js/bootstrap-editable.min.js"></script>
{% endblock %}
