{% extends "base.html" %}

{% load cloud_extras %}

{% block title %}Cloudly | System Logs{% endblock %}

{% block nav-bar %}
    {% include "partials/nav-bar-classic.html" %}
{% endblock %}

{% block page_content %}
	<ol class="breadcrumb">
	  	<li class="active">System Logs</li>
	</ol>

	<div class="row">


		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-cog"></i>XXX</h2>
					<div class="panel-actions">
						<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>

				<div class="panel-body">
          <p>hello world<br/>XXX icon</p>
				</div>
			</div>
		</div><!--/container-->


	</div><!--/row-->
</div><!--/col-->
</div>
{% endblock page_content %}

{% block extra_js %}
    <script src="/static/admin-assets/js/bootstrap-editable.min.js"></script>
{% endblock %}
