{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Private Servers{% endblock %}

{% block page_content %}

<div class="col-md-10 col-sm-11 main ">
	
	<ol class="breadcrumb">
	  	<li><a href="#">Private Cloud</a></li>
	  	<li class="active">Servers</li>
	</ol>
	


	<div class="row">
		
		
		{% comment %}
			primary
			success
			info
			warning
			danger
		{% endcomment %}
		


		<div class="col-sm-6">	
			<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Server #0</h3>
			  	</div>
			  	<div class="panel-body">
					<p>
																	<a href="/server/00-0c-29-95-11-72/"><strong><font size="5">Server #0</font></strong></a>
																	<br>
																	<strong>Agent</strong> v0.1<br>
																	<strong>ID</strong> 5401a4c5658bd425c797665f<br>
																	<strong>UUID</strong> 00:0c:29:95:11:72<br>
																	<strong>Uptime</strong> 12:09<br>
																	<strong>IP address</strong> 172.16.149.128<br>
																	<strong>Public IP address</strong> 172.16.149.128<br>
																	<strong>Load Average</strong> [u'0.03', u'0.04', u'0.05']<br>
																	<strong>Current CPU Usage</strong> {u'cpu_used': 100198.5, u'cpu_free': -100098.5}<br>
																	<strong>Current Memory Usage</strong> {u'memory_used': 411205632, u'memory_used_percentage': 80.03, u'memory_free': 102596608, u'memory_total': 513802240}<br>
																	<strong>Current Physical Disks</strong> [{u'device': u'/dev/sda', u'serial_number': u'n/a', u'firmware_revision': u'n/a', u'model_number': u'n/a', u'size': 21474836480L}]<br>
																	<strong>Current Disks Usage</strong> [[u'rootfs', u'20225847296', 2907, 15401, u'16%', u'/'], [u'udev', u'10485760', 0, 10, u'0%', u'/dev'], [u'tmpfs', u'51380224', 0, 48, u'1%', u'/run'], [u'/dev/disk/by-uuid/fc4f5afa-fbe7-4355-9b33-6827610c0b51', u'20225847296', 2907, 15401, u'16%', u'/'], [u'tmpfs', u'5242880', 0, 5, u'0%', u'/run/lock'], [u'tmpfs', u'287293440', 0, 273, u'0%', u'/run/shm']]<br>
																	<strong>CPU Virtualization</strong> True<br>
																	<strong>CPU Info</strong> {u'cpu0': {u'fpu': u'yes', u'clflush_size': u'64', u'cache_alignment': u'64', u'address_sizes': u'40 bits physical, 48 bits virtual', u'vendor_id': u'GenuineIntel', u'bogomips': u'3999.89', u'model_name': u'Intel(R) Core(TM) i5-4260U CPU @ 1.40GHz', u'cpu_family': u'6', u'cpuid_level': u'13', u'fpu_exception': u'yes', u'stepping': u'1', u'cpu_MHz': u'1999.949', u'cache_size': u'3072 KB', u'flags': u'fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts mmx fxsr sse sse2 ss syscall nx pdpe1gb rdtscp lm constant_tsc up arch_perfmon pebs bts nopl xtopology tsc_reliable nonstop_tsc aperfmperf pni pclmulqdq vmx ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm ida arat epb xsaveopt pln pts dtherm tpr_shadow vnmi ept vpid fsgsbase smep', u'model': u'69', u'processor': u'0', u'microcode': u'0x17', u'wp': u'yes'}}<br>
																	<strong>Last Seen</strong> Aug. 30, 2014, 12:27 p.m.<br>
																	<br>
																	<br>
																	<strong>Virtual Machines:</strong>
																	<br>
																	<br>
																	<strong>Activities:</strong><br>



																			{u'uuid': u'00:0c:29:95:11:72', u'secret': u'257-LYIH-04069', u'activity': u'Agent v0.1 has started.', u'date_created': datetime.datetime(2014, 8, 30, 12, 17, 41, 677000), u'_id': ObjectId('5401a4c5658bd425c797665e'), u'agent_version': u'0.1'}<br>



																</p>
			  	</div>
				<div class="panel-footer">Server is offline</div>
			</div>
		</div>

		{% comment %}
		<div class="col-sm-6">	
			<div class="panel panel-primary">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Server #1</h3>
			  	</div>
			  	<div class="panel-body">
					<p>
																	<a href="/server/00-0c-29-95-11-72/"><strong><font size="5">Server #1</font></strong></a>
																	<br>
																	<strong>Agent</strong> v0.1<br>
																	<strong>ID</strong> 5401a4c5658bd425c797665f<br>
																	<strong>UUID</strong> 00:0c:29:95:11:72<br>
																	<strong>Uptime</strong> 12:09<br>
																	<strong>IP address</strong> 172.16.149.128<br>
																	<strong>Public IP address</strong> 172.16.149.128<br>
																	<strong>Load Average</strong> [u'0.03', u'0.04', u'0.05']<br>
																	<strong>Current CPU Usage</strong> {u'cpu_used': 100198.5, u'cpu_free': -100098.5}<br>
																	<strong>Current Memory Usage</strong> {u'memory_used': 411205632, u'memory_used_percentage': 80.03, u'memory_free': 102596608, u'memory_total': 513802240}<br>
																	<strong>Current Physical Disks</strong> [{u'device': u'/dev/sda', u'serial_number': u'n/a', u'firmware_revision': u'n/a', u'model_number': u'n/a', u'size': 21474836480L}]<br>
																	<strong>Current Disks Usage</strong> [[u'rootfs', u'20225847296', 2907, 15401, u'16%', u'/'], [u'udev', u'10485760', 0, 10, u'0%', u'/dev'], [u'tmpfs', u'51380224', 0, 48, u'1%', u'/run'], [u'/dev/disk/by-uuid/fc4f5afa-fbe7-4355-9b33-6827610c0b51', u'20225847296', 2907, 15401, u'16%', u'/'], [u'tmpfs', u'5242880', 0, 5, u'0%', u'/run/lock'], [u'tmpfs', u'287293440', 0, 273, u'0%', u'/run/shm']]<br>
																	<strong>CPU Virtualization</strong> True<br>
																	<strong>CPU Info</strong> {u'cpu0': {u'fpu': u'yes', u'clflush_size': u'64', u'cache_alignment': u'64', u'address_sizes': u'40 bits physical, 48 bits virtual', u'vendor_id': u'GenuineIntel', u'bogomips': u'3999.89', u'model_name': u'Intel(R) Core(TM) i5-4260U CPU @ 1.40GHz', u'cpu_family': u'6', u'cpuid_level': u'13', u'fpu_exception': u'yes', u'stepping': u'1', u'cpu_MHz': u'1999.949', u'cache_size': u'3072 KB', u'flags': u'fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts mmx fxsr sse sse2 ss syscall nx pdpe1gb rdtscp lm constant_tsc up arch_perfmon pebs bts nopl xtopology tsc_reliable nonstop_tsc aperfmperf pni pclmulqdq vmx ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm ida arat epb xsaveopt pln pts dtherm tpr_shadow vnmi ept vpid fsgsbase smep', u'model': u'69', u'processor': u'0', u'microcode': u'0x17', u'wp': u'yes'}}<br>
																	<strong>Last Seen</strong> Aug. 30, 2014, 12:27 p.m.<br>
																	<br>
																	<br>
																	<strong>Virtual Machines:</strong>
																	<br>
																	<br>
																	<strong>Activities:</strong><br>



																			{u'uuid': u'00:0c:29:95:11:72', u'secret': u'257-LYIH-04069', u'activity': u'Agent v0.1 has started.', u'date_created': datetime.datetime(2014, 8, 30, 12, 17, 41, 677000), u'_id': ObjectId('5401a4c5658bd425c797665e'), u'agent_version': u'0.1'}<br>



																</p>
					  	</div>
				<div class="panel-footer">Panel footer</div>
			</div>
		</div>
		{% endcomment %}
		
		<div class="col-sm-6">	
			<div class="panel panel-success">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Server #2</h3>
			  	</div>
			  	<div class="panel-body">
					<p>
																	<a href="/server/00-0c-29-95-11-72/"><strong><font size="5">Server #2</font></strong></a>
																	<br>
																	<strong>Agent</strong> v0.1<br>
																	<strong>ID</strong> 5401a4c5658bd425c797665f<br>
																	<strong>UUID</strong> 00:0c:29:95:11:72<br>
																	<strong>Uptime</strong> 12:09<br>
																	<strong>IP address</strong> 172.16.149.128<br>
																	<strong>Public IP address</strong> 172.16.149.128<br>
																	<strong>Load Average</strong> [u'0.03', u'0.04', u'0.05']<br>
																	<strong>Current CPU Usage</strong> {u'cpu_used': 100198.5, u'cpu_free': -100098.5}<br>
																	<strong>Current Memory Usage</strong> {u'memory_used': 411205632, u'memory_used_percentage': 80.03, u'memory_free': 102596608, u'memory_total': 513802240}<br>
																	<strong>Current Physical Disks</strong> [{u'device': u'/dev/sda', u'serial_number': u'n/a', u'firmware_revision': u'n/a', u'model_number': u'n/a', u'size': 21474836480L}]<br>
																	<strong>Current Disks Usage</strong> [[u'rootfs', u'20225847296', 2907, 15401, u'16%', u'/'], [u'udev', u'10485760', 0, 10, u'0%', u'/dev'], [u'tmpfs', u'51380224', 0, 48, u'1%', u'/run'], [u'/dev/disk/by-uuid/fc4f5afa-fbe7-4355-9b33-6827610c0b51', u'20225847296', 2907, 15401, u'16%', u'/'], [u'tmpfs', u'5242880', 0, 5, u'0%', u'/run/lock'], [u'tmpfs', u'287293440', 0, 273, u'0%', u'/run/shm']]<br>
																	<strong>CPU Virtualization</strong> True<br>
																	<strong>CPU Info</strong> {u'cpu0': {u'fpu': u'yes', u'clflush_size': u'64', u'cache_alignment': u'64', u'address_sizes': u'40 bits physical, 48 bits virtual', u'vendor_id': u'GenuineIntel', u'bogomips': u'3999.89', u'model_name': u'Intel(R) Core(TM) i5-4260U CPU @ 1.40GHz', u'cpu_family': u'6', u'cpuid_level': u'13', u'fpu_exception': u'yes', u'stepping': u'1', u'cpu_MHz': u'1999.949', u'cache_size': u'3072 KB', u'flags': u'fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts mmx fxsr sse sse2 ss syscall nx pdpe1gb rdtscp lm constant_tsc up arch_perfmon pebs bts nopl xtopology tsc_reliable nonstop_tsc aperfmperf pni pclmulqdq vmx ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm ida arat epb xsaveopt pln pts dtherm tpr_shadow vnmi ept vpid fsgsbase smep', u'model': u'69', u'processor': u'0', u'microcode': u'0x17', u'wp': u'yes'}}<br>
																	<strong>Last Seen</strong> Aug. 30, 2014, 12:27 p.m.<br>
																	<br>
																	<br>
																	<strong>Virtual Machines:</strong>
																	<br>
																	<br>
																	<strong>Activities:</strong><br>



																			{u'uuid': u'00:0c:29:95:11:72', u'secret': u'257-LYIH-04069', u'activity': u'Agent v0.1 has started.', u'date_created': datetime.datetime(2014, 8, 30, 12, 17, 41, 677000), u'_id': ObjectId('5401a4c5658bd425c797665e'), u'agent_version': u'0.1'}<br>



																</p>
			  		</div>
				<div class="panel-footer">Panel footer</div>
			</div>
		</div>
		{% comment %}
		<div class="col-sm-6">	
			<div class="panel panel-info">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Server #3</h3>
			  	</div>
			  	<div class="panel-body">
					<p>
																	<a href="/server/00-0c-29-95-11-72/"><strong><font size="5">Server #3</font></strong></a>
																	<br>
																	<strong>Agent</strong> v0.1<br>
																	<strong>ID</strong> 5401a4c5658bd425c797665f<br>
																	<strong>UUID</strong> 00:0c:29:95:11:72<br>
																	<strong>Uptime</strong> 12:09<br>
																	<strong>IP address</strong> 172.16.149.128<br>
																	<strong>Public IP address</strong> 172.16.149.128<br>
																	<strong>Load Average</strong> [u'0.03', u'0.04', u'0.05']<br>
																	<strong>Current CPU Usage</strong> {u'cpu_used': 100198.5, u'cpu_free': -100098.5}<br>
																	<strong>Current Memory Usage</strong> {u'memory_used': 411205632, u'memory_used_percentage': 80.03, u'memory_free': 102596608, u'memory_total': 513802240}<br>
																	<strong>Current Physical Disks</strong> [{u'device': u'/dev/sda', u'serial_number': u'n/a', u'firmware_revision': u'n/a', u'model_number': u'n/a', u'size': 21474836480L}]<br>
																	<strong>Current Disks Usage</strong> [[u'rootfs', u'20225847296', 2907, 15401, u'16%', u'/'], [u'udev', u'10485760', 0, 10, u'0%', u'/dev'], [u'tmpfs', u'51380224', 0, 48, u'1%', u'/run'], [u'/dev/disk/by-uuid/fc4f5afa-fbe7-4355-9b33-6827610c0b51', u'20225847296', 2907, 15401, u'16%', u'/'], [u'tmpfs', u'5242880', 0, 5, u'0%', u'/run/lock'], [u'tmpfs', u'287293440', 0, 273, u'0%', u'/run/shm']]<br>
																	<strong>CPU Virtualization</strong> True<br>
																	<strong>CPU Info</strong> {u'cpu0': {u'fpu': u'yes', u'clflush_size': u'64', u'cache_alignment': u'64', u'address_sizes': u'40 bits physical, 48 bits virtual', u'vendor_id': u'GenuineIntel', u'bogomips': u'3999.89', u'model_name': u'Intel(R) Core(TM) i5-4260U CPU @ 1.40GHz', u'cpu_family': u'6', u'cpuid_level': u'13', u'fpu_exception': u'yes', u'stepping': u'1', u'cpu_MHz': u'1999.949', u'cache_size': u'3072 KB', u'flags': u'fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts mmx fxsr sse sse2 ss syscall nx pdpe1gb rdtscp lm constant_tsc up arch_perfmon pebs bts nopl xtopology tsc_reliable nonstop_tsc aperfmperf pni pclmulqdq vmx ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm ida arat epb xsaveopt pln pts dtherm tpr_shadow vnmi ept vpid fsgsbase smep', u'model': u'69', u'processor': u'0', u'microcode': u'0x17', u'wp': u'yes'}}<br>
																	<strong>Last Seen</strong> Aug. 30, 2014, 12:27 p.m.<br>
																	<br>
																	<br>
																	<strong>Virtual Machines:</strong>
																	<br>
																	<br>
																	<strong>Activities:</strong><br>



																			{u'uuid': u'00:0c:29:95:11:72', u'secret': u'257-LYIH-04069', u'activity': u'Agent v0.1 has started.', u'date_created': datetime.datetime(2014, 8, 30, 12, 17, 41, 677000), u'_id': ObjectId('5401a4c5658bd425c797665e'), u'agent_version': u'0.1'}<br>



																</p>
				  	</div>
				<div class="panel-footer">Panel footer</div>
			</div>
		</div>
		{% endcomment %}
		<div class="col-sm-6">	
			<div class="panel panel-warning">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Server #4</h3>
			  	</div>
			  	<div class="panel-body">
					<p>
																	<a href="/server/00-0c-29-95-11-72/"><strong><font size="5">Server #4</font></strong></a>
																	<br>
																	<strong>Agent</strong> v0.1<br>
																	<strong>ID</strong> 5401a4c5658bd425c797665f<br>
																	<strong>UUID</strong> 00:0c:29:95:11:72<br>
																	<strong>Uptime</strong> 12:09<br>
																	<strong>IP address</strong> 172.16.149.128<br>
																	<strong>Public IP address</strong> 172.16.149.128<br>
																	<strong>Load Average</strong> [u'0.03', u'0.04', u'0.05']<br>
																	<strong>Current CPU Usage</strong> {u'cpu_used': 100198.5, u'cpu_free': -100098.5}<br>
																	<strong>Current Memory Usage</strong> {u'memory_used': 411205632, u'memory_used_percentage': 80.03, u'memory_free': 102596608, u'memory_total': 513802240}<br>
																	<strong>Current Physical Disks</strong> [{u'device': u'/dev/sda', u'serial_number': u'n/a', u'firmware_revision': u'n/a', u'model_number': u'n/a', u'size': 21474836480L}]<br>
																	<strong>Current Disks Usage</strong> [[u'rootfs', u'20225847296', 2907, 15401, u'16%', u'/'], [u'udev', u'10485760', 0, 10, u'0%', u'/dev'], [u'tmpfs', u'51380224', 0, 48, u'1%', u'/run'], [u'/dev/disk/by-uuid/fc4f5afa-fbe7-4355-9b33-6827610c0b51', u'20225847296', 2907, 15401, u'16%', u'/'], [u'tmpfs', u'5242880', 0, 5, u'0%', u'/run/lock'], [u'tmpfs', u'287293440', 0, 273, u'0%', u'/run/shm']]<br>
																	<strong>CPU Virtualization</strong> True<br>
																	<strong>CPU Info</strong> {u'cpu0': {u'fpu': u'yes', u'clflush_size': u'64', u'cache_alignment': u'64', u'address_sizes': u'40 bits physical, 48 bits virtual', u'vendor_id': u'GenuineIntel', u'bogomips': u'3999.89', u'model_name': u'Intel(R) Core(TM) i5-4260U CPU @ 1.40GHz', u'cpu_family': u'6', u'cpuid_level': u'13', u'fpu_exception': u'yes', u'stepping': u'1', u'cpu_MHz': u'1999.949', u'cache_size': u'3072 KB', u'flags': u'fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts mmx fxsr sse sse2 ss syscall nx pdpe1gb rdtscp lm constant_tsc up arch_perfmon pebs bts nopl xtopology tsc_reliable nonstop_tsc aperfmperf pni pclmulqdq vmx ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm ida arat epb xsaveopt pln pts dtherm tpr_shadow vnmi ept vpid fsgsbase smep', u'model': u'69', u'processor': u'0', u'microcode': u'0x17', u'wp': u'yes'}}<br>
																	<strong>Last Seen</strong> Aug. 30, 2014, 12:27 p.m.<br>
																	<br>
																	<br>
																	<strong>Virtual Machines:</strong>
																	<br>
																	<br>
																	<strong>Activities:</strong><br>



																			{u'uuid': u'00:0c:29:95:11:72', u'secret': u'257-LYIH-04069', u'activity': u'Agent v0.1 has started.', u'date_created': datetime.datetime(2014, 8, 30, 12, 17, 41, 677000), u'_id': ObjectId('5401a4c5658bd425c797665e'), u'agent_version': u'0.1'}<br>



																</p>
				  	</div>
				<div class="panel-footer">Hot hot!</div>
			</div>
		</div>
		<div class="col-sm-6">	
			<div class="panel panel-danger">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Server #5</h3>
			  	</div>
			  	<div class="panel-body">
					<p>
																	<a href="/server/00-0c-29-95-11-72/"><strong><font size="5">Server #5</font></strong></a>
																	<br>
																	<strong>Agent</strong> v0.1<br>
																	<strong>ID</strong> 5401a4c5658bd425c797665f<br>
																	<strong>UUID</strong> 00:0c:29:95:11:72<br>
																	<strong>Uptime</strong> 12:09<br>
																	<strong>IP address</strong> 172.16.149.128<br>
																	<strong>Public IP address</strong> 172.16.149.128<br>
																	<strong>Load Average</strong> [u'0.03', u'0.04', u'0.05']<br>
																	<strong>Current CPU Usage</strong> {u'cpu_used': 100198.5, u'cpu_free': -100098.5}<br>
																	<strong>Current Memory Usage</strong> {u'memory_used': 411205632, u'memory_used_percentage': 80.03, u'memory_free': 102596608, u'memory_total': 513802240}<br>
																	<strong>Current Physical Disks</strong> [{u'device': u'/dev/sda', u'serial_number': u'n/a', u'firmware_revision': u'n/a', u'model_number': u'n/a', u'size': 21474836480L}]<br>
																	<strong>Current Disks Usage</strong> [[u'rootfs', u'20225847296', 2907, 15401, u'16%', u'/'], [u'udev', u'10485760', 0, 10, u'0%', u'/dev'], [u'tmpfs', u'51380224', 0, 48, u'1%', u'/run'], [u'/dev/disk/by-uuid/fc4f5afa-fbe7-4355-9b33-6827610c0b51', u'20225847296', 2907, 15401, u'16%', u'/'], [u'tmpfs', u'5242880', 0, 5, u'0%', u'/run/lock'], [u'tmpfs', u'287293440', 0, 273, u'0%', u'/run/shm']]<br>
																	<strong>CPU Virtualization</strong> True<br>
																	<strong>CPU Info</strong> {u'cpu0': {u'fpu': u'yes', u'clflush_size': u'64', u'cache_alignment': u'64', u'address_sizes': u'40 bits physical, 48 bits virtual', u'vendor_id': u'GenuineIntel', u'bogomips': u'3999.89', u'model_name': u'Intel(R) Core(TM) i5-4260U CPU @ 1.40GHz', u'cpu_family': u'6', u'cpuid_level': u'13', u'fpu_exception': u'yes', u'stepping': u'1', u'cpu_MHz': u'1999.949', u'cache_size': u'3072 KB', u'flags': u'fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts mmx fxsr sse sse2 ss syscall nx pdpe1gb rdtscp lm constant_tsc up arch_perfmon pebs bts nopl xtopology tsc_reliable nonstop_tsc aperfmperf pni pclmulqdq vmx ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm ida arat epb xsaveopt pln pts dtherm tpr_shadow vnmi ept vpid fsgsbase smep', u'model': u'69', u'processor': u'0', u'microcode': u'0x17', u'wp': u'yes'}}<br>
																	<strong>Last Seen</strong> Aug. 30, 2014, 12:27 p.m.<br>
																	<br>
																	<br>
																	<strong>Virtual Machines:</strong>
																	<br>
																	<br>
																	<strong>Activities:</strong><br>



																			{u'uuid': u'00:0c:29:95:11:72', u'secret': u'257-LYIH-04069', u'activity': u'Agent v0.1 has started.', u'date_created': datetime.datetime(2014, 8, 30, 12, 17, 41, 677000), u'_id': ObjectId('5401a4c5658bd425c797665e'), u'agent_version': u'0.1'}<br>



																</p>
			  	</div>
				<div class="panel-footer">Hot hot hot!</div>
			</div>
		</div>
		
		
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2><i class="fa fa-edit" ></i>Add another private server</h2>
						<div class="panel-actions">
							<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
						</div>
					</div>
					
					<div class="panel-body">
						
										{% if servers_count = 0 %}
											<p>
												The more hardware you give your private cloud, the more your private cloud grows in size and capacity.
												<br/>That's the fundamental logic behind most cloud solutions.
												<br/>
												<br/>
												To add another private server simply copy and paste the following command into the linux terminal window:<br/>

<pre>
curl <a href="http://{{server_addr}}/static/agent.py" target="_blank">http://{{server_addr}}/static/agent.py</a> > ~$USER/agent.py; sudo sh -c "while true; do python ~$USER/agent.py; sleep 3; done"
</pre>
						
						Provide your secret: ******** <br/><br/>


						And that's that.<br/>
						The agent will run and guide you through the installation process.

											</p>

										{% else %}

											<font color="red">XXX working on this currently</font>

											{% for server in servers %}
										    <p>
												<a href="/server/{{server.uuid|replace_dots}}/"><strong><font size="5">Server #{{forloop.counter}}</font></strong></font></a>
												<br/>
												<strong>Agent</strong> v{{server|dict_get:"agent_version"}}<br/>
												<strong>ID</strong> {{server|dict_get:"_id"}}<br/>
												<strong>UUID</strong> {{server|dict_get:"uuid"}}<br/>
												<strong>Uptime</strong> {{server|dict_get:"uptime"}}<br/>
												<strong>IP address</strong> {{server|dict_get:"ip"}}<br/>
												<strong>Public IP address</strong> {{server|dict_get:"ip_remote"}}<br/>
												<strong>Load Average</strong> {{server|dict_get:"loadavg"}}<br/>
												<strong>Current CPU Usage</strong> {{server|dict_get:"cpu_usage"}}<br/>
												<strong>Current Memory Usage</strong> {{server|dict_get:"memory_usage"}}<br/>
												<strong>Current Physical Disks</strong> {{server|dict_get:"physical_disks"}}<br/>
												<strong>Current Disks Usage</strong> {{server|dict_get:"disks_usage"}}<br/>
												<strong>CPU Virtualization</strong> {{server|dict_get:"cpu_virtualization"}}<br/>
												<strong>CPU Info</strong> {{server|dict_get:"cpu_info"}}<br/>
												<strong>Last Seen</strong> {{server|dict_get:"last_seen"}}<br/>
												<br/>
												<br/>
												<strong>Activities:</strong><br/>

												{% for activity in server|dict_get:"uuid"|get_server_activities %}
													{% if forloop.counter < 5 %}
														{{activity}}<br/>
													{% endif %}
												{% endfor %}

											</p>
											{% endfor %}

										{% endif %}						
						
						</div>
					</div>
				</div><!--/col-->
			</div>


		</div>
		<!-- end: Content -->
	</div><!--/row-->		
</div><!--/container-->
	

	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock page_content %}
