<h2>Install A New Private Server</h2>

<p>		
	To install a new private server simply copy and paste the following command into the linux terminal window:<br/>
	
<pre>
$ wget http://cdn..../<a href="/static/agent.py" target="_blank">agent</a>
</pre>

	<i>* Please note you must be logged in as user <strong>root</strong> to run the agent!</i>
	<br/>
	<i>* You can download the linux agent <a href="/static/agent.py" target="_blank">here</a>
	

	<br/>
	<br/>

	<i><strong>Installation Wizard coming soon..</strong></i><br/>
	<i><strong>Bootable Media coming soon..</strong></i>

</p>
