{% extends "base.html" %}

{% load humanize %}
{% load cloud_extras %}

{% block title %}Cloudly | Server Detail{% endblock %}

{% block extra_css%}
{% endblock %}


{% block page_content %}


<input type='hidden' name='hwaddr' value='{{hwaddr_orig}}' />
<input type='hidden' name='secret' value='{{secret}}' />

<div class="col-md-10 col-sm-11 main ">

    <ol class="breadcrumb">
        <li><a href="/">Servers</a></li>
        <li class="active">{{server|dict_get:"hostname"}}</li>
    </ol>


    <div class="row">
        <div class="col-xs-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-server"></i>Server Details</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">

                    <table id="user" class="table table-bordered table-striped" style="clear: both">
                        <tbody>
                            <tr>
                                <td width="40%">Name</td>
                                <td width="60%">{{server|dict_get:"uuid"}}</td>
                            </tr>
                            <tr>
                                <td>IP Address</td>
                                <td><a href="http://www.infosniper.net/index.php?ip_address={{server|dict_get:"ip"}}&map_source=1&overview_map=1&lang=1&map_type=1&zoom_level=7" target="_blank">{{server|dict_get:"ip"}}</td>
                            </tr>

                            <tr>
                                <td>Hostname</td>
                                <td>{{server|dict_get:"hostname"}}</td>
                            </tr>

                            <tr>
                                <td>Distribution</td>
                                <td>{{server|dict_get:"distro"}}</td>
                            </tr>
                            {% if server_status|lower = "running" %}
                            <tr>
                                <td>Uptime</td>
                                <td class="server_info_uptime">{{server|dict_get:"uptime"}}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td>CPU info</td>
                                <td>{{server|dict_get:"cpu_info"|count_list}}x {{server|dict_get:"cpu_info"|dict_get:"cpu0"|dict_get:"model_name"}}</td>
                            </tr>
                            <tr>
                                <td>CPU Virtualization</td>
                                <td>{{server|dict_get:"cpu_virtualization"}}</td>
                            </tr>
                            <tr>
                                <td>Memory Size</td>
                                <td>{{server|dict_get:"memory_usage"|dict_get:"memory_total"|to_mb|intcomma}} MB</td>
                            </tr>
                            {% if server_status|lower = "running" %}
                            <tr>
                                <td>Load Average</td>
                                <td class="server_info_loadavg">
                                {% for i in server|dict_get:"loadavg" %}
                                {{i}}&nbsp;
                                {% endfor %}
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td>Status</td>
                                <td class="server_info_status">{{server_status|lower}}</td>
                            </tr>
                            {% if server_status|lower = "offline" %}
                            <tr>
                                <td>Last seen</td>
                                <td>{{server|dict_get:"last_seen"|naturalday}}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% if server_status|lower = "running" %}
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-heartbeat"></i>Current Load</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="cpu_usage_progress_bar">
                        <h6>CPU</h6>
                        <div class="progress thin">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only">CPU used</span>
                            </div>
                        </div>
                    </div>

                    <div class="memory_usage_progress_bar">
                        <h6>Memory</h6>
                        <div class="progress thin">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only">Memory used</span>
                            </div>
                        </div>
                    </div>

                    <div class="swap_usage_progress_bar">
                        <h6>Swap</h6>
                        <div class="progress thin">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only">Swap used</span>
                            </div>
                        </div>
                    </div>

                    <div class="loadavg_usage_progress_bar">
                        <h6>Load average</h6>
                        <div class="progress thin">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only">Load average used</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/row-->


    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-connectdevelop"></i>System Metrics</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Load Average
                            <ul id="loadavg_interval" class="nav nav-tabs">
                                <li><a href="#" data-interval="30d">30 days</a></li>
                                <li><a href="#" data-interval="7d">7 days</a></li>
                                <li><a href="#" data-interval="1d">1 day</a></li>
                                <li><a href="#" data-interval="1h">1 hour</a></li>
                                <li><a href="#" data-interval="15m">15 min</a></li>
                                <li><a href="#" data-interval="3m" class="active">3 min</a></li>
                        </div>
                        <div id="loadavg"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            CPU Usage
                            <ul id="cpu_usage_interval" class="nav nav-tabs">
                                <li><a href="#" data-interval="30d">30 days</a></li>
                                <li><a href="#" data-interval="7d">7 days</a></li>
                                <li><a href="#" data-interval="1d">1 day</a></li>
                                <li><a href="#" data-interval="1h">1 hour</a></li>
                                <li><a href="#" data-interval="15m">15 min</a></li>
                                <li><a href="#" data-interval="3m" class="active">3 min</a></li>
                        </div>
                        <div id="cpu_usage"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Memory Usage
                            <ul id="mem_usage_interval" class="nav nav-tabs">
                                <li><a href="#" data-interval="30d">30 days</a></li>
                                <li><a href="#" data-interval="7d">7 days</a></li>
                                <li><a href="#" data-interval="1d">1 day</a></li>
                                <li><a href="#" data-interval="1h">1 hour</a></li>
                                <li><a href="#" data-interval="15m">15 min</a></li>
                                <li><a href="#" data-interval="3m" class="active">3 min</a></li>
                        </div>
                        <div id="mem_usage"></div>
                    </div>

                    {% if server|dict_get:"memory_usage"|dict_get:"swap_total" %}
                    <hr/>
                    <div id="swap_usage"></div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div><!--/row-->

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-globe"></i>Networking</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">

                    <div id="inbound_bytes"></div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Inbound Traffic
                            <ul id="inbound_traffic_interval" class="nav nav-tabs">
                                <li><a href="#" data-interval="30d">30 days</a></li>
                                <li><a href="#" data-interval="7d">7 days</a></li>
                                <li><a href="#" data-interval="1d">1 day</a></li>
                                <li><a href="#" data-interval="1h">1 hour</a></li>
                                <li><a href="#" data-interval="15m">15 min</a></li>
                                <li><a href="#" data-interval="3m" class="active">3 min</a></li>
                        </div>
                        <div id="inbound_traffic"></div>
                    </div>


                    <div id="outbound_bytes"></div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Outbound Traffic
                            <ul id="outbound_traffic_interval" class="nav nav-tabs">
                                <li><a href="#" data-interval="30d">30 days</a></li>
                                <li><a href="#" data-interval="7d">7 days</a></li>
                                <li><a href="#" data-interval="1d">1 day</a></li>
                                <li><a href="#" data-interval="1h">1 hour</a></li>
                                <li><a href="#" data-interval="15m">15 min</a></li>
                                <li><a href="#" data-interval="3m" class="active">3 min</a></li>
                        </div>
                        <div id="outbound_traffic"></div>
                    </div>

                    {% comment %}
                        <hr/>
                        <div id="inbound_packets"></div>
                        <div id="outbound_packets"></div>
                    {% endcomment %}

                </div>

            </div>
        </div>
    </div><!--/row-->


    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-database"></i>Disks</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">

                    <table class="table">
                    <thead>
                        <tr>
                            <th>Filesystem</th>
                            <th>Size</th>
                            <th>Used</th>
                            <th>Avail</th>
                            <th>Usage %</th>
                            <th>Mounted on</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for disk in server|dict_get:"disks_usage" %}
                        <tr>
                            <td>
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}<font color="red">{% endif %}
                                    {{disk|dict_get:0}}
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}</font>{% endif %}
                            </td>
                            <td>
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}<font color="red">{% endif %}
                                    {{disk|dict_get:1|filesizeformat}}
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}</font>{% endif %}
                            </td>
                            <td>
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}<font color="red">{% endif %}
                                    {{disk|dict_get:2|filesizeformat}}
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}</font>{% endif %}
                            </td>
                            <td>
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}<font color="red">{% endif %}
                                    {{disk|dict_get:3|filesizeformat}}
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}</font>{% endif %}
                            </td>
                            <td>
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}<font color="red">{% endif %}
                                    {{disk|dict_get:4}}
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}</font>{% endif %}
                            </td>
                            <td>
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}<font color="red">{% endif %}
                                    {{disk|dict_get:5}}
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}</font>{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>

                <hr/>

                {% comment %}
                    <b>disks_usage graphs debug</b>
                    <br/>
                    {% for disks_metrics in disks_usage %}
                        {{disks_metrics|pprint}}
                        <br/>
                    {% endfor %}
                    <b>tmp js graph construct</b>
                    {% for disk in server|dict_get:"disks_usage" %}
                        id = disk_graph_{{forloop.counter}}</br>
                        particular_disk_data {{disk|dict_get:0}}<br/>
                        {% for disks_metrics in disks_usage %}
                            [Date.UTC({{disks_metrics.date_created|date:"Y"}}, {{disks_metrics.date_created|date:"n"|substract_one}}, {{disks_metrics.date_created|date:"j"}}, {{disks_metrics.date_created|date:"H"}}, {{disks_metrics.date_created|date:"i"}}, {{disks_metrics.date_created|date:"s"}}), {{disks_metrics|dict_get:"disks_usage"|dict_get:forloop.parentloop.counter0|dict_get:4}} ],
                        {% endfor %}
                        <hr/>
                    {% endfor %}
                {% endcomment %}

                </div>

            </div>
        </div>
    </div><!--/row-->



    <div class="row">
        <div class="col-xs-12">
            <div id="diskGraphs" class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-database"></i>Disk Graphs</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">

                    {% for disk in server|dict_get:"disks_usage" %}
                        {% if disk|dict_get:0 != "none" %}
                        <div id="disk_{{forloop.counter}}"></div>
                        {% if not forloop.last %}
                        <hr/>
                        {% endif %}
                        {% endif %}
                    {% endfor %}

                </div>

            </div>
        </div>
    </div><!--/row-->


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-align-justify"></i><span class="break"></span>Running processes</h2>
                    <div class="panel-actions">
                        <a href="table.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">

                    <table id="running_processes_table" class="table table-bordered table-striped bootstrap-datatable">
                        <thead>
                            <tr>
                                <th>PID</th>
                                <th>User</th>
                                <th>%CPU</th>
                                <th>%MEM</th>
                                <th>Process</th>
                                <th>Command</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->
    </div><!--/row-->
{% endif %}


{% if server_status|lower = "running" %}
<div class="row">
    <div class="col-xs-12">
        <div id="serviceDiscovery" class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-skyatlas"></i>Services Discovery</h2>
                <div class="panel-actions">
                    <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </div>

            <div class="panel-body">
                TBD
            </div>

        </div>
    </div>
</div><!--/row-->
{% endif %}



    <div class="row">
        <div class="col-xs-12">
            <div id="serverActivity" class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-forumbee"></i>Server Activity</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">

                <b>Incidents</b> TBD
                <br/>

                <b>Events</b> TBD
                <br/>

                <b>Activity</b> {{activity}}
                {% for log in activity %}
                    {{log}}
                {% endfor %}
                <br/>

                </div>

            </div>
        </div>
    </div><!--/row-->

    <div class="row">
        <div class="col-xs-12">
            <div id="serverActivity" class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-bug"></i>Fixed Problems</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                TBD
                </div>

            </div>
        </div>
    </div><!--/row-->





{% if not server_status|lower = "running" %}
<div class="panel-body">
    Server agent has gone offline.
</div>
</div><!--/leave britney alone-->
</div><!--/leave britney alone-->
{% endif %}


</div><!--/leave britney alone-->
</div><!--/leave britney alone-->
</div><!--/container-->

{% endblock page_content %}

{% block extra_js %}

<script src="/static/highcharts/highcharts.js"></script>
<script src="/static/highcharts/exporting.js"></script>
<script src="/static/js/server_detail.js"></script>
<script src="/static/js/chart_loadavg.js"></script>
<script src="/static/js/chart_cpu_usage.js"></script>
<script src="/static/js/chart_mem_usage.js"></script>
<script src="/static/js/chart_inbound_traffic.js"></script>
<script src="/static/js/chart_outbound_traffic.js"></script>
<script src="/static/js/processes_table_ajax.js"></script>

<script type="text/javascript">
$(function () {
    $('#swap_usage').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Swap Usage'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'datetime',
            title: {
                text: 'Date and time'
            }
        },
        yAxis: {
            title: {
                text: ''
            },
            min: 0
        },
        tooltip: {
            headerFormat: '<b>{series.name}:</b> {point.y:.2f}<br>',
            pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}'
        },

        series: [{
            name: 'Swap Used',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: [
        {% for x in mem_usage %}
           [Date.UTC({{x|dict_get:"date_created"|date:"Y"}}, {{x|dict_get:"date_created"|date:"n"|substract_one}}, {{x|dict_get:"date_created"|date:"j"}}, {{x|dict_get:"date_created"|date:"H"}}, {{x|dict_get:"date_created"|date:"i"}}, {{x|dict_get:"date_created"|date:"s"}}), {{x|dict_get:"memory_usage"|dict_get:"swap_used"}}   ],
        {% endfor %}
            ]
        },
        ]
    });
});

{% for disk in server|dict_get:"disks_usage" %}

$(function () {
    $('#disk_{{forloop.counter}}').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: '{{disk|dict_get:5}}'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'datetime',
            title: {
                text: 'Date and time'
            }
        },
        yAxis: {
            title: {
                text: '% used'
            },
            min: 0
        },
        tooltip: {
            headerFormat: '<b>{series.name}:</b> {point.y:.2f}<br>',
            pointFormat: '{point.x:%Y-%m-%d %H:%M:%S}'
        },

        series: [{
            name: '{{disk|dict_get:0}}',
            data: [
        {% for disks_metrics in disks_usage %}
            [Date.UTC({{disks_metrics.date_created|date:"Y"}}, {{disks_metrics.date_created|date:"n"|substract_one}}, {{disks_metrics.date_created|date:"j"}}, {{disks_metrics.date_created|date:"H"}}, {{disks_metrics.date_created|date:"i"}}, {{disks_metrics.date_created|date:"s"}}), {{disks_metrics|dict_get:"disks_usage"|dict_get:forloop.parentloop.counter0|dict_get:4|clean_percentage}} ],
        {% endfor %}
            ]
        },
        ]
    });
});

{% endfor %}

/**
$('#running_processes_table').dataTable( {
    lengthMenu: [[15, 50, 100], [15, 50, 100]],
    order: [[ 2, "desc" ]]
} );
*/
</script>
{% endblock extra_js %}
