{% extends "base.html" %}

{% load humanize %}
{% load cloud_extras %}

{% block title %}Monkeytor | Server Detail{% endblock %}

{% block extra_css%}
    <link href="/static/admin-assets/css/bootstrap-editable.css" rel="stylesheet">
    <link href="/static/admin-assets/css/server_detail.css" rel="stylesheet">
{% endblock %}

{% block nav-bar %}
    {% include "partials/nav-bar-classic.html" %}
{% endblock %}

{% block page_content %}
    <input type='hidden' name='hwaddr' value='{{hwaddr_orig}}' />
    <input type='hidden' name='secret' value='{{secret}}' />
    <input type='hidden' name='available_disks_graphs' value='[{% for disk in reduced_disks %}"{{disk}}"{% if not forloop.last %},{% endif %}{% endfor %}]' />
    {% block breadcrumb %}
        {% include "partials/breadcrumb-server_detail.html" %}
    {% endblock %}

    <div id="server_detail"
        class="row"
        >
        <div class="col-xs-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-server"></i>Server Details</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    <table id="user" class="table table-bordered responsive table-striped" style="clear: both">
                        <tbody>
                            <tr>
                                <td width="40%">Name</td>
                                <td width="60%">
                                    <a href="#" id="servername" class="editable editable-click editable-open">
                                        {{server|dict_get:"name"}}
                                    </a>
                                    <i id="mac-address-tooltip"
                                        class="fa fa-info-circle"
                                        style="float: right; display: none;"
                                        data-toggle="tooltip"
                                        title="Mac address: {{hwaddr_orig}}"
                                        data-original-title="Server mac address">
                                    </i>
                               </td>
                            </tr>
                            <tr>
                                <td>IP Address</td>
                                <td>
                                    {% if server|dict_get:"ip" != "127.0.0.1" %}
                                    <a href="http://www.infosniper.net/index.php?ip_address={{server|dict_get:"ip"}}&map_source=1&overview_map=1&lang=1&map_type=1&zoom_level=7"
                                        target="_blank"
                                    >
                                        {{server|dict_get:"ip"}}
                                    </a>
                                    {% else %}
                                        {{server|dict_get:"ip"}}
                                    {% endif %}
                                </td>
                            </tr>

                                <td>Hostname</td>
                                <td class="server_info_hostname">
                                    {{server|dict_get:"hostname"}}
                                </td>
                            </tr>

                            {% if server|dict_get:"distro" != "?" and server|dict_get:"distro" != "  " %}
                            <tr>
                                <td>Distribution</td>
                                <td>{{server|dict_get:"distro"}}</td>
                            </tr>
                            {% endif %}

                            <tr class="server_uptime"
                                {% if server_status|lower = "offline" %}
                                    style="display: none;"
                                {% endif %}
                                >
                                <td>Uptime</td>
                                <td class="server_info_uptime">
                                    {{server|dict_get:"uptime"}}
                                </td>
                            </tr>
                            <tr>
                                <td>CPU info</td>
                                <td>{{server|dict_get:"cpu_info"|count_list}}x {{server|dict_get:"cpu_info"|dict_get:"cpu0"|dict_get:"model_name"}}</td>
                            </tr>
                            <tr>
                                <td>Memory Size</td>
                                <td>{{server|dict_get:"memory_usage"|dict_get:"memory_total"|to_mb|intcomma}} MB</td>
                            </tr>
                            <tr class="server_loadavg"
                                {% if server_status|lower = "offline" %}
                                    style="display: none;"
                                {% endif %}
                                >
                                <td>Load Average</td>
                                <td class="server_info_loadavg">
                                    {% for i in server|dict_get:"loadavg" %}
                                        {{i}}&nbsp;
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td class="server_info_status">
                                    {{server_status|lower}}
                                </td>
                            </tr>
                            <tr class="server_last_seen"
                                {% if server_status|lower != "offline" %}
                                    style="display: none;"
                                {% endif %}
                                >
                                <td>Last seen</td>
                                <td class="server_info_last_seen">
                                    {{server|dict_get:"last_seen"|naturalday}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div id="current_load"
            class="col-xs-5"
            {% if server_status|lower = "offline" %}
                style="display: none;"
            {% endif %}
            >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-heartbeat"></i>Current Load</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="cpu_usage_progress_bar">
                        <h6>CPU</h6>
                        <div class="progress thin">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only">CPU used</span>
                            </div>
                        </div>
                    </div>

                    <div class="memory_usage_progress_bar">
                        <h6>Memory</h6>
                        <div class="progress thin">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only">Memory used</span>
                            </div>
                        </div>
                    </div>

                    <div class="swap_usage_progress_bar">
                        <h6>Swap</h6>
                        <div class="progress thin">
                            <div class="progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only">Swap used</span>
                            </div>
                        </div>
                    </div>

                    <div class="loadavg_usage_progress_bar">
                        <h6>Load average</h6>
                        <div class="progress thin">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only">Load average used</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="server_tags"
            class="col-xs-5"
        >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-tags"></i>Tags</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    {% for tag in server|dict_get:"tags"|dict_get:"tags" %}
                      <span class="label label-info">{{tag|dict_get:0}}</span>
                    {% endfor %}
                    {% for tag in server|dict_get:"tags"|dict_get:"datacenters" %}
                      <span class="label label-info">{{tag|dict_get:0}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div><!--/row-->


    {% if server_notifs_count %}
        <div id="system_statuses"
            class="row"
            {% if server_status|lower = "offline" %}
                style="display: none;"
            {% endif %}
            >
            <div class="col-xs-12">
        					<div class="panel panel-default">
        						<div class="panel-heading">
        							<h2><i class="fa fa-bullhorn"></i><span class="break"></span>Alerts</h2>
        							<div class="panel-actions">
        								<a href="ui-elements.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
        								<a href="ui-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
        								<a href="ui-elements.html#" class="btn-close"><i class="fa fa-times"></i></a>
        							</div>
        						</div>
        						<div class="panel-body alerts">

                      {% for alert in notifs %}
                        {% if alert|dict_get:"detailed_service_status"|dict_get:"message" %}
                          {% if alert|dict_get:"current_overall_status" == "WARNING" %}
                              <div class="alert alert-warning">
                								<button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>Warning!</strong> {{alert|dict_get:"detailed_service_status"|dict_get:"message"}}.
                							</div>
                          {% else %}
                              <div class="alert alert-danger">
                								<button type="button" class="close" data-dismiss="alert">×</button>
                								<strong>Oh snap!</strong> {{alert|dict_get:"detailed_service_status"|dict_get:"message"}}.
                							</div>
                          {% endif %}
                        {% endif %}
                      {% endfor %}

                      {% if is_outdated_agent_version %}
                        <div class="alert alert-info">
        								<button type="button" class="close" data-dismiss="alert">×</button>
          								<strong>Heads up!</strong> There's an outdated monitor agent running on this server.
          							</div>
                      {% endif %}

                      {% comment %}
                      <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Ooops!</strong>  There is 1 zombie process on this server.
                      </div>
                      {% endcomment %}

        						</div>
        					</div>
            </div>
        </div>
    {% endif %}


    <div id="system_metrics"
        class="row"
        {% if server_status|lower = "offline" %}
            style="display: none;"
        {% endif %}
        >
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-connectdevelop"></i>System Metrics</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Load Average
                            <ul id="loadavg_interval" class="nav nav-tabs nav-interval">
                                {% include "partials/chart_interval.html" %}
                            </ul>
                        </div>
                        <div id="loadavg"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            CPU Usage
                            <ul id="cpu_usage_interval" class="nav nav-tabs nav-interval">
                                {% include "partials/chart_interval.html" %}
                            </ul>
                        </div>
                        <div id="cpu_usage"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Memory Usage
                            <ul id="mem_usage_interval" class="nav nav-tabs nav-interval">
                                {% include "partials/chart_interval.html" %}
                            </ul>
                        </div>
                        <div id="mem_usage"></div>
                    </div>

                    {% if server|dict_get:"memory_usage"|dict_get:"swap_total" %}
                    <hr/>
                    <div id="swap_usage"></div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div><!--/row-->

    <div id="running_processes"
        class="row"
        {% if server_status|lower = "offline" %}
            style="display: none;"
        {% endif %}
        >
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-align-justify"></i><span class="break"></span>Running processes</h2>
                    <div class="panel-actions">
                        <a href="table.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <table
                        id="running_processes_table"
                        class="table table-bordered responsive table-striped bootstrap-datatable"
                        width="100%"
                    >
                        <thead>
                            <tr>
                                <th>PID</th>
                                <th>User</th>
                                <th>CPU</th>
                                <th>MEM</th>
                                <th>Process</th>
                                <th>Command</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div><!--/col-->
    </div><!--/row-->

    <div id="networking"
        class="row"
        {% if server_status|lower = "offline" %}
            style="display: none;"
        {% endif %}
        >
        <div class="col-xs-12">
            <div id="networkingGraphs" class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-globe"></i>Networking</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Inbound Traffic
                            <ul id="inbound_traffic_interval" class="nav nav-tabs nav-interval">
                                {% include "partials/chart_interval.html" %}
                            </ul>
                        </div>
                        <div id="inbound_traffic"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Outbound Traffic
                            <ul id="outbound_traffic_interval" class="nav nav-tabs nav-interval">
                                {% include "partials/chart_interval.html" %}
                            </ul>
                        </div>
                        <div id="outbound_traffic"></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/row-->

    <div id="network_sessions"
        class="row"
        {% if server_status|lower = "offline" %}
            style="display: none;"
        {% endif %}
        >
        <div class="col-xs-12">
            <div id="networkSessions" class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-globe"></i>Network Services</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    <table
                        id="network_connections"
                        class="table table-bordered responsive table-striped bootstrap-datatable"
                        width="100%"
                    >
                        <thead>
                            <tr>
                                <th>Proto</th>
                                <th>Recv-Q</th>
                                <th>Send-Q</th>
                                <th>Address</th>
                                <th>Port</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div><!--/row-->

    <div id="active_network_sessions"
        class="row"
        {% if server_status|lower = "offline" %}
            style="display: none;"
        {% endif %}
        >
        <div class="col-xs-12">
            <div id="activeNetworkSessions" class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-globe"></i>Active Internet connections</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                </table>
                    <table
                        id="active_network_connections"
                        class="table responsive table-bordered table-striped bootstrap-datatable"
                        width="100%"
                    >
                        <thead>
                            <tr>
                                <th>Proto</th>
                                <th>Recv-Q</th>
                                <th>Send-Q</th>
                                <th>Local Address</th>
                                <th>Foreign Address</th>
                                <th>Port</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div><!--/row-->

    <div id="disks"
        class="row"
        {% if server_status|lower = "offline" %}
            style="display: none;"
        {% endif %}
        >
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-database"></i>Disks</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">

                    <table class="table">
                    <thead>
                        <tr>
                            <th>Filesystem</th>
                            <th>Size</th>
                            <th>Used</th>
                            <th>Avail</th>
                            <th>Usage</th>
                            <th>Mounted on</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for disk in server|dict_get:"disks_usage" %}
                        <tr>
                            <td>
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}<font color="red">{% endif %}
                                    {{disk|dict_get:0}}
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}</font>{% endif %}
                            </td>
                            <td>
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}<font color="red">{% endif %}
                                    {{disk|dict_get:1|filesizeformat}}
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}</font>{% endif %}
                            </td>
                            <td>
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}<font color="red">{% endif %}
                                    {{disk|dict_get:2|filesizeformat}}
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}</font>{% endif %}
                            </td>
                            <td>
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}<font color="red">{% endif %}
                                    {{disk|dict_get:3|filesizeformat}}
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}</font>{% endif %}
                            </td>
                            <td>
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}<font color="red">{% endif %}
                                    {{disk|dict_get:4}}
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}</font>{% endif %}
                            </td>
                            <td>
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}<font color="red">{% endif %}
                                    {{disk|dict_get:5}}
                                {% if disk|dict_get:4|clean_percentage|make_float > 89 %}</font>{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>

                <hr/>

                {% comment %}
                    <b>disks_usage graphs debug</b>
                    <br/>
                    {% for disks_metrics in disks_usage %}
                        {{disks_metrics|pprint}}
                        <br/>
                    {% endfor %}
                    <b>tmp js graph construct</b>
                    {% for disk in server|dict_get:"disks_usage" %}
                        id = disk_graph_{{forloop.counter}}</br>
                        particular_disk_data {{disk|dict_get:0}}<br/>
                        {% for disks_metrics in disks_usage %}
                            [Date.UTC({{disks_metrics.date_created|date:"Y"}}, {{disks_metrics.date_created|date:"n"|substract_one}}, {{disks_metrics.date_created|date:"j"}}, {{disks_metrics.date_created|date:"H"}}, {{disks_metrics.date_created|date:"i"}}, {{disks_metrics.date_created|date:"s"}}), {{disks_metrics|dict_get:"disks_usage"|dict_get:forloop.parentloop.counter0|dict_get:4}} ],
                        {% endfor %}
                        <hr/>
                    {% endfor %}
                {% endcomment %}

                </div>

            </div>
        </div>
    </div><!--/row-->

    <div id="disk_graphs"
        class="row"
        {% if server_status|lower = "offline" %}
            style="display: none;"
        {% endif %}
        >
        <div class="col-xs-12">
            <div id="diskGraphs" class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-database"></i>Disk Graphs</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    {% for disk in reduced_disks %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Filesystem "{{disk}}"
                                <ul id="{{disk|convert_disk_name}}_interval" class="nav nav-tabs nav-interval">
                                    {% include "partials/chart_interval.html" %}
                                </ul>
                            </div>
                            <div id="{{disk|convert_disk_name}}"></div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div><!--/row-->

    <div id="services_discovery"
        class="row"
        {% if server_status|lower = "offline" %}
            style="display: none;"
        {% endif %}
        >
        <div class="col-xs-12">
            <div id="serviceDiscovery" class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-skyatlas"></i>Services Discovery</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                  {% comment %}
                      <p>
                      {% for tag in server|dict_get:"tags"|dict_get:"services_tags" %}
                          {% if tag|dict_get:0 != "www" and tag|dict_get:0 != "database" %}
                              <a href="#">{{tag|dict_get:0}}</a> - {{tag|dict_get:1}} <a href="#">enable monitoring</a><br/>
                          {% endif %}
                      {% endfor %}

                      {% for tag in server|dict_get:"tags"|dict_get:"datacenter_tags" %}
                          {% if tag != "VM" and tag != "Metal" %}
                              <a href="#">{{tag|dict_get:0}}</a> - {{tag|dict_get:1}} <a href="#">enable monitoring</a><br/>
                          {% endif %}
                      {% endfor %}

                      {% for tag in server|dict_get:"tags"|dict_get:"custom_tags" %}
                      <a href="#">{{tag|dict_get:0}}</a> - {{tag|dict_get:1}} <a href="#">enable monitoring</a><br/>
                      {% endfor %}
                      </p>
                  {% endcomment %}

                  <p>
                    Coming soon..
                  </p>

                </div>

            </div>
        </div>
    </div><!--/row-->



    <div id="alertingSettings"
        class="row"
        {% if server_status|lower = "offline" %}
            style="display: none;"
        {% endif %}
        >
        <div class="col-xs-12">
            <div id="alertingSettings" class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-envelope-o"></i>Alerting Settings</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">

                          <table style="width:100%">
                            <tr>
                              <th></th>
                              <th>E-mail</th>
                              <th>Twitter</th>
                              <th>SMS</th>
                              <th>Alerting</th>
                            </tr>

                            <div class="controls row">


                            {% for activity_type in activity_cummulative_types %}
                            <form class="form-horizontal">
                            <tr>
                              <td><font size=2>{{activity_type}}</font></td>

                                    <td>
                                    <div class="col-md-1 col-sm-3 col-xs-4">
                                        <label class="switch switch-warning">
                                          <input type="checkbox" class="switch-input" checked="">
                                          <span class="switch-label" data-on="On" data-off="Off"></span>
                                          <span class="switch-handle"></span>
                                        </label>
                                    </div>
                                   </td>

                                    <td>
                                    <div class="col-md-1 col-sm-3 col-xs-4">
                                      <label class="switch switch-primary">
                                          <input type="checkbox" class="switch-input" checked="">
                                          <span class="switch-label" data-on="On" data-off="Off"></span>
                                          <span class="switch-handle"></span>
                                        </label>
                                    </div>
                                    </td>

                                    <td>
                                      <div class="col-md-1 col-sm-3 col-xs-4">
                                          <label class="switch switch-success">
                                            <input type="checkbox" class="switch-input">
                                            <span class="switch-label" data-on="On" data-off="Off"></span>
                                            <span class="switch-handle"></span>
                                          </label>
                                      </div>
                                      </td>

                                      <td>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                          <span class="label label-default">Informative</span>
                                          <span class="label label-default">Obsessive</span>
                                          <span class="label label-danger">Critical Only</span>
                                          <span class="label label-default">OFF</span>
                                        </div>
                                      </td>

                                  </tr>
                                </form>
                            {% endfor %}

                            </table>
                            <small>* auto-complets based on the recognized server incidents..</small>

                    </div>
                </div>
            </div>
        </div>


    <div id="recent_server_activities"
        class="row"
        {% if server_status|lower = "offline" %}
            style="display: none;"
        {% endif %}
        >
        <div class="col-xs-12">
            <div id="recentActivities" class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-cab"></i>Activities</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">

                    <table style="width:100%">
                      <tr>
                        <th></th>
                        <th>Time since</th>
                        <th>Date</th>
                        <th>Data</th>
                        <th></th>
                        <th></th>
                      </tr>
                      {% for event in activity %}
                      <tr>
                        <td>{{event|dict_get:"activity_type"}}</td>
                        <td>{{event|dict_get:"date_created"|timesince}} ago</td>
                        <td>{{event|dict_get:"date_created"}}</td>
                        <td>{{event|dict_get:"data"|dict_get:"message"}}</td>
                      </tr>
                      {% endfor %}
                    </table>

                </div>

            </div>
        </div>
    </div><!--/row-->

    <div id="recent_incidents"
        class="row"
        {% if server_status|lower = "offline" %}
            style="display: none;"
        {% endif %}
        >
        <div class="col-xs-12">
            <div id="recentProblems" class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-fire-extinguisher"></i>Recent Incidents</h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                  <table style="width:100%">
                    <tr>
                      <th></th>
                      <th>Service</th>
                      <th>Time since</th>
                      <th>Date</th>
                      <th>Values</th>
                    </tr>
                    {% for event in historical_service_statuses %}
                        <tr>
                          <td>{{event|dict_get:"detailed_service_status"|dict_get:"status"}}</td>
                          <td>{{event|dict_get:"service"}}</td>
                          <td>{{event|dict_get:"date"|timesince}} ago</td>
                          <td>{{event|dict_get:"date"}}</td>
                          <td>
                            {% if event|dict_get:"service" = "SYSTEM_MEMORY" %}
                                mem_used:
                                {{event|dict_get:"detailed_service_status"|dict_get:"values"|dict_get:'memory_used'}},
                                mem_free:
                                {{event|dict_get:"detailed_service_status"|dict_get:"values"|dict_get:'memory_free'}},
                                swap_used:
                                {{event|dict_get:"detailed_service_status"|dict_get:"values"|dict_get:'swap_used'}}
                            {% else %}
                                {% for e in event|dict_get:"detailed_service_status"|dict_get:"values" %}
                                    {{e}}: {{event|dict_get:"detailed_service_status"|dict_get:"values"|dict_get:e}}{% if not forloop.last %};&nbsp;&nbsp;{% endif %}
                                {% endfor %}
                            {% endif %}
                          </td>
                        </tr>
                    {% endfor %}
                  </table>
                </div>
             </div>
        </div>
    </div><!--/row-->


    <div id="running_message"
        class="panel-body"
        {% if server_status|lower = "offline" %}
            style="display: none;"
        {% endif %}
        >
        <font color="red">
        The server agent has gone offline {{server|dict_get:"last_seen"|timesince}} ago at the {{server|dict_get:"last_seen"}}
        </font>
    </div>

</div><!--/row-->

{% endblock page_content %}

{% block extra_js %}

<script src="/static/admin-assets/js/bootstrap-editable.min.js"></script>
<script src="/static/admin-assets/js/dataTables.bootstrap.min.js"></script>
<script src="/static/highcharts/highcharts.js"></script>
<script src="/static/highcharts/exporting.js"></script>
<script src="/static/js/server_detail.js"></script>
<script src="/static/js/charts_options.js"></script>
<script src="/static/js/charts.js"></script>

{% endblock extra_js %}
