

{{hwaddr}} working on this currently

<br/>
<br/>

<b>server</b> {{server}}
<hr/>

<b>cpu_usage</b> {{cpu_usage}}
<br/>
{% for cpu_metrics in cpu_usage %}
	{{cpu_metrics}}
{% endfor %}
<hr/>

<b>loadavg</b> {{loadavg}}
{% for loadavg_metrics in loadavg %}
	{{loadavg_metrics}}
{% endfor %}
<hr/>

<b>mem_usage</b> {{mem_usage}}
{% for mem_metrics in mem_usage %}
	{{mem_metrics}}
{% endfor %}
<hr/>

<b>disks_usage</b> {{disks_usage}}
{% for disks_metrics in disks_usage %}
	{{disks_metrics}}
{% endfor %}
<hr/>

<b>activity</b> {{activity}}
{% for log in activity %}
	{{log}}
{% endfor %}

