<div class="container-fluid content">
<div class="row">
		
	<!-- start: Main Menu -->
	<div class="sidebar col-md-2 col-sm-1 ">
						
		<div class="sidebar-collapse collapse">			
			
			<div class="nav-sidebar title"><span>Dashboard</span></div>
			
			<ul class="nav nav-sidebar">
				<li ><a href="/"><i class="fa fa-bank"></i><span class="hidden-sm text">Servers</span></a></li>
				
				
				
				<li>
					<ul style="display: block;">
						<li><a href="#"><i class="fa fa-folder"></i><span class="hidden-sm text"> server 1</span></a></li>
						<li><a href="#"><i class="fa fa-folder"></i><span class="hidden-sm text"> server 2</span></a></li>
						<li><a href="#"><i class="fa fa-folder"></i><span class="hidden-sm text"> server 3</span></a></li>
						<li><a href="#"><i class="fa fa-folder"></i><span class="hidden-sm text"> server 4</span></a></li>
					</ul>
					
				</li>
				
				
				{% comment %}
				<li><a href="/incidents/"><i class="fa fa-bell"></i><span class="hidden-sm text"> Servers Incidents</span> <span class="chevron closed"></span></a></li>
				{% endcomment %}
				<li><a href="/download/agent/"><i class="fa fa-plus"></i><span class="hidden-sm text"> Add New Server</span> <span class="chevron closed"></span></a></li>
			</ul>

			{% comment %}			
			<div class="nav-sidebar title"><span>Publick Cloud</span></div>
			<ul class="nav nav-sidebar">
				<li><a href="/cloud/software/"><i class="fa fa-plug"></i><span class="hidden-sm text"> Cloud Software</span> <span class="chevron closed"></span></a></li>
				<li><a href="/cloud/backups/"><i class="fa fa-database"></i><span class="hidden-sm text"> Cloud Backups</span> <span class="chevron closed"></span></a></li>
			</ul>
			{% endcomment %}
			
			{% comment %}
			<div class="nav-sidebar title"><span>Support</span></div>
			<ul class="nav nav-sidebar">
				<li><a href="/support/"><i class="fa fa-umbrella"></i><span class="hidden-sm text"> Paid Support</span> <span class="chevron closed"></span></a></li>
				<li><a href="/logs/"><i class="fa fa-bullseye"></i><span class="hidden-sm text"> System Logs</span> <span class="chevron closed"></span></a></li>
				<li><a href="/help/"><i class="fa fa-slideshare"></i><span class="hidden-sm text"> Help</span> <span class="chevron closed"></span></a></li>
			</ul>
			{% endcomment %}

			<div class="nav-sidebar title"><span>Account</span></div>
			
			<ul class="nav nav-sidebar">
				<li><a href="/account/settings/"><i class="fa fa-user"></i><span class="hidden-sm text"> Account Settings</span> <span class="chevron closed"></span></a></li>
				<li><a href="/cloud/settings/"><i class="fa fa-soundcloud"></i><span class="hidden-sm text"> Cloud Settings</span> <span class="chevron closed"></span></a></li>
				<li><a href="/logout/"><i class="fa fa-power-off"></i><span class="hidden-sm text"> Logout</span> <span class="chevron closed"></span></a></li>
			</ul>

		</div>

		<a href="#" id="main-menu-min" class="full visible-md visible-lg"><i class="fa fa-angle-double-left"></i></a>
	</div>
	<!-- end: Main Menu -->
