
<div class="container-fluid content">
<div class="row">
		
	<!-- start: Main Menu -->
	<div class="sidebar col-md-2 col-sm-1 ">
						
		<div class="sidebar-collapse collapse">
			
			
			<div class="nav-sidebar title"><span>Cloud</span></div>
			
			<ul class="nav nav-sidebar">
				<li ><a href="/"><i class="fa fa-cloud"></i><span class="hidden-sm text"> 
					Virtual Machines</span></a></li>
				<li><a href="/cloud/storage/"><i class="fa fa-folder-open-o"></i><span class="hidden-sm text"> Cloud Storage</span> <span class="chevron closed"></span></a></li>
				<li><a href="/cloud/backups/"><i class="fa fa-database"></i><span class="hidden-sm text"> Cloud Backups</span> <span class="chevron closed"></span></a></li>
				<li><a href="/cloud/software/"><i class="fa fa-archive"></i><span class="hidden-sm text"> Cloud Software</span> <span class="chevron closed"></span></a></li>
				
			</ul>
			
			<div class="nav-sidebar title"><span>Private Cloud</span></div>
			<ul class="nav nav-sidebar">
				
				<li><a href="/private/storage/"><i class="fa fa-folder-open"></i><span class="hidden-sm text"> Private Storage</span> <span class="chevron closed"></span></a></li>

				<li><a href="/private/servers/"><i class="fa fa-gears"></i><span class="hidden-sm text"> Private Servers</span> <span class="chevron closed"></span></a></li>


			</ul>




			<div class="nav-sidebar title"><span>Support</span></div>
			
			<ul class="nav nav-sidebar">
				
				<li><a href="/help/"><i class="fa fa-slideshare"></i><span class="hidden-sm text"> Help</span> <span class="chevron closed"></span></a></li>

				<li><a href="/security/"><i class="fa fa-key"></i><span class="hidden-sm text"> Security</span> <span class="chevron closed"></span></a></li>

				<li><a href="/support/"><i class="fa fa-umbrella"></i><span class="hidden-sm text"> Paid Support</span> <span class="chevron closed"></span></a></li>


			</ul>


			<div class="nav-sidebar title"><span>Account</span></div>
			
			<ul class="nav nav-sidebar">
				
				<li><a href="/account/settings/"><i class="fa fa-user"></i><span class="hidden-sm text"> Account Settings</span> <span class="chevron closed"></span></a></li>

				<li><a href="/account/settings/"><i class="fa fa-soundcloud"></i><span class="hidden-sm text"> Cloud Settings</span> <span class="chevron closed"></span></a></li>
				
				
				<li><a href="/logout/"><i class="fa fa-power-off"></i><span class="hidden-sm text"> Logout</span> <span class="chevron closed"></span></a></li>

			</ul>

		</div>
							<a href="#" id="main-menu-min" class="full visible-md visible-lg"><i class="fa fa-angle-double-left"></i></a>
					</div>
	<!-- end: Main Menu -->
