{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Support{% endblock %}

{% block page_content %}

<div class="col-md-10 col-sm-11 main ">

	<ol class="breadcrumb">
	  	<li><a href="#">Support</a></li>
	  	<li class="active">Paid Support</li>
	</ol>



	<div class="row">

							<div class="col-md-12">

								<div class="panel panel-default">
									<div class="panel-heading">
										<h2><i class="fa fa-check"></i>[#191212] Task Progress</h2>
										<div class="panel-actions">
											<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
											<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
											<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
										</div>
									</div>
									<div class="panel-body">
										<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid"><div class="row"><div class="col-lg-6"></div><div class="col-lg-6"></div></div><table class="table bootstrap-datatable datatable small-font dataTable" id="DataTables_Table_0">
											<thead>
												  <tr role="row"><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Task: activate to sort column ascending" style="width: 135px;">Task</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Assigned to: activate to sort column ascending" style="width: 106px;">Assigned to</th><th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Progress: activate to sort column ascending" style="width: 75px;">Progress</th><th class="center sorting_desc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 74px;" aria-sort="descending" aria-label="Status: activate to sort column ascending">Status</th></tr>
											  </thead>   

										<tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd">
													<td class="">Hire Developers</td>
													<td class=" ">Megan Holms</td>
													<td class=" ">
														<div class="progress thin">
														  	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width: 27%">
														    	<span class="sr-only">27% Complete (success)</span>
														  	</div>
														</div>
													</td>
													<td class="text-center text-warning  sorting_1">
														Pending
													</td>
												</tr><tr class="even">
													<td class="">A/B Tests</td>
													<td class=" ">Irina Cole</td>
													<td class=" ">
														<div class="progress thin">
														  	<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
														    	<span class="sr-only">73% Complete (success)</span>
														  	</div>
														</div>
													</td>
													<td class="text-center text-danger  sorting_1">
														Canceled
													</td>
												</tr><tr class="odd">
													<td class="">App Development</td>
													<td class=" ">John Smith</td>
													<td class=" ">
														<div class="progress thin">
														  	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
														    	<span class="sr-only">95% Complete (success)</span>
														  	</div>
														</div>
													</td>
													<td class="text-center text-success  sorting_1">
														Active
													</td>
												</tr><tr class="even">
													<td class="">Growth Hacking</td>
													<td class=" ">Alan Wane</td>
													<td class=" ">
														<div class="progress thin">
														  	<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100" style="width: 11%">
														    	<span class="sr-only">11% Complete (success)</span>
														  	</div>
														</div>
													</td>
													<td class="text-center text-primary  sorting_1">
														Active
													</td>
												</tr><tr class="odd">
													<td class="">SEO Optimisation</td>
													<td class=" ">Charly Brown</td>
													<td class=" ">
														<div class="progress thin">
														  	<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
														    	<span class="sr-only">73% Complete (success)</span>
														  	</div>
														</div>
													</td>
													<td class="text-center text-info  sorting_1">
														Active
													</td>
												</tr></tbody></table><div class="row"><div class="col-lg-12"></div><div class="col-lg-12 center"></div></div></div>	 	
									</div>
								</div>

							</div><!--/col-->






						</div>





						<div class="row">

										<div class="col-lg-6">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h2><i class="fa fa-list"></i>Support tickets</h2>
													<div class="panel-actions">
														<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
														<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
													</div>
												</div>
												<div class="panel-body">
													<table class="table bootstrap-datatable datatable small-font">
														<thead>
															<tr>
																<th>Status</th>
																<th>Date</th>
																<th>Description</th>
																<th>User</th>
																<th>Number</th>
															</tr>
														</thead>   
														<tbody>
															<tr>
																<td><span class="label label-success">Complete</span></td>
																<td>Jul 25, 2012 11:09</td>
																<td>Server problem</td>
																<td>Ashley Tan</td>
																<td><b>[#199278]</b></td>
															</tr>
															<tr>
																<td><span class="label label-warning">Suspended</span></td>
																<td>Jul 25, 2012 11:09</td>
																<td>Mobile App Problem</td>
																<td>Ann Kovalsky</td>
																<td><b>[#199277]</b></td>
															</tr>
															<tr>
																<td><span class="label label-info">In progress</span></td>
																<td>Jul 25, 2012 11:09</td>
																<td>Paypal Issue</td>
																<td>Chris Dan</td>
																<td><b>[#199276]</b></td>
															</tr>
															<tr>
																<td><span class="label label-danger">Rejected</span></td>
																<td>Jul 25, 2012 11:09</td>
																<td>IE7 Problem</td>
																<td>John Grand</td>
																<td><b>[#199275]</b></td>
															</tr>
															<tr>
																<td><span class="label label-success">Complete</span></td>
																<td>Jul 25, 2012 11:09</td>
																<td>Mobile App Problem</td>
																<td>Agnes Young</td>
																<td><b>[#199274]</b></td>
															</tr>
															<tr>
																<td><span class="label label-warning">Suspended</span></td>
																<td>Jul 25, 2012 11:09</td>
																<td>Mobile App Problem</td>
																<td>Patricia Doyle</td>
																<td><b>[#199273]</b></td>
															</tr>
															<tr>
																<td><span class="label label-info">In progress</span></td>
																<td>Jul 25, 2012 11:09</td>
																<td>Mobile App Problem</td>
																<td>Melanie Brown</td>
																<td><b>[#199272]</b></td>
															</tr>

														</tbody>
													</table>
												</div>
											</div>
										</div><!--/col-->

										<div class="col-lg-6">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h2><i class="fa fa-list"></i>Updates From The Administrator</h2>
													<div class="panel-actions">
														<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
														<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
													</div>
												</div>
												<div class="panel-body no-padding">
													<ul class="comments-list">
														<li>
															<a href="#">
																<img class="avatar" alt="Jan Paricka" src="/static/images/support/support-jan-avatar.png">
															</a>
															<div>
																<strong>[#121212]</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
															</div>
															<div class="date">4 minutes ago</div>
														</li>
														<li>
															<a href="#">
																<img class="avatar" alt="Jan Paricka" src="/static/images/support/support-jan-avatar.png">
															</a>
															<div>
																<strong>[#121212]</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
															</div>
															<div class="date">22 hours ago</div>	                                
														</li>
														<li>
															<a href="#">
																<img class="avatar" alt="Jan Paricka" src="/static/images/support/support-jan-avatar.png">
															</a>
															<div>
																<strong>[#121212]</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
															</div>
															<div class="date">2 days ago</div>		                                  
														</li>
														<li>
															<a href="#">
																<img class="avatar" alt="Jan Paricka" src="/static/images/support/support-jan-avatar.png">
															</a>
															<div>
																<strong>[#121212]</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
															</div>
															<div class="date">10 days ago</div>	                                  
														</li>
													</ul>										
												</div>	
											</div>	
											
										</div><!--/col-->	

									</div>

</div>


</div><!--/container-->
	

	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock page_content %}

