{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Support{% endblock %}

{% block page_content %}

<div class="col-md-10 col-sm-11 main ">

	<ol class="breadcrumb">
	  	<li><a href="#">Support</a></li>
	  	<li class="active">Paid Support</li>
	</ol>



	<div class="row">

					<div class="col-sm-12">
						<div class="col-sm-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2><i class="fa fa-list"></i>Support tickets</h2>
								<div class="panel-actions">
									<a href="widgets.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
									<a href="widgets.html#" class="btn-close"><i class="fa fa-times"></i></a>
								</div>
							</div>
							<div class="panel-body">
								<table class="table bootstrap-datatable datatable small-font">
									<thead>
										<tr>
											<th width="6%">Status</th>
											<th width="6%">Number</th>
											<th width="6%">Date</th>
											<th >Title</th>
										</tr>
									</thead>   
									<tbody>
										<tr>
											<td><span class="label label-success">Complete</span></td>
											<td><b>[199278]</b></td>
											<td>Today</td>
											<td>Server problem......</td>
										</tr>
										<tr>
											<td><span class="label label-warning">Suspended</span></td>
											<td><b>[199278]</b></td>
											<td>Today</td>
											<td>Server problem......</td>
										</tr>
										<tr>
											<td><span class="label label-info">In progress</span></td>
											<td><b>[199278]</b></td>
											<td>Today</td>
											<td>Server problem......</td>
										</tr>
										<tr>
											<td><span class="label label-danger">Rejected</span></td>
											<td><b>[199278]</b></td>
											<td>Today</td>
											<td>Server problem......</td>
										</tr>
										<tr>
											<td><span class="label label-success">Complete</span></td>
											<td><b>[199278]</b></td>
											<td>Today</td>
											<td>Server problem......</td>
										</tr>
										<tr>
											<td><span class="label label-warning">Suspended</span></td>
											<td><b>[199278]</b></td>
											<td>Today</td>
											<td>Server problem......</td>
										</tr>
										<tr>
											<td><span class="label label-info">In progress</span></td>
											<td><b>[199278]</b></td>
											<td>Today</td>
											<td>Server problem......</td>
										</tr>
									</tbody>
								</table>
							</div>
							</div>
					</div><!--/col-->





	</div>


</div>


</div><!--/container-->
	

	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock page_content %}

