{% extends "base.html" %}

{% load cloud_extras %}
						
{% block title %}Support{% endblock %}

{% block page_content %}

<div class="col-md-10 col-sm-11 main ">

	<ol class="breadcrumb">
		<li><a href="">Support</a></li>
		<li class="active">Tickets</li>
	</ol>


<div class="row">

	<div class="col-lg-12">
			
			{% if user.is_staff %}
			<button type="button" class="btn btn-danger btn-sm">Administrator</button><br/><br/>
			{% endif %}
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-list"></i>Support tickets</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body">
										
					<table class="table bootstrap-datatable datatable small-font">
						<thead>
							<tr>
								<th>Status</th>
								<th>Date</th>
								<th>Description</th>
								<th>User</th>
								<th>Number</th>
							</tr>
						</thead>   
						<tbody>
							<tr>
								<td><span class="label label-success">Complete</span></td>
								<td>Jul 25, 2012 11:09</td>
								<td>Server problem</td>
								<td>Jan Paricka</td>
								<td><b><a href="/support/devel/ticket">[#199278]</a></b></td>
							</tr>
							<tr>
								<td><span class="label label-warning">Suspended</span></td>
								<td>Jul 25, 2012 11:09</td>
								<td>Mobile App Problem</td>
								<td>Jan Paricka</td>
								<td><b><a href="/support/devel/ticket">[#199278]</a></b></td>
							</tr>
							<tr>
								<td><span class="label label-info">In progress</span></td>
								<td>Jul 25, 2012 11:09</td>
								<td>Paypal Issue</td>
								<td>Jan Paricka</td>
								<td><b><a href="/support/devel/ticket">[#199278]</a></b></td>
							</tr>
							<tr>
								<td><span class="label label-danger">Rejected</span></td>
								<td>Jul 25, 2012 11:09</td>
								<td>IE7 Problem</td>
								<td>Jan Paricka</td>
								<td><b><a href="/support/devel/ticket">[#199278]</a></b></td>
							</tr>
							<tr>
								<td><span class="label label-success">Complete</span></td>
								<td>Jul 25, 2012 11:09</td>
								<td>Mobile App Problem</td>
								<td>Jan Paricka</td>
								<td><b><a href="/support/devel/ticket">[#199278]</a></b></td>
							</tr>
							<tr>
								<td><span class="label label-warning">Suspended</span></td>
								<td>Jul 25, 2012 11:09</td>
								<td>Mobile App Problem</td>
								<td>Jan Paricka</td>
								<td><b><a href="/support/devel/ticket">[#199278]</a></b></td>
							</tr>
							<tr>
								<td><span class="label label-info">In progress</span></td>
								<td>Jul 25, 2012 11:09</td>
								<td>Mobile App Problem</td>
								<td>Jan Paricka</td>
								<td><b><a href="/support/devel/ticket">[#199278]</a></b></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div><!--/col-->







		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><i class="fa fa-list"></i>Latest Updates</h2>
					<div class="panel-actions">
						<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="panel-body no-padding">
					<ul class="comments-list">
						<li>
							<a href="#">
								<img class="avatar" alt="Jan Paricka" src="/static/images/support/support-jan-avatar.png">
							</a>
							<div>
								<strong>[#121212]</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							</div>
							<div class="date">4 minutes ago</div>
						</li>
						<li>
							<a href="#">
								<img class="avatar" alt="Jan Paricka" src="/static/images/support/support-jan-avatar.png">
							</a>
							<div>
								<strong>[#121212]</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							</div>
							<div class="date">22 hours ago</div>	                                
						</li>
						<li>
							<a href="#">
								<img class="avatar" alt="Jan Paricka" src="/static/images/support/support-jan-avatar.png">
							</a>
							<div>
								<strong>[#121212]</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							</div>
							<div class="date">2 days ago</div>		                                  
						</li>
						<li>
							<a href="#">
								<img class="avatar" alt="Jan Paricka" src="/static/images/support/support-jan-avatar.png">
							</a>
							<div>
								<strong>[#121212]</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							</div>
							<div class="date">10 days ago</div>	                                  
						</li>
					</ul>										
				</div>	
			</div>	
		
			<a href="/support/add/new"><button type="button" class="btn btn-primary btn-sm">Create New Support Ticket</button></a>
			<br/><br/>

		</div><!--/col-->	


	</div>
</div>


</div><!--/container-->
	

	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock page_content %}

