{% load cloud_extras %}
<html>

<link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
<head>
<title>Servers Heartbeat Visualised</title>
</head>
<body bgcolor="white">

<center>

	<a href="/demo/">
	<img src="https://raw.githubusercontent.com/ProjectCloudly/Cloudly/master/stuff/cloudly_lol.png">
	</a>

    <p>
    <h2>ProjectCloudly - Smart, Smarter, the Smartest</h2>
    <h4>{{CLOUDLY_MOTTOS|random|safe}}</h4>
    <hr/>
	<a href="/demo/">Demo</a>

	<hr/>
	<a href="/login/">Login</a>

	<hr/>
	<a href="/register/">Sign-Up</a>

	<hr/>
	<h5>Get your servers into shape! 100% free for Open Source.</h5>
	<hr/>

    <b>ProjectCloudly is an enterprise grade Real-time IT Infrastructure and Applications Monitoring platform developed under the Open Source model.</b>
    <br/>
    <br/>
    Well, what does that mean?
    <br/>
    <br/>
    <b>Enterprise Grade:</b> It was designed from “day one” to monitor tens of thousands to ultimately unlimited devices with a single instance. It brings the power, scalability and flexibility that enterprises and carriers demand.
    This is achieved thanks to the some of the coolest technologies ProjectCloudly utilises (<a href="https://www.google.com/search?q=hadoop" target="_blank">Hadoop</a>, <a href="http://opentsdb.net" target="_blank">OpenTSDB</a>, <a href="https://www.djangoproject.com" target="_blank">Django</a> and such..)
    <br/>
    <br/>
    <b>Application Platform:</b> While ProjectCloudly is useful “out of the box”, it is designed to be highly customizable and work with the industry standard <a href="https://exchange.nagios.org/directory/Plugins" target="_blank">Nagios Plugins</a> to create an unique and integrated servers monitoring solution.
    It does so fully automatically with very little or no interaction with the terminal prompt.

    <br/>
    <br/>
    <b>Open Source:</b> ProjectCloudly is 100% Free and Open Source software, with no license fees, software subscriptions or "special" versions.
    </p>

	<hr/>
	<hr/>

    <p>
    <h2>Features</h2>
    <b>Automatic Install</b>
    <br/>
    Automatic agent installation for any Unix like system (or Linux); and alternative installer scripts/packages that works in any environment.
    <br/>
    <br/>
		{% comment %}
			    <b>Automatic Plugins</b>
			    <br/>
			    Monitor anything and everything with 2,000+ <a href="https://exchange.nagios.org/directory/Plugins" target="_blank">Nagios plugins</a>!
			    <br/>
			    MongoDB, MySQL, Nginx, node.js, PostgreSQL, RabbitMQ, Redis, memcached, SQL Server, HAProxy...
			    <br/>
			    <br/>
		{% endcomment %}
    <b>Advanced server monitoring alerts</b>
    <br/>
    Get notified of problems before they affect your customers - email, SMS, push notification, web hooks with integrated escalation management.
    <br/>
    <br/>
    <b>Graph your infrastructure</b>
    <br/>
    Investigate alerts with your own real-time graphs dashboards across servers and a multiple data centres.
    <br/>
    Stack, filter and summarise all your data, kept for 30 days or forever so you can plan and spot trends.
    </p>

	<hr/>
	<hr/>

	<b>Video Manual</b>
	<br/>


    <aside class="video">
        <iframe width="800" height="590" src="https://www.youtube.com/embed/2XFu4qxc9OU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </aside>


	<hr/>
	<hr/>

	<small>
		(neat footer)
	</small>

	<hr/>

	<p>
	<b>Learn More</b><br/>
	<a href="#">About ProjectCloudly</a><br/>
	<a href="#">Getting Started With Cloudly</a><br/>
	<a href="#">Code of Conduct</a><br/>
	<a href="#">Diversity statement</a><br/>
	</p>

	<p>
	<b>Get Involved</b><br/>
	<a href="#">Join a Group</a><br/>
	<a href="#">Contribute to Cloudly</a><br/>
	<a href="#">Submit a Bug</a><br/>
	<a href="#">Report a Security Issue</a><br/>
	<a href="#">Credits</a><br/>
	</p>

	<p>
	<b>Follow Us</b><br/>
	<a href="https://github.com/ProjectCloudly" target="_blank">GitHub badge</a><br/>
	<a href="#" target="_blank">Codacy badge</a><br/>
	<a href="#">Twitter badge</a><br/>

	</p>


	<hr/>
	&copy;2016 Jan Paricka

</center>

{% include "google_analytics.html" %}

</body>
</html>
