<html>
<head>
</head>
<body bgcolor="azure">

<center>

	<H1>Fuck-Me-Cloudly</H1>

	<hr/>

	<a href="/login/">Login</a>
					
	<hr/>
	
	<a href="/register/">Sign-Up</a>
	
	<hr/>
	
	<br/>
	&copy;2014 Jan Paricka &amp; Andrej Mecir

	<br/>
	<br/>

	
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_donations">
	<input type="hidden" name="business" value="jparicka@gmail.com">
	<input type="hidden" name="lc" value="US">
	<input type="hidden" name="item_name" value="Cloud">
	<input type="hidden" name="amount" value="5.00">
	<input type="hidden" name="currency_code" value="USD">
	<input type="hidden" name="no_note" value="0">
	<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
	
</center>


</body>
</html>
