<html>
<head>
</head>
<body bgcolor="azure">

<center>

	<H1>Fuck-Me-Cloudly</H1>

	<hr/>

	<h2>Login</h2>
	<form action="/login/" method='POST' class='form-validate' id="login">{% csrf_token %}

		<input type="text" placeholder="e-mail" required name="username">
		<br/>
		<br/>
		<input type="password" placeholder="password" required name="password">

		<br/>
		<br/>

		<button>Sign in</button>

	</form>
					
	<hr/>
	
	<h2>Sign-Up</h2>
	<form action="/register/" method='POST' class='form-validate' id="register">{% csrf_token %}

		<input type="text" placeholder="name" required name="username">
		<br/>
		<br/>
		<input type="text" placeholder="email address" required name="email">
		<br/>
		<br/>
		<input type="password1" placeholder="password1" required name="password1">
		<br/>
		<br/>
		<input type="password2" placeholder="password2" required name="password2">
		<br/>
		<br/>
		<button>Register</button>

	</form>
	
	<hr/>
	
	<br/>
	<a href="/donate/">Support This Project!</a>
	<br/>
	<br/>

	<hr/>
	

	&copy;2014 Jan Paricka &amp; Andrej Mecir
	
</center>


</body>
</html>
