{% load cloud_extras %}
<html>

<link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
<head>
<title>Servers Heartbeat Visualised</title>
</head>
<body bgcolor="white">

<center>

  <p>
    <h5>Your Servers Heartbeat Visualised</h5>
  <h2>Cloud based Servers Visualization</h2>
  <hr/>
	<a href="/demo/">Demo</a>

	<hr/>
	<a href="/login/">Login</a>

	<hr/>
	<a href="/register/">Sign-Up</a>

	<hr/>
	<h5>Get your servers into shape! 100% free for developers.</h5>

  <hr/>
    What is Cloudly?<br/>
    Who needs this?<br/>
    What can I do with Cloudly?<br/>
    How is this different from other monitoring tools?<br/>

  <hr/>


  <small>
    (neat footer)
  </small>

	<hr/>
	&copy;2016 Jan Paricka

</center>

{% include "google_analytics.html" %}

</body>
</html>
