<h2>What is Project Cloudly?</h2>

Project Cloudly is "The Easiest To Setup" software to Monitor and to control your servers. It's a first line of defence for your servers and also the ultimate Management Dashboard for your Cloud. It saves you money and the energies by taking away most of the usual servers' monitoring complexities allowing you to focus more on control and better use of your infrastructure.
<br/>
<br/>
Cloudly also comes with more than 100+ ready to use plugins for packages and various software products. It's fully automated and does the servers monitoring for you with close to nothing to setup.
<br/>
<br/>
Enjoy! :)
<br/>

<br/>
<br/>
<a href="/">Start!</a>

<br/>
<br/>
<a href="/logout/">Logout</a>
