
XXX Page title


<h2>What is Project Cloudly?</h2>
Project Cloudly is "The Easiest To Setup" software to Monitor and to control your servers.<br/>
It's totally free and open source and comes with sophisticated alerting.

<br/>
<br/>

<a href="/download/agent/"><img src="/static/images/web/banner_commercial.jpg"></a>
<br/>
<font size="2">..sorry for the commercial lol :P</font>
<br/>
<br/>
<br/>
<a href="/download/agent/">Start!</a>
<br/>
<br/>
<a href="/logout/">Logout</a>

{% include "google_analytics.html" %}
