<h2>Hello and welcome to the cloud!</h2>

What is F*ckmecloudly?
<br/>
It's a tool for centralised management of your Cloud (both public and private one).
<br/>
It saves you money and energy by taking away most of the usual cloud complexities allowing you to focus on control and better use of your infrastructure.  It also expands on usage cases of your current cloud solution without the need to switch over cloud providers.  It's almost a magical cloud solution that works!
<br/>

<br/>
<a href="/">Start Cloud!</a>

<br/>
<br/>
<a href="/logout/">Logout</a>
